.qudos_expbutton {
    outline: none;
    border: none;
    /* padding: 20px; */
    display: block;
    margin: 50px auto 0px;
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    position: relative;
    border-radius: 10px;
    background: #1f8dc6;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.effect {
    overflow: hidden;
}

.effect span {
    color: #fff;
    display: inline-block;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}


.effect .icon {
    position: absolute;
    left: -60px;
    /* top: -20px; */
    color: #fff;
    padding: 25px;
    background-color: #1f8dc6;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    background: url('../img/qudos_driver.png') center center;
    background-size: 55px;
    background-repeat: no-repeat;
}

.effect:hover .icon {
    left: 0px;
}

.effect .icon2 {
    position: absolute;
    left: -60px;
    /* top: -20px; */
    color: #fff;
    padding: 25px;
    background-color: #1f8dc6;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    background: url('../img/qudos_rider.png') center center;
    background-size: 55px;
    background-repeat: no-repeat;
}

.effect:hover .icon2 {
    left: 0px;
}

.effect:hover span {
    color: #fff;
    margin-left: 50px;
}

.dropdown-menu {
    width: 300px !important;
    height: auto !important;
    right: 0 !important;
    left: 5px !important;
    background: #fff;
    border-radius: 5px;
}

img.header__img {
    box-shadow: 0px 0px 10px 0px #a9a9a9;
    border-radius: 15px;
}

.dropdown-toggle::after {
    content: none !important;
}

.header__text {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
}

.header__divider {
    border-bottom: 1px solid #363945;
    border-radius: 15px;
    margin: 10px 20px 10px;
}

section.section.values .section__title:before {
    left: 50%;
    transform: translateX(-50%);

}