.banner {
    background: #fff url(../img/start_waverbanner.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.speech-bubble-header:after {
    top: 48%;
    margin-right: -49px;
}

.floater {
    padding: 0;
}

.footer .container .row div.col-sm-12:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

@media (max-width: 1024px) {
    .section_two .img_content_second-section img {
        position: relative;
        top: 40px;
    }
}

@media (max-width: 800px) {
    .section_one .img_content_first-section img {
        position: relative;
        top: 40px;
    }

    .qudos_content.left-side p,
    .qudos_content.right-side p {
        font-size: 18px;
    }

    .section_two .img_content_second-section img {
        position: relative;
        top: 70px;
    }

    .section_three {
        padding: 100px 0px 150px;
    }

    .section_three .img_content_third-section img {
        position: relative;
        top: 100px;
    }

    .third_section_blurb {
        margin-left: -190px;
        margin-top: -35px;
        margin-right: 0;
    }

    .fourth_section_blurb {
        margin-right: -140px;
        margin-top: -80px;
        margin-left: 0;
    }

    .section_four .img_content_fourth-section img {
        position: relative;
        top: 40px;
    }

    .footer {
        font-size: 14px;
    }

    .footer h2 {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .speech-bubble-right:after {
        margin-top: 19px;
    }

    .speech-bubble:after {
        margin-top: 19px;
    }
}

@media (max-width: 640px) {

    .qudos_button {
        text-align: center;
    }

    .banner .container {
        padding: 0px 0px 0px;
    }


    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.35em;
    }

    h3,
    h4 {
        font-size: 15px;
    }

    p {
        font-size: 1em !important;
        text-align: center;
    }

    .header__logo {
        height: 50px;
        margin-left: -5px;
        margin-right: 10px;
    }

    .header__btn {
        margin-right: 40px;
    }

    .section-card {
        padding: 30px;
        text-align: center;
    }

    .qudos-divider {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .card-body {
        padding: 0px 20px 10px 20px;
    }

    .card-header {
        padding: 20px 20px 20px 20px;
    }

    .footer {
        text-align: center;
        padding: 30px 0px 0px;
        font-size: 15px;
    }

    .footer__small {
        margin-left: 30px;
    }

    .footer__link {
        margin-right: 30px;
    }

    .banner {
        margin-top: 100px;
    }

    .img_content_headingimg {
        margin-top: 50px;
    }

    .header_blurb {
        margin: 0px auto;
    }

    .first_section_blurb,
    .third_section_blurb,
    .mobile-hidden {
        display: none !important;
    }

    .qright,
    .qleft {
        width: 100% !important;
    }

    .mobile-show {
        display: contents !important;
    }

    .second_section_blurb {
        margin-right: 0px;
        margin-bottom: 45px;
        margin-left: 0;
        margin-top: 0px;
    }

    .fourth_section_blurb {
        margin-right: 0px;
        margin-bottom: 45px;
        margin-left: 0px;
        margin-top: 0px;
    }

    .img_content_starwoman img {
        margin-left: -5px;
    }

    .footer h2 {
        width: 50%;
        font-size: 18px;
    }

    .section_one,
    .section_two,
    .section_three,
    .section_four {
        padding: 50px 0px 50px;
    }

    .desktop-hidden {
        display: contents !important;
    }

    .found {
        display: contents !important;
        width: 100% !important;
    }


    .clouds_transitions {
        position: relative;
    }

    img.clouds_transitions.cloud1 {
        position: absolute !important;
        top: 81%;
        bottom: 0;
        left: 10%;
        width: 15%;
    }


    img.clouds_transitions.cloud2 {
        position: absolute !important;
        top: 65%;
        bottom: 0;
        left: 15%;
        width: 25%;
    }

    img.clouds_transitions.cloud3 {
        position: absolute !important;
        top: 80%;
        bottom: 0;
        left: 65%;
        width: 15%;
    }

    .speech-bubble-header {
        position: relative;
        border-radius: .4em;
    }

    .speech-bubble-header:after {
        content: '';
        position: absolute;
        bottom: 0;
        margin-top: 95px;
        left: 52%;
        width: 0;
        height: 0;
        border: 30px solid transparent;
        border-color: transparent transparent #ffffff #ffffff;
        -webkit-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
                transform-origin: 0 0;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        -webkit-box-shadow: -3px 3px 3px 0px rgba(33, 142, 199, 0.32);
                box-shadow: -3px 3px 3px 0px rgba(33, 142, 199, 0.32);
        margin-left: -50px;
    }

    .speech-bubble {
        position: relative;
        border-radius: .4em;
    }

    .speech-bubble:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        margin-left: -0.5em;
        bottom: -59px;
        left: 43%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border: 30px solid black;
        border-color: transparent transparent #ffffff #ffffff;
        -webkit-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
                transform-origin: 0 0;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        -webkit-box-shadow: -3px 3px 3px 0px rgba(33, 142, 199, 0.26);
                box-shadow: -3px 3px 3px 0px rgba(33, 142, 199, 0.26);
    }

    .speech-bubble-right {
        position: relative;
        background: #cbcbcb;
        border-radius: .4em;
    }

    .speech-bubble-right:after {
        content: '';
        position: absolute;
        bottom: 0;
        margin-top: 95px;
        left: 50%;
        width: 0;
        height: 0;
        border: 50px solid transparent;
        border-top-color: #fff;
        border-bottom: 0;
        margin-left: -50px;
        margin-bottom: -50px;
    }

    .section_two .img_content_second-section img {
        position: relative;
        top: 32px;
    }

    .second_section_blurb {
        margin-right: auto;
        margin-bottom: 45px;
        margin-left: auto;
        margin-top: 0px;
    }

    .section_three .img_content_third-section img {
        position: relative;
        top: 15px;
    }
}


@media (max-width: 480px) {
    .header_blurb {
        margin: 0px 15px;
    }

    .section-card {
        padding: 24px;
    }

    .speech-bubble-header:after {
        top: 50%;
    }
}

@media (max-width: 414px) {
    .banner .section-card {
        padding: 14px;
    }

    .visible-375 {
        display: block;
    }

    .section_three .speech-bubble:after {
        left: 39%;
    }

    .section_four .speech-bubble:after {
        left: 41%;
    }
}

@media (max-width: 360px) {
    .speech-bubble:after {
        left: 41%;
    }

    .section_one .img_content_first-section img {
        top: 24px;
    }

    .section_four .img_content_fourth-section img {
        top: 30px;
    }

    .section_four .qudos_content {
        padding: 70px 0px 0px 0px;
    }

    .section_four .qudos_content p {
        margin-bottom: 0;
    }
}

@media (max-width: 320px) {
    h1 {
        font-size: 24px;
    }

    .qudos-divider {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .speech-bubble-header:after {
        top: 39%;
    }

    .visible-375 {
        display: inline;
    }

    .speech-bubble:after {
        left: 40%;
    }

    .section_four .speech-bubble:after {
        left: 39%;
    }

    .footer_content {
        font-size: 12px;
    }
}.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}