@media (max-width: 480px) {
    .why-qudos__section--2 {
        padding-bottom: 9rem;
    }

    .why-qudos__section--2-2 {
        margin-top: 0;
        display: flex;
        align-items: center;
    }

    .why-qudos__section--2-3 {
        display: flex;
        align-items: center;
        height: 70rem;
    }

    .why-qudos__section--5 {
        height: 65rem;
    }
}

@media (max-width: 414px) {
    .why-qudos__section--2 {
        height: 100rem;
    }
}

@media (max-width: 320px) {
    .why-qudos__section--1 .col-sm-8 {
        top: 3prem;
    }

    .why-qudos__section--1 .col-sm-8 img {
        z-index: 3;
    }

    .why-qudos__section--1 .col-sm-8 svg {
        top: 4rem;
        position: relative;
        z-index: 1;
    }

    .why-qudos__section--2 {
        padding-top: 0;
        height: 75rem;
    }

    #sec-2-img {
        margin-top: 0;
    }
}