.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}@media (max-width: 600px) {
    .speech-bubble-header:after {
        left: 52%;
    }

    .speech-bubble:after {
        left: 43%;
    }

    .speech-bubble-right:after {
        margin-top: 114px;
        left: 52%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-box-shadow: -4px 4px 3px 0px rgba(33, 142, 199, 0.26);
                box-shadow: -4px 4px 3px 0px rgba(33, 142, 199, 0.26);
        border: 30px solid black;
        border-color: transparent transparent #ffffff #ffffff;
        -webkit-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
                transform-origin: 0 0;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }

    .section_two .speech-bubble:after {
        left: 44%;
    }

    .first_section_blurb,
    .second_section_blurb,
    .third_section_blurb,
    .fourth_section_blurb {
        margin: 20px auto 55px auto;
    }

    .section_three .speech-bubble:after {
        margin-top: 46px;
    }

    .section_four .speech-bubble:after {
        margin-top: 46px;
    }
}

@media (max-width: 480px) {
    .section_four .speech-bubble:after {
        margin-top: 59px;
    }
}

@media (max-width: 414px) {
    .speech-bubble-header:before {
        bottom: -300px;
    }

    .speech-bubble:after {
        left: 42%;
        margin-top: 59px;
    }

    .section_two .speech-bubble:after {
        left: 42%;
    }

    .section_three .speech-bubble:after {
        margin-top: 59px;
    }

    .section_four .speech-bubble:after {
        left: 42%;
    }
}

@media (max-width: 384px) {
    .speech-bubble:after {
        margin-top: 71px;
    }
}

@media (max-width: 375px) {
   .visible-375 {
       display: block;
   }
}

@media (max-width: 360px) {
    .visible-375 {
        display: inline;
    }

    .visible-360 {
        display: block;
    }

    .speech-bubble:after {
        margin-top: 56px;
    }

    .section_three .second_section_blurb {
        width: 300px;
        margin: 20px auto 55px auto;
    }

    .section_two .speech-bubble:after {
        left: 41%;
    }

    .section_three .speech-bubble:after {
        margin-top: 55px;
    }

    .section_three .speech-bubble:after {
        left: 40%;
        margin-top: 56px;
    }

    .section_four .speech-bubble:after {
        left: 41%;
        margin-top: 55px;
    }
}

@media (max-width: 320px) {
    h1 {
        font-size: 24px;
    }

    h3, h4 {
        font-size: 14px;
    }

    h2 {
        font-size: 16px;
    }

    p {
        font-size: 14px !important;
    }

    .img_content_headingimg img {
        max-width: 58%;
    }

    .img_content_third-section {
        margin-top: 0px;
    }

    .qudos-divider {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .section_two .speech-bubble:after {
        margin-top: 38px;
        left: 38%;
    }

    .section_three .speech-bubble:after {
        left: 40%;
        margin-top: 38px;
    }

    .section_three .container .qudos_content.right-side {
        padding: 25px 20px 0px;
    }

    .section_three .container .qudos_content.right-side p {
        margin-bottom: 0;
    }

    .speech-bubble-header:after {
        margin-top: 80px;
    }

    .speech-bubble-header:before {
        bottom: -270px;
    }

    .speech-bubble:after {
        left: 40%;
        margin-top: 38px;
    }

    .section_four .speech-bubble:after {
        margin-top: 38px;
    }
}