.start-qudos .service-wrap {
    background-image: none;
    background-color: #dbdbdb;
}

.start-qudos .footer span {
    color: #000;
}

.start-qudos .footer a {
    color: #000;
}

.start-qudos .footer p {
    color: #000;
}

.start-qudos .footer i {
    color: #000;
}

.start-qudos .footer small {
    color: #000;
}

section {
    font-size: initial;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 1rem;
}

.header__menu span {
    background-color: black;
}

.header__btn {
    background-image: -moz-linear-gradient(90deg, #254870 0%, #142f51 36%, #021532 99%);
    background-image: -webkit-linear-gradient(90deg, #254870 0%, #142f51 36%, #021532 99%);
    background-image: -ms-linear-gradient(90deg, #254870 0%, #142f51 36%, #021532 99%);
    background-image: linear-gradient(90deg, #254870 0%, #142f51 36%, #021532 99%);
}

@media only screen and (min-width: 1200px) {
    .svg-container {
        margin-top: 6em;
    }

    h1 {
        font-size: -webkit-xxx-large;
        font-weight: bold;
    }
}

@media (max-width: 800px) {
    .svg-container {
        margin-top: 8rem;
    }
}

@media (max-width: 600px) {
    .svg-container {
        /* margin-top: 13em; */
    }
}