$color_1: #000;
$color_2: #dbdbdb;
$color_3: #0f1423;
$color_4: #fff;
$color_5: rgba(255, 255, 255, 0.52);
$color_6: rgba(255, 255, 255, 0.6);
$color_7: #626262;
$color_8: #228ec8;
$color_9: #676767;
$color_10: #333333;
$font_family_1: 'Montserrat', sans-serif;
$background_color_1: #fff;
$background_color_2: transparent;
$background_color_3: #000;
$background_color_4: #0f1423;

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: 100%;
}
body.help {
	height: 100%;
	font-family: $font_family_1;
	font-weight: 400;
	background-color: $background_color_1;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden !important;
}
button {
	padding: 0;
	border: none;
	background-color: $background_color_2;
	&:focus {
		outline: none;
	}
}
a {
	-webkit-transition: 0.4s ease;
	-moz-transition: 0.4s ease;
	transition: 0.4s ease;
	display: inline-block;
	&:hover {
		outline: none;
		text-decoration: none;
	}
	&:active {
		outline: none;
		text-decoration: none;
	}
	&:focus {
		outline: none;
		text-decoration: none;
	}
}
object {
	pointer-events: none;
}
input {
	padding: 0;
	margin: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	&:focus {
		outline: none;
	}
}
textarea {
	padding: 0;
	margin: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	&:focus {
		outline: none;
	}
}
select {
	padding: 0;
	margin: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	&:focus {
		outline: none;
	}
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1 {
	font-size: 44px;
	font-weight: 500;
}
h2 {
	font-size: 36px;
	font-weight: 500;
}
h3 {
	font-size: 22px;
	font-weight: 500;
}
h4 {
	font-size: 18px;
	font-weight: 400;
}
p {
	font-size: 16px;
}

.footer {
	display: block;
	position: relative;
}
.footer__line {
	display: block;
	width: 100%;
	height: 1px;
	opacity: 0.08;
	margin-bottom: 150px;
	background-image: -moz-linear-gradient(-35deg, #9e81ff 0%, #8c6afa 100%);
	background-image: -webkit-linear-gradient(-35deg, #9e81ff 0%, #8c6afa 100%);
	background-image: -ms-linear-gradient(-35deg, #9e81ff 0%, #8c6afa 100%);
	background-image: linear-gradient(-35deg, #9e81ff 0%, #8c6afa 100%);
}
.footer__title {
	display: block;
	font-size: 16px;
	color: $color_5;
	font-family: $font_family_1;
	font-weight: 500;
}
.footer__list {
	margin-bottom: 35px;
	li {
		display: block;
	}
	a {
		display: inline-block;
		margin-top: 5px;
		font-size: 12px;
		color: $color_6;
		text-decoration: none;
		&:hover {
			color: $color_4;
		}
	}
}
.footer__text {
	font-size: 12px;
	line-height: 26px;
	color: $color_6;
	margin-top: 5px;
	a {
		text-decoration: none;
		color: $color_6;
		&:hover {
			color: $color_4;
		}
	}
}
.footer__logo {
	display: inline-block;
	position: absolute;
	bottom: 100%;
	margin-bottom: 40px;
	object {
		width: 126px;
	}
}
.footer__title--download {
	padding-top: 30px;
}
.footer__social {
	li {
		display: inline-block;
		float: left;
		width: 25%;
		margin-top: 30px;
	}
	a {
		display: block;
		text-align: center;
		opacity: 0.52;
		&:hover {
			opacity: 1;
		}
	}
}
.footer__copyright {
	position: relative;
	display: block;
	padding: 35px 0;
	margin-top: 50px;
	&:before {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 1px;
		opacity: 0.05;
		top: 0;
		left: 0;
		background-image: -moz-linear-gradient(-35deg, #9e81ff 0%, #8c6afa 100%);
		background-image: -webkit-linear-gradient(-35deg, #9e81ff 0%, #8c6afa 100%);
		background-image: -ms-linear-gradient(-35deg, #9e81ff 0%, #8c6afa 100%);
		background-image: linear-gradient(-35deg, #9e81ff 0%, #8c6afa 100%);
	}
}
.footer__rights {
	display: none;
}
.footer__small {
	font-size: 12px;
	display: inline-block;
	float: left;
	color: $color_5;
	line-height: 18px;
	opacity: 0.52;
	svg {
		display: inline-block;
		float: left;
		margin-right: 3px;
	}
}
.footer__link {
	display: inline-block;
	float: right;
	font-size: 12px;
	color: $color_5;
	line-height: 18px;
	opacity: 0.52;
	&:hover {
		color: $color_4;
	}
}
.footer--white {
	background: #e6e7e8;
	.footer__title {
		color: $color_1;
	}
	.footer__text {
		color: $color_7;
		a {
			color: $color_7;
		}
	}
	.footer__list {
		li {
			a {
				color: $color_7;
			}
		}
	}
	.footer__small {
		color: $color_7;
	}
	.footer__link {
		color: $color_7;
	}
	.footer__social {
		li {
			width: auto;
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
		}
		a {
			opacity: 1;
		}
	}
	.footer__copyright {
		padding: 26px 0;
	}
	.footer__logo {
		object {
			margin-left: -7px;
		}
	}
}
h2.banner__title {
	color: $color_8;
	font-weight: bold;
}
h3.banner__text {
	font-weight: 300;
	color: $color_9;
}
h2.section-three__title {
	color: $color_4;
}
h3.section-three__text {
	color: $color_4;
}
ul.footer__social {
	li {
		a {
			color: $color_10;
			font-size: 24px;
		}
	}
}
.section_one {
	padding: 100px 0;
	background: #fff url("../img/help/section1_bg.png") no-repeat bottom right;
	background-size: 450px;
	background-repeat: no-repeat;
	background-position-y: 500px;
}
.section_two {
	padding: 100px 0;
	background: #228ec8 url("../img/help/section2_bg.png") no-repeat bottom left;
	background-size: 450px;
	background-repeat: no-repeat;
	background-position-y: 500px;
}
.section_three {
	padding: 100px 0;
	background: #233041 url("../img/help/section3_bg.png") no-repeat bottom right;
	background-size: 450px;
	background-repeat: no-repeat;
	background-position-y: 430px;
}
.section-one__text {
	font-weight: 100;
}
.section-two__text {
	font-weight: 100;
}
.section-three__text {
	font-weight: 100;
}
.bg-wrap {
	display: block;
	position: relative;
	background-image: -o-linear-gradient(320deg, #171f2d 0%, #0d111c 34%, #03030a 100%);
	background-image: linear-gradient(130deg, #171f2d 0%, #0d111c 34%, #03030a 100%);
	z-index: 1;
}
.banner_divider {
	margin-top: 20px;
	margin-bottom: 20px;
	height: 5px;
	width: 100px;
	border-radius: 1em;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, #83B9DA), color-stop(50%, #83B9DA), color-stop(59%, #1F8EC7));
	background-image: -o-linear-gradient(left, #83B9DA 10%, #83B9DA 50%, #1F8EC7 59%);
	background-image: linear-gradient(90deg, #83B9DA 10%, #83B9DA 50%, #1F8EC7 59%);
}
.qudos_btn {
	color: $color_4;
	font-weight: 500;
	border-radius: 10px;
	text-align: center;
	background-image: -o-linear-gradient(left, #254870 0%, #142f51 36%, #021532 99%);
	background-image: -webkit-gradient(linear, left top, right top, from(#254870), color-stop(36%, #142f51), color-stop(99%, #021532));
	background-image: linear-gradient(90deg, #254870 0%, #142f51 36%, #021532 99%);
	padding: 15px 75px;
	-webkit-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
	margin-top: 20px;
	-webkit-transition: 1.3s;
	-o-transition: 1.3s;
	transition: 1.3s;
	&:hover {
		color: $color_4;
		background: #021532;
		background: -o-linear-gradient(left, #021532 0%, #254870 100%);
		background: -webkit-gradient(linear, left top, right top, from(#021532), to(#254870));
		background: linear-gradient(to right, #021532 0%, #254870 100%);
	}
}
.btn_other_blue {
	background: #228ec8 !important;
}

.masthead-wrap {
	background: #fafafa url("../img/help/banner_bg_top.png") no-repeat top left;
	background-position-x: 0px;
	background-position-y: 0px;
}
.masthead {
	height: 100vh;
	min-height: 500px;
	background: url("../img/help/banner_circlebg.png") no-repeat bottom right;
	background-size: auto;
	background-repeat: no-repeat;
	background-position-y: 200px;
}
.col-xs-6 {
	width: 50%;
	padding-left: 15px;
	padding-right: 15px;
}
@media (min-width: 480px) {
	.header {
		.container {
			padding-right: 30px;
			padding-left: 30px;
		}
	}
}
@media (min-width: 768px) {
	.header {
		.container {
			padding-right: 15px;
			padding-left: 15px;
		}
	}
	.header__content {
		&:before {
			display: none;
		}
	}
	.header__menu {
		display: none;
	}
	.header__btn {
		margin: 0;
		width: 160px;
	}
	.header__logo {
		height: 45px;
		margin-left: -8px;
		object {
			width: 160px;
		}
	}
	.header__nav {
		position: absolute;
		flex-direction: row;
		align-items: center;
		width: auto;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		padding: 0;
		right: 220px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		transform: translateY(-50%);
		background-color: $background_color_2;
		a {
			margin: 0 0 0 30px;
			color: $color_1 !important;
			&:hover {
				color: $color_1;
			}
		}
		a.desk {
			display: none;
		}
	}
	.header__social {
		display: none;
	}
	.header--active {
		.header__nav {
			a {
				color: $color_1 !important;
				&:hover {
					color: $color_3;
				}
			}
		}
	}
	.header--white {
		.header__nav {
			a {
				color: $color_1 !important;
				&:hover {
					color: $color_3;
				}
			}
			right: 0;
		}
	}
	.footer__social {
		a {
			text-align: left;
			display: inline-block;
		}
	}
	.footer__rights {
		display: inline-block;
		float: left;
		margin-left: 40px;
		font-size: 12px;
		color: $color_5;
		line-height: 18px;
		opacity: 0.52;
	}
	.footer__copyright {
		padding: 40px 0;
		margin-top: 15px;
	}
	.footer--white {
		.footer__rights {
			color: $color_7;
		}
	}
}
@media (min-width: 1200px) {
	.header__content {
		padding: 0 65px;
	}
	.header__nav {
		right: 285px;
	}
	.header--white {
		.header__content {
			padding: 0 95px;
		}
		.header__nav {
			right: 95px;
		}
	}
	.footer__line {
		margin-bottom: 120px;
	}
	.footer__copyright {
		padding: 50px 0;
	}
}
@media (min-width: 481px) {
	.footer--white {
		background: #e6e7e8;
	}
}
@media (max-width: 425px) {
	.footer__logo {
		display: block;
		position: relative;
		margin: 0 auto;
		text-align: center;
	}
	.footer__title {
		text-align: center;
	}
	.footer__list {
		text-align: center;
		li.app_image {
			img {
				width: 40%;
				width: 40%;
			}
		}
	}
	.footer__text {
		text-align: center;
	}
	.footer__social {
		li {
			display: block;
			float: left;
			width: 17% !important;
			margin-top: 30px;
		}
	}
	.footer__title--download {
		margin-top: 10px;
	}
	ul.footer__social.clearfix {
		text-align: center;
		margin: 0 auto;
	}
}
@media (min-width: 992px) {
	.footer__logo {
		position: relative;
		bottom: auto;
		margin-top: -20px;
		margin-bottom: 30px;
		margin-left: -12px;
	}
	.footer__line {
		margin-bottom: 100px;
	}
	.footer__social {
		li {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
	.footer__title--connect {
		margin-bottom: 10px;
	}
	.footer__title--download {
		padding-top: 30px;
	}
}
@media only screen and (max-width: 375px) {
	h1 {
		font-size: 36px;
		font-weight: bold;
	}
	h2 {
		font-size: 34px;
		font-weight: 600;
	}
	h3 {
		font-size: 16px;
		font-weight: 400 !important;
	}
	h4 {
		font-size: 14px;
	}
	p {
		font-size: 12px;
	}
	.masthead-wrap {
		background-position-x: -110px;
		background-position-y: -240px;
	}
	.masthead {
		height: 100vh;
		min-height: 500px;
		background-size: 700px;
		background-repeat: no-repeat;
		background-position-y: 450px;
		background-position-x: 30%;
		padding: 200px 0;
	}
	.header__content {
		&:before {
			content: none;
		}
	}
	.section_one {
		background-image: none;
	}
	.section_two {
		background-image: none;
	}
	.section_three {
		background-image: none;
	}
	section {
		padding: 100px 15px !important;
	}
	.top__part-image {
		padding-bottom: 50px;
	}
	.bottom__part-image {
		padding: 50px 0px;
	}
}
@media only screen and (min-width: 320px) {
	h1 {
		font-size: 36px;
		font-weight: bold;
	}
	h2 {
		font-size: 34px;
		font-weight: 600;
	}
	h3 {
		font-size: 16px;
		font-weight: 400 !important;
	}
	h4 {
		font-size: 14px;
	}
	p {
		font-size: 12px;
	}
	.masthead-wrap {
		background-position-x: -110px;
		background-position-y: -240px;
	}
	.masthead {
		height: 100vh;
		min-height: 500px;
		background-size: 700px;
		background-repeat: no-repeat;
		background-position-y: 450px;
		background-position-x: 30%;
		padding: 200px 0;
	}
	.header__content {
		&:before {
			content: none;
		}
	}
	.section_one {
		background-image: none;
	}
	.section_two {
		background-image: none;
	}
	.section_three {
		background-image: none;
	}
	section {
		padding: 100px 15px !important;
	}
	.top__part-image {
		padding-bottom: 50px;
	}
	.bottom__part-image {
		padding: 50px 0px;
	}
}
@media only screen and (min-width: 411px) {
	h1 {
		font-size: 36px;
		font-weight: bold;
	}
	h2 {
		font-size: 34px;
		font-weight: 600;
	}
	h3 {
		font-size: 16px;
		font-weight: 400 !important;
	}
	h4 {
		font-size: 14px;
	}
	p {
		font-size: 12px;
	}

	.masthead-wrap {
		background-position-x: -110px;
		background-position-y: -240px;
	}
	.masthead {
		height: 100vh;
		min-height: 500px;
		background-size: 700px;
		background-repeat: no-repeat;
		background-position-y: 450px;
		background-position-x: 30%;
		padding: 200px 0;
	}
	.header__content {
		&:before {
			content: none;
		}
	}
	.section_one {
		background-image: none;
	}
	.section_two {
		background-image: none;
	}
	.section_three {
		background-image: none;
	}
	section {
		padding: 100px 15px !important;
	}
	.top__part-image {
		padding-bottom: 50px;
	}
	.bottom__part-image {
		padding: 50px 0px;
	}
}
@media only screen and (min-width: 768px) {
	h1 {
		font-size: 38px;
	}
	h2 {
		font-size: 36px;
	}
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 16px;
	}
	p {
		font-size: 14px;
	}

	.masthead-wrap {
		background-position-x: 0px;
		background-position-y: -250px;
	}
	.masthead {
		height: 100vh;
		min-height: 500px;
		background-size: 700px;
		background-repeat: no-repeat;
		background-position-y: 200px;
		background-position-x: 500%;
	}
	.section_one {
		background-size: 250px;
		background-repeat: no-repeat;
		background-position-y: 575px;
		background-position-x: 120%;
	}
	.section_two {
		background-size: 250px;
		background-repeat: no-repeat;
		background-position-y: 600px;
	}
	.section_three {
		background-size: 250px;
		background-repeat: no-repeat;
		background-position-y: 575px;
		background-position-x: 120%;
	}
}
@media only screen and (min-width: 992px) {
	.masthead-wrap {
		background-position-x: 0px;
		background-position-y: -200px;
	}
	.masthead {
		height: 100vh;
		min-height: 500px;
		background-size: 700px;
		background-repeat: no-repeat;
		background-position-y: 200px;
		background-position-x: 150%;
	}
	.section_one {
		background-size: 300px;
		background-repeat: no-repeat;
		background-position-y: 600px;
		background-position-x: 115%;
	}
	.section_two {
		background-size: 300px;
		background-repeat: no-repeat;
		background-position-y: 650px;
	}
	.section_three {
		background-size: 300px;
		background-repeat: no-repeat;
		background-position-y: 550px;
		background-position-x: 120%;
	}
}
@media only screen and (min-width: 1200px) {
	h1 {
		font-size: 44px;
		font-weight: bold;
	}
	h2 {
		font-size: 36px;
		font-weight: 500;
	}
	h3 {
		font-size: 22px;
		font-weight: 500;
	}
	h4 {
		font-size: 18px;
		font-weight: 400;
	}
	p {
		font-size: 16px;
	}
	.masthead-wrap {
		background-position-x: 0px;
		background-position-y: -175px;
	}
	.masthead {
		height: 100vh;
		min-height: 500px;
		background-size: auto;
		background-repeat: no-repeat;
		background-position-y: 200px;
		background-position-x: 155%;
	}
	.section_one {
		background-size: 450px;
		background-repeat: no-repeat;
		background-position-y: 500px;
		background-position-x: 115%;
	}
	.section_two {
		background-size: 450px;
		background-repeat: no-repeat;
		background-position-y: 600px;
	}
	.section_three {
		background-size: 450px;
		background-repeat: no-repeat;
		background-position-y: 430px;
		background-position-x: 115%;
	}
}
@media only screen and (min-width: 1920px) {

	.masthead-wrap {
		background: #fafafa url("../img/help/banner_bg_top.png") no-repeat top left;
		background-position-x: 0px;
		background-position-y: 0px;
	}
	.masthead {
		height: 100vh;
		min-height: 500px;
		background: url("../img/help/banner_circlebg.png") no-repeat bottom right;
		background-size: auto;
		background-repeat: no-repeat;
		background-position-y: 200px;
	}
	.section_one {
		background: #fff url("../img/help/section1_bg.png") no-repeat bottom right;
		background-size: 450px;
		background-repeat: no-repeat;
		background-position-y: 500px;
	}
	.section_two {
		background: #228ec8 url("../img/help/section2_bg.png") no-repeat bottom left;
		background-size: 450px;
		background-repeat: no-repeat;
		background-position-y: 500px;
	}
	.section_three {
		background: #233041 url("../img/help/section3_bg.png") no-repeat bottom right;
		background-size: 450px;
		background-repeat: no-repeat;
		background-position-y: 430px;
	}
}
