.rider-signup {
    #main-hidden1 {
        p {
            line-height: 2rem;
        }
    }
    #six-step.submit.disabled {
        opacity: 0.6;
        background: grey;
        cursor: not-allowed;
     }

     .popup-main-content {
        input.location-add {
            background: url(../img/location.png) 1.9rem 1.4rem no-repeat;
            background-size: 1.5rem;
         }
     }

    .header__menu {
        span {
            background-color: black;
        }
    }

    .sign {
        display: block;
        background: url(../img/affiliate-login/credentials_background.jpg) center center;
        margin-top: 8.8rem;
        background-position-y: 0;
        background-size: cover;
        padding: 15rem 0;
        background-repeat: space;
    }

    .popup-main-content {
        .submit {
            width: 100%;
            color: white !important;
        }
    }

    .btn--next {
        p {
           a {
            color: $qudos-darkgrey;
           }
        }
    }
}

@media (min-width: 768px) {
    .rider-signup {
        .header {
            &__nav {
                right: 0;

                a {
                    color: black;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .rider-signup {
        .popup-main-content {
            h3 {
                font-size: 2.9rem;
            }
        }
    }
}