@media (max-width: 768px) {
    .speech-bubble:after {
        margin-right: -39px;
    }
}

@media (max-width: 640px) {
    .speech-bubble-header::after {
        margin-top: 90px;
    }

    .speech-bubble::after {
        left: 43%;
    }

    .section_three .speech-bubble::after {
        margin-top: 47px;
    }

    .section_four .speech-bubble::after {
        margin-top: 45px;
    }
}

@media (max-width: 480px) {
    .speech-bubble-header::after {
        margin-top: 100px;
    }

    .section_two .speech-bubble:after {
        margin-top: 58px;
    }

    .section_three .speech-bubble::after {
        margin-top: 58px;
    }

    .section_four .speech-bubble::after {
        margin-top: 58px;
    }

    .speech-bubble-header:before {
        bottom: -300px;
    }
}

@media (max-width: 360px) {
    .speech-bubble-header::after {
        margin-top: 108px;
    }

    .speech-bubble::after {
        left: 39%;
    }

    .section_two .speech-bubble:after {
        margin-top: 54px;
    }

    .section_three .speech-bubble::after {
        margin-top: 54px;
    }

    .section_four .speech-bubble::after {
        margin-top: 54px;
    }

    .section_four .speech-bubble:after {
        left: 40%;
    }
}

@media (max-width: 320px) {
    .speech-bubble-header::after {
        margin-top: 98px;
    }

    .section_two .speech-bubble:after {
        margin-top: 40px;
    }

    .section_three .speech-bubble::after {
        margin-top: 40px;
    }

    .section_four .speech-bubble::after {
        margin-top: 40px;
    }
}