#driver-phone{
    top:100px;
    margin-left:-50px;
    width:25%;
}
#qudos-sign-1{
    left:230px;
    top:-70px;
    width:22%;
}
#qudos-sign-5{
    width:20%;
}
#car-1{
    top:150px;
    width:80%;
}
#car-5{
    width:60%;
    left:200px;
}
#driver-with-rider{
    margin-top:-100px;
    margin-left:200px;
}
#sec-2-img{
    margin-left:-100px;
}
#sec-4-img{
    width:50%;
}
#sec-5-img{
    width:60%;
}
#share-icon{
    width:25%;
}
#sec-3-img{
    margin-left:150px;
    margin-top:-50px;
    width:75%;
}
.why-qudos__section--2, .why-qudos__section--2-3{
    height: 80vh !important;
}
.why-qudos__section--2-2{
    height:50vh !important;
}
.why-qudos__section--2-3{
    height:45vh !important;
}
#share-icon{
    margin-bottom:150px;
}
.why-qudos__section--5{
    background: #228ec9;
    height:80vh !important;
}
.why-qudos__section--5 p,.why-qudos__section--5 h2,.why-qudos__section--5 strong{
    color:#fff;
}
#car-5{
    top:120px;
}
.section-top-curve{
    height:10vh;
    background: url("../../__assets/img/start/top-curve.svg") top no-repeat;
    margin-bottom:-10px;
}
.nu-footer{
    background-color: #fff;
}
.nu-footer p{
    color:#000 !important;
}
#like-icon{
    margin-left:30px;
    animation:none;
}
.why-qudos__section--1 img.img-fluid:nth-child(2) {
    animation: none;
}
.why-qudos__section--2-2 .subheader__prime{
   width: 100% !important;
}
.why-qudos__section--2 .platform__btn{
    top:0px;
}

@media (max-width:1366px){
    #car-5{
        width:60%;
        left:200px;
    }
    #qudos-sign-5{
        width:20%;
    }
   #like-icon{
       left:180px;
   }
   .why-qudos__section--2{
       height:90vh !important;
   }
   .why-qudos__section--2-2{
       height:60vh !important;
   }
   .why-qudos__section--2-3{
    height:50vh !important;
}
   .why-qudos__section--5{
       height:80vh !important;
   }
}

@media (max-width:1024px){
    .why-qudos__section--2 .platform__btn{
        top:20px;
    }
    #car-5{
        width:80%;
        top:120px;
        left:120px;
    }
    #sec-2-img{
        margin-left:0;
    }
    #sec-3-img{
        margin-left:60px ;
    }
    #sec-5-img{
        top:100px;
        left:190px;
    }
    #driver-phone{
        width:20%;
    }
    #like-icon{
        top: 36px;
        left: 106px;
    }
    .why-qudos__section--2{
        height: 100vh !important;
    }
    .why-qudos__section--2-2{
        height: 60vh !important;
    }
    .why-qudos__section--2-3{
        height: 60vh !important;
    }
    .why-qudos__section--5{
        height: 90vh !important;
    }
}

@media(max-width:768px){
    
    #qudos-sign-1{
        top:0px;
        left:180px;
    }
    #car-5{
        left:90px;
    }
    #sec-5-img{
        left:130px;
    }
    #like-icon{
        margin-left:-20px;
    }
}

@media (max-width:480px){
    .why-qudos__section--2 .platform__btn{
       top:50px !important;
    }
    #qudos-sign-1{
        left:220px;
        top:-70px;
        margin-top:100px;
        width:15% !important;
    }
    #qudos-sign-5{
        right:30px;
        width:17%;
    }
    #car-1{
        left:200px;
        top:100px;
        width:60%;
    }
    #car-5{
        width:50%;
        top: -146px;
        left: 110px;
    }
    #driver-phone{
        margin-top:-40px;
        width:18%;
    }
    .why-qudos__section--1 .col-sm-4{
        top:-20px !important;
    }
    #sec-2-img{
        margin-top:5rem;
        margin-left: 0;
        width:70%;
    }
    #sec-3-img{
        width:60%;
        margin-left:10vh;
        margin-top:0px;
        margin-bottom:4rem;
    }
    #sec-4-img{
        width:50%;
        margin-top:8rem;
        margin-bottom:4rem;
    }
    #sec-5-img{
        top:-150px;
        width:40%;
        left:160px;
    }
    #like-icon{
        margin-left:20px;
        top:-190px;
    }
    #share-icon{
        width:20%;
        margin-left:30px;
    }
    
    .why-qudos__section--2-2 .d-flex{
        order:2;
    }
    .why-qudos__section--2 .subheader__prime, .why-qudos__section--3 .subheader__prime,
    .why-qudos__section--2 div.col-sm-6:last-child .header__prime-main{
        margin-left:0;
    }
    .why-qudos__section--2 .platform__btn{
        top:4rem;
    }
    .why-qudos .subheader__prime{
        width: 100%;
    }
    .why-qudos__section--2{
        height:100vh !important;
        padding-bottom:200px;
    }
    .why-qudos__section--2-2{
        height:70vh !important;
    }
    .why-qudos__section--2-3{
        height:80vh !important;
    }
    .why-qudos__section--5{
        height:90vh !important;
    }
    .why-qudos__section--5 div.col-sm-6:first-child{
        margin-top:4rem;
    }
    
    }




