@media (max-width: 1440px) {

    // Section Two
    .section-two {
        .image-after {
            right: -9rem;
        }
    }

    // Section Three
    .section-three {
        background-position-x: 1.5rem;
        background-size: 20%;
    }

    // Section Four
    .section-four {
        background-position-x: 93rem;
    }

    // Section Five
    .section-five {
        .image-before {
            left: -180px;
            transform: scale(.75);
        }
    }

    // Section Seven
    .section-seven {
        background-size: 20%;
        background-position-x: 1.5rem;
    }
}

@media (max-width: 1280px) {

    html,
    body {
        font-size: 9px;
    }

    .section {
        height: 60rem;

        img {
            width: 30%;
        }
    }

    .section-two {
        img {
            width: 30%;
        }

        .section-wrapper {
            left: 50px;

            .image-after {
                right: 15rem;
                width: 35%;
            }

            .image-before {
                right: 22rem;
            }

            .img-doubled {
                width: 55%;
            }
        }
    }

    .section-three {
        background-position-x: 2.5rem;

        .container {
            .row {
                div.col-sm-12:first-child {
                    position: relative;
                    left: 100px;
                }
            }
        }
    }

    .section-four {
        background-size: 20%;
        background-position-x: 87rem;

        .container {
            .row {
                div.col-sm-12:last-child {
                    img:first-child {
                        width: 45%;
                    }
                }

                .image-before {
                    right: 240px;
                }
            }
        }
    }

    .section-five {
        .container {
            .row {
                div.col-sm-12:first-child {
                    position: relative;
                    right: 75px;
                    text-align: right;
                }

                .image-before {
                    left: 120px;
                    transform: scale(1);
                }
            }
        }
    }

    .section-six {
        .container {
            .row {
                div.col-sm-12:last-child {
                    .section-wrapper {
                        img.img-fluid:last-child {
                            width: 65%;
                        }
                    }
                }
            }
        }
    }

    .section-seven {
        background-size: 22%;
        background-position-x: 7.5rem;

        .container {
            .row {
                div.col-sm-12:first-child {
                    position: relative;
                    right: 45px;
                    text-align: right;
                }
            }
        }
    }

    .footer__logo {
        left: -8.5rem;
    }
}

@media (min-width: 1200px) {
    .footer__copyright {
        padding: 5rem 0;
    }
}

@media (max-width: 1024px) {

    .section p,
    .section li {
        font-size: 2rem;
    }

    .section h1 {
        font-size: 3.4rem;
    }

    .section-two {
        img {
            width: 24%;
        }

        .section-wrapper {
            .image-before {
                right: 20rem;
            }

            .image-after {
                right: 12rem;
            }
        }
    }

    .section-four {
        background-position-x: 71rem;
    }

    .section-five {
        .container {
            .row {
                .image-before {
                    top: 80px;
                    left: 95px;
                    transform: scale(1.3);
                }
            }
        }
    }

    .footer__logo {
        left: -6.5rem;
    }
}

@media (min-width: 992px) {
    .footer {
        &__logo {
            position: relative;
            bottom: auto;
            left: -7.5rem;
            margin-top: -2rem;
            margin-bottom: 3rem;
        }

        &__social {
            li {
                margin-top: 2rem;
            }
        }

        &__title--connect {
            margin-bottom: 1rem;
        }
    }
}

@media (max-width: 800px) {
    .hero {
        height: 40rem;

        .container {
            .row {
                div.col-sm-12:first-child {
                    .speech-bubble {
                        p {
                            font-size: 3rem;
                        }
                    }
                }
            }
        }
    }

    .section {
        height: 45rem;

        h1 {
            font-size: 2.5rem;
        }

        img {
            width: 35%;
        }
    }

    .section p,
    .section li {
        font-size: 1.7rem;
    }

    .section-two {
        p {
            margin-bottom: 3rem;
        }

        .section-wrapper {
            left: 1.5rem;

            .img-doubled {
                width: 65%;
            }

            .image-before {
                right: 9rem;
            }

            .image-after {
                right: 6rem;
            }
        }
    }

    .section-three {
        .container {
            .row {
                div.col-sm-12:first-child {
                    left: 6.5rem;
                }
            }
        }
    }

    .section-four {
        background-position-x: 61rem;

        .container {
            .row {
                div.col-sm-12:last-child {
                    left: 4rem;
                }

                .image-before {
                    right: 13.5rem;
                }
            }
        }
    }

    .section-five {
        .container {
            .row {
                div.col-sm-12:first-child {
                    right: 2rem;
                }

                .image-before {
                    left: 2.5rem;
                }
            }
        }
    }

    .section-six {
        .section-wrapper {
            left: 3.5rem;
        }
    }

    .section-seven {
        background-position-x: 2.5rem;

        .container {
            .row {
                div.col-sm-12:first-child {
                    right: 2rem;
                }
            }
        }
    }

    .footer {
        &__logo {
            left: 0.5rem;
            margin-bottom: 1rem;
        }

        .col-md-4 {
            max-width: 25%;
        }
    }
}

@media (min-width: 768px) {
    .footer {
        &__copyright {
            padding: 4rem 0;
            margin-top: 1.5rem;
        }

        &__social {
            a {
                text-align: left;
                display: inline-block;
            }
        }

        &__title--connect {
            text-align: left;
        }

        &__rights {
            display: inline-block;
            float: left;
            font-size: 1.2rem;
            color: $qudos-darkmilk;
            line-height: 1.8rem;
            opacity: 0.52;
        }
    }
}

@media (max-width: 640px) {
    .speech-bubble::after {
        transform: rotate(-45deg);
        left: 43%;
        top: 17rem;
    }

    .hero {
        margin-top: 10rem;

        .container {
            .row {
                div.col-sm-12:last-child {
                    text-align: center;
                    z-index: 1;
                }

                div.col-sm-12:first-child {
                    z-index: 2;

                    .speech-bubble {
                        p {
                            font-size: 2.7rem;
                        }
                    }
                }
            }
        }

        .img-fluid {
            width: 30%;
        }
    }

    .section {
        height: 40rem;

        .col-sm-12 {
            max-width: 50%;
        }

        h1 {
            font-size: 1.8rem;
            margin-bottom: 3rem;
        }

        p,
        li {
            font-size: 1.4rem;
        }

        ul {
            padding-left: 0;
        }
    }

    .section-two {
        .container {
            .row {
                div.col-md-6.col-sm-12 {
                    padding-left: 0;
                    padding-right: 0;
                }

                div.col-sm-12:last-child {
                    .section-wrapper {
                        img.img-fluid:nth-child(2) {
                            width: 30%;
                        }
                    }
                }
            }

            .image-before {
                right: 8rem;
            }

            .image-after {
                bottom: -3.5rem;
                right: 4rem;
                width: 42%;
            }
        }
    }

    .section-three {
        background-position-x: 4.8rem;

        p {
            margin-bottom: 1rem;
        }
    }

    .section-four {
        background-position-x: 49rem;
    }

    .section-five {
        .container {
            .row {
                div.col-sm-12:first-child {
                    right: 0;
                }

                .image-before {
                    top: 5.5rem;
                    left: 1.5rem;
                }
            }
        }
    }

    .footer {
        padding-top: 8rem;

        &__title--connect {
            text-align: left;
        }

        .container {
            .row {
                .col-12 {
                    top: 15px;

                    .footer__social {
                        max-width: 50%;

                        li {
                            margin-top: 2rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {

    html,
    body {
        font-size: 8px;
    }

    .active-480 {
        display: block;
    }

    .speech-bubble::after {
        top: 16.5rem;
    }

    .section {
        height: 45rem;

        .col-sm-12 {
            max-width: 100%;
        }

        p,
        li {
            font-size: 1.8rem;
        }

        p {
            text-align: center;
        }

        ul {
            padding-left: 25%;
        }

        img {
            width: 22%;
        }

        h1 {
            font-size: 3rem;
            text-align: center;
        }
    }

    .section-two {
        padding-top: 28rem;
        padding-bottom: 25rem;
        margin-bottom: 7.5rem;

        p {
            margin-bottom: 2rem;
        }

        .section-wrapper {
            left: 0;

            .img-doubled {
                width: 40%;
            }
        }

        .container {
            .row {
                div.col-md-6.col-sm-12 {
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                }

                div.col-sm-12:first-child {
                    order: 1;
                    top: 4.5rem;
                }

                div.col-sm-12:last-child {
                    text-align: center;

                    .section-wrapper {
                        img.img-fluid:nth-child(2) {
                            width: 20%;
                        }
                    }
                }

                .image-before {
                    right: 13rem;
                }

                .image-after {
                    bottom: -3.5rem;
                    right: 7rem;
                    width: 30%;
                }
            }
        }
    }

    .section-three {
        background-position-y: 11rem;
        background-size: 34%;
        padding-top: 30rem;
        padding-bottom: 35rem;

        .container {
            .row {
                div.col-sm-12:first-child {
                    left: 0;
                    text-align: center;
                }

                div.col-sm-12:last-child {
                    top: 4rem;
                }
            }
        }
    }

    .section-four {
        background-size: 30%;
        background-position-x: 34rem;
        background-position-y: 10rem;

        .container {
            .row {
                div.col-sm-12:last-child {
                    left: 0;
                    text-align: center;
                }

                div.col-sm-12:first-child {
                    order: 2;
                    top: 2.8rem;
                }

                .image-before {
                    right: 5.5rem;
                    top: -2.2rem;
                }
            }
        }
    }

    .section-five {
        padding-top: 30rem;
        padding-bottom: 35rem;

        .container {
            .row {
                div.col-sm-12:first-child {
                    right: 0;
                    text-align: center;
                }

                div.col-sm-12:last-child {
                    top: 4rem;
                }

                .image-before {
                    top: 8.5rem;
                    left: 8.5rem;
                }
            }
        }
    }

    .section-six {
        padding-top: 28rem;
        padding-bottom: 28rem;

        .container {
            .row {
                div.col-sm-12:first-child {
                    top: 4rem;
                    order: 2;
                }

                div.col-sm-12:last-child {
                    text-align: center;

                    .section-wrapper {
                        left: 0;
                    }
                }
            }
        }
    }

    .section-seven {
        background-size: 30%;
        background-position-y: 10rem;
        background-position-x: 5.5rem;
        padding-top: 32rem;
        padding-bottom: 32rem;

        .container {
            .row {
                div.col-sm-12:first-child {
                    right: 0;
                    text-align: center;
                }

                div.col-sm-12:last-child {
                    top: 3rem;
                }
            }
        }
    }
}

@media (max-width: 414px) {
    .active-414 {
        display: block;
    }

    .section ul {
        padding-left: 16%;
    }

    .hero {
        .container {
            .row {
                div.col-sm-12:first-child .speech-bubble p {
                    text-align: center;
                }
            }
        }
    }

    .footer {
        &__title--connect {
            text-align: center;
        }

        .container {
            .row {
                .col-md-4 {
                    max-width: 100%;
                }

                div.col-6:nth-child(3),
                div.col-6:nth-child(4) {
                    margin-top: 3rem;
                }

                .col-12 {
                    .footer__social {
                        max-width: 60%;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }

        &__copyright {
            padding: 1rem 0 3.5rem 0;
        }
    }
}

@media (max-width: 412px) {
    .section-two {
        padding-top: 25rem;
        padding-bottom: 23rem;

        .container {
            .row {
                .image-before {
                    right: 12rem;
                }
            }
        }
    }

    .section-three {
        background-position-y: 9rem;
    }

    .section-four {
        background-position-x: 29rem;
    }

    .section-five {
        padding-top: 29rem;
        padding-bottom: 32rem;

        .container {
            .row {
                .image-before {
                    top: 7.5rem;
                }
            }
        }
    }
}

@media (max-width: 384px) {
    .active-414 {
        display: inline-block;
    }

    .active-384 {
        display: block;
    }

    .section {

        p,
        li {
            font-size: 1.6rem;
        }

        h1 {
            font-size: 2.5rem;
        }
    }

    .hero {
        margin-top: 5rem;

        .container {
            .row {
                div.col-sm-12:first-child {
                    .speech-bubble {
                        p {
                            line-height: 4rem;
                        }
                    }
                }
            }
        }
    }

    .section-two {
        padding-top: 24rem;
        padding-bottom: 20rem;
    }

    .section-three {
        background-position-y: 11rem;
        padding-bottom: 30rem;
    }

    .section-four {
        background-position-x: 27rem;
    }

    .section-five {
        padding-top: 27rem;
        padding-bottom: 28rem;

        .container {
            .row {
                .image-before {
                    top: 6.5rem;
                }
            }
        }
    }

    .section-six {
        padding-top: 24rem;
        padding-bottom: 25rem;
    }

    .section-seven {
        padding-top: 28rem;
        padding-bottom: 29rem;
    }
}

@media (max-width: 360px) {
    .active-360 {
        display: block;
    }

    .section-two {
        padding-top: 20rem;
        padding-bottom: 17rem;

        .container {
            .row {
                .image-before {
                    right: 10rem;
                }

                .image-after {
                    right: 6rem;
                }
            }
        }
    }

    .section-four {
        background-position-x: 25rem;
        background-position-y: 12rem;
    }
}

@media (max-width: 320px) {
    .active-384 {
        display: inline;
    }

    .active-320 {
        display: block;
    }

    .header {
        &__btn {
            margin-right: 45px;
        }

        &__logo {
            width: 15.7rem;
            svg {
                image {
                    width: 12.7rem;
                }
            }
        }
    }

    .section {
        ul {
            padding-left: 8%;
        }
    }

    .hero {
        .container {
            .row {
                div.col-sm-12:first-child {
                    .speech-bubble {
                        p {
                            font-size: 2.4rem;
                        }
                    }
                }
            }
        }
    }

    .section-four {
        background-position-x: 22rem;
    }
    .section-five {
        .container {
            .row {
                .image-before {
                    top: 5.5rem;
                    left: 5.7rem;
                }
            }
        }
    }
    .footer {
        .container {
            .row {
                .col-md-4 {
                    max-width: 50%;
                }
                .col-12 {
                    .footer__social {
                        max-width: 80%;
                    }
                }
            }
        }
    }
}