 .card-margin-auto{
	margin-top:10%;
}
.speech-bubble {
    position: relative;
    background: #fff;
    border-radius: .4em;
    //box-shadow: 1px 3px 10px rgba(0,0,0,.1);
}

.speech-bubble:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-left-color: #ffffff;
    border-right: 0;
    margin-top: -50px;
    margin-right: -50px;
}
@media (max-width:425px){
    .speech-bubble {
        position: relative;
        background: #cbcbcb;
        border-radius: .4em;
    }
    
    .speech-bubble:after {
        content: '';
        position: absolute;
        bottom: 0;
        margin-top:120px;
        left: 50%;
        width: 0;
        height: 0;
        border: 50px solid transparent;
        border-top-color: #fff;
        border-bottom: 0;
        margin-left: -50px;
        margin-bottom: -50px;
    }
}
.banner {
	margin-top: 70px;
	position: initial;
	height: 700px;
}

.banner-wave {
	margin-top: -700px;
	position: inherit;
	background: url(../img/wave-header.png) bottom right no-repeat;
	background-size: cover;
	height: 500px;
}

.banner-character {
	display: none;
	margin-top: -700px;
	background: url(../img/driver.png) bottom right no-repeat;
	background-size: cover;
	height: 700px;
}

.banner-background {
	margin-top: -700px;
	position: fixed;
	background: #F3F8FD;
	height: 700px;
	z-index: -1;
	width: 100%;

}

.section_one {
	background: #fff;
	padding-bottom: 50px;
	padding-top: 50px;
}

.section_two {
	padding-top: 25px;
	padding-bottom: 50px;
	background: #fff;
}

.card-border {
	border: solid rgba(0, 0, 0, .1) 1px;
}

.section-card {
	background: #fff;
	box-shadow: 1px 3px 10px rgba(0, 0, 0, .1);
	border-radius: 1em;
	padding: 20px 60px;
}

.section-card-main {
	padding: 40px;
	z-index: 9;
}

.triangle-right {
	display: none;
	position: inherit;
	margin-right: -200px;
	margin-top: 200px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 70px;
	height: 80px;
	background: #fff;
	z-index: 8;
}

.carousel-indicators ol {
	height: 1px;
}

.image-thumbnail {
	width: 100%;

}

.nutshell {
	background: url("../img/nutshell.png") no-repeat center center;
	background-size: contain;
	height: 120px;
	width: 100%;

}

.carousel-indicators li {
	background: #000;
	display: inline-block;
	position: relative;
	margin: 0 15px 0 0;
	width: 9px;
	height: 9px;
	border-radius: 20em;
	border: 2px solid #000;
	outline: 1px dashed #fff;
	outline-offset: -10px;
}

.carousel-indicators {
	position: initial;
	top: 200px;
}


.card-header {
	background: #fff;
}

.card-header {
	cursor: pointer;
	padding: 20px 30px 20px 30px;
	width: 100%;
	border-top: solid rgba(0, 0, 0, 0) 1px;
	border-left: solid rgba(0, 0, 0, 0) 1px;
	border-right: solid rgba(0, 0, 0, 0) 1px;
	border-bottom: 0;
	border-radius: 1em;
}

.card-header:first-child {
	border-radius: 1em 1em 0 0;

}

.card-body {
	padding: 0px 30px 10px 30px;
	border-top: 0;
	border-left: solid rgba(0, 0, 0, 0.1) 1px;
	border-right: solid rgba(0, 0, 0, 0.1) 1px;
	border-bottom: solid rgba(0, 0, 0, 0.1) 1px;
	border-radius: 0 0 1em 1em;
}

.card {
	width: 100%;
	border: 0;
}

#accordion {
	margin-top: 40px;
	width: 100%;
}

.footer {
	background-image: -moz-linear-gradient(-35deg, #254870 0%, #142f51 36%, #021532 99%);
	background-image: -webkit-linear-gradient(-35deg, #254870 0%, #142f51 36%, #021532 99%);
	background-image: -ms-linear-gradient(-35deg, #254870 0%, #142f51 36%, #021532 99%);
	background-image: linear-gradient(90deg, #161E2C 0%, #05060E 56%, #05060E 99%);
}

.footer li {
	color: #fff;
}

.header__social a {
	padding: 0px 6px;
}

/* MOBILE RESPONSIVE */

@media (max-width: 320px) {
	.section-card {
		padding: 20px;
	}

	.footer__small {
		margin-left: 25px;
	}

	.footer__link {
		margin-right: 25px;
	}

}

@media (max-width: 425px) {
	.banner-wave {
		margin-top: -600px;
	}

	h1,
	h2 {
		font-size: 1.5em;
	}

	h3,
	h4 {
		font-size: 1em;
	}

	p {
		font-size: .9em;
	}

	.header__logo {
		height: 50px;
		margin-left: -5px;
		margin-right: 10px;
	}

	.header__btn {
		margin-right: 40px;
	}

	.section-card {
		padding: 30px;
		text-align: center;
	}

	.qudos-divider {
		margin: auto;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.card-body {
		padding: 0px 20px 10px 20px;
	}

	.card-header {
		padding: 20px 20px 20px 20px;
	}

	.footer {
		text-align: center;
	}

	.footer__small {
		margin-left: 30px;
	}

	.footer__link {
		margin-right: 30px;
	}

}

@media (max-width: 768px) {
	.footer__line {
		margin-bottom: 75px;
	}
}


@media (max-width: 768px) {

  li.app_text {
      text-align: center;
  }

  .footer__title--download{
        margin-top:100px;
        margin-bottom: 10px;
    }
}

@media (max-width: 425px) {
    
    .footer__logo {
        display: block;
        position: relative;
        margin:0 auto;
        text-align:center;
    }
    .footer__title {
        text-align:center;
    }
    
    .footer__list {
        text-align: center;
    }

    .footer__text{
        text-align:center
    }

    .footer__social li {
        display: block;
        float: left;
        width: 25%;
        margin-top: 30px;
    }

    .footer__title--download{
        margin-top: 35px;
    }

    .footer__list li.app_image img{
      width:40%;
    }

}