.btn {
    &--next {
        margin: 3rem 0 0 0;

        a {
            color: #626262;
        }

        p {
            position: relative;
            float: left;
            width: 100%;
            margin: 2rem 0 2rem 0;
        }
    }
}