.modal {
    overflow-x: hidden;
    overflow-y: auto;

    &-content {
        position: relative;
        float: left;
        z-index: 999;
        width: 100%;
    }
}

#signup-modal {
    .popup-main-content {
        input.accept {
            position: relative;
            float: left;
            margin: auto;
            width: 2rem;
            height: 2rem;
            padding: 0;
        }
    }
}