/*==============================
  Experience
==============================*/

.experience {
    padding-top: 41.5rem;
    background: url("../img/experience/pattern--mobile.png") repeat top center white;

    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            display: block;
            height: 45rem;
            left: -1.5rem;
            right: -1.5rem;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
            -webkit-border-radius: 5px;
            border-radius: 5px;
            background-image: -moz-linear-gradient(180deg, #f2f3f5 0%, #e5effa 35%, #d8eafe 100%);
            background-image: -webkit-linear-gradient(180deg, #f2f3f5 0%, #e5effa 35%, #d8eafe 100%);
            background-image: -ms-linear-gradient(180deg, #f2f3f5 0%, #e5effa 35%, #d8eafe 100%);
            background-image: linear-gradient(180deg, #f2f3f5 0%, #e5effa 35%, #d8eafe 100%);
            z-index: 1;
        }
    }

    &__box {
        padding: 2.5rem 0 3.5rem;
        margin: 2.5rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-image: -moz-linear-gradient(180deg, #3d414d 0%, #232331 36%, #080514 100%);
        background-image: -webkit-linear-gradient(180deg, #3d414d 0%, #232331 36%, #080514 100%);
        background-image: -ms-linear-gradient(180deg, #3d414d 0%, #232331 36%, #080514 100%);
        background-image: linear-gradient(180deg, #3d414d 0%, #232331 36%, #080514 100%);
        position: relative;
        z-index: 2;
        max-width: 38rem;

        a {
            width: 24rem;
            height: 5rem;
            line-height: 5rem;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            font-size: 1.5rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            color: #fff;
            background-color: $qudos-blue;
            text-align: center;
            margin-top: 2rem;
        }

        h3 {
            color: #fff;
            font-size: 1.6rem;
            line-height: 2.4rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            display: block;
            text-align: center;
            padding: 0 3rem;
            margin: 0;
        }

        img {
            -webkit-border-radius: 5px;
            border-radius: 5px;
            margin-bottom: 3rem;
        }
    }
}

@media (min-width: 480px) {
    .experience__wrap:before {
        left: -3rem;
        right: -3rem;
    }
}

@media (min-width: 768px) {
    .experience {
        padding-top: 6.5rem;
        background: url("../img/experience/pattern.png") repeat top center #fff;

        &__wrap:before {
            left: 120rem;
            right: 120rem;
        }
    }
}

@media (min-width: 992px) {
    .experience {
        &__wrap {
            flex-direction: row;

            &:before {
                height: 41rem;
                left: 2rem;
                right: 2rem;
                top: 11rem;
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
                transform: translateY(0);
            }
        }

        &__box {
            margin: 3rem 4rem 6rem;
            max-width: 36rem;
            width: 36rem;
        }
    }
}

@media (min-width: 1200px) {
    .experience {
        padding-top: 10rem;

        &__box {
            margin: 3.5rem 6rem 6rem;
        }

        &__wrap:before {
            left: 4rem;
            right: 4rem;
        }
    }
}

@media (max-width: 991px) {
    .experience {
        &__wrap {
            flex-direction: row;
            justify-content: space-between;
        }

        &__box {
            width: 48%;
        }
    }
}

@media (max-width: 767px) {
    .experience {
        &__wrap {
            flex-direction: column;
            justify-content: center;
        }

        &__box {
            width: 100%;
        }
    }
}