/*==============================
  Platform
==============================*/

.platform {
    padding: 0 0 6.5rem;
    background-color: #000;

    &__img {
        display: block;
        width: 100%;
        height: 30rem;
        margin-bottom: 6.5rem;
        background: url("../img/platform/platform-bg.jpg") no-repeat center left/cover;
    }

    &__btn {
        display: block;
        width: 100%;
        max-width: 32rem;
        height: 6rem;
        line-height: 6rem;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        font-size: 1.6rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: #fff;
        background-color: #248EC6;
        text-align: center;

        &:hover {
            color: #fff;
        }
    }
}

@media (min-width: 992px) {
    .platform {
        padding: 6.5rem 0;
        background: url("../img/platform/platform-bg.jpg") no-repeat;
        background-size: auto;
        background-attachment: fixed;

        &__img {
            display: none;
        }
    }
}

@media (min-width: 1200px) {
    .platform {
        padding: 10rem 0;
        background-position: center left -20rem;
    }
}

@media (min-width: 1600px) {
    .platform {
        background-position: center left -10rem;
    }
}

@media (min-width: 1800px) {
    .platform {
        background-position: center center;
    }
}