/*==============================
  Rating
==============================*/

.rating {
    display: block;
    background: url("../img/rating/rating-bg.jpg") no-repeat top center/cover;
    overflow: hidden;

    &__slider {
        display: block;
        margin: 0 auto 3.5rem;
        position: relative;
        z-index: 2;
        width: 100%;
        max-width: 38rem;

        &:before,
        &:after {
            content: '';
            position: absolute;
            display: block;
            background-color: #fff;
            -webkit-box-shadow: 0 1.4rem 5rem .9rem rgba(0, 0, 0, 0.08);
            box-shadow: 0 1.4rem 5rem .9rem rgba(0, 0, 0, 0.08);
            top: 2.5rem;
            width: 2rem;
            height: 34rem;
            z-index: -1;
        }

        &:before {
            left: -1.5rem;
            -webkit-border-radius: 5px 0 0 5px;
            border-radius: 5px 0 0 5px;
        }

        &:after {
            right: -1.5rem;
            -webkit-border-radius: 0 5px 5px 0;
            border-radius: 0 5px 5px 0;
        }

        .owl-carousel {
            position: relative;
            z-index: 3;
            -webkit-box-shadow: 0 1.4rem 5rem .9rem rgba(0, 0, 0, 0.08);
            box-shadow: 0 1.4rem 5rem .9rem rgba(0, 0, 0, 0.08);
            -webkit-border-radius: 5px;
            border-radius: 5px;
            background-color: #fff;
        }
    }

    &__slide {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 2rem 2rem 0;
        height: 50rem;

        h3 {
            font-size: 1.8rem;
            font-weight: 600;
            color: #0f1423;
            margin-top: 0;
            margin-bottom: 2rem;
            padding-bottom: 2rem;
            position: relative;
            display: block;

            &:before {
                content: '';
                position: absolute;
                display: block;
                width: 5.2rem;
                height: 5px;
                bottom: 0;
                left: 0;
                -webkit-border-radius: 4px;
                border-radius: 4px;
                background: #83bada;
                background: -moz-linear-gradient(left, #83bada 0%, #83bada 47%, $qudos-blue 52%, $qudos-blue 100%);
                background: -webkit-linear-gradient(left, #83bada 0%, #83bada 47%, $qudos-blue 52%, $qudos-blue 100%);
                background: linear-gradient(to right, #83bada 0%, #83bada 47%, $qudos-blue 52%, $qudos-blue 100%);
            }
        }

        img {
            display: none;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            margin-bottom: 3rem;
        }

        img:first-child {
            display: block;
        }

        p {
            display: block;
            margin: 0;
            font-size: 1.4rem;
            line-height: 2.4rem;
            color: #626262;
            padding-right: 0;
        }
    }

    &__btn {
        display: block;
        position: absolute;
        height: 7rem;
        width: 7rem;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid #d6d6d6;
        -webkit-box-shadow: 0px 1.7rem 5.1rem 0 rgba(0, 0, 0, 0.13);
        box-shadow: 0px 1.7rem 5.1rem 0 rgba(0, 0, 0, 0.13);
        cursor: pointer;
        bottom: -3.5rem;
        right: 4.5rem;
        z-index: 4;
        background: url("data:__assets/img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAWCAMAAADkSAzAAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAV1BMVEUPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCP///+nP0wTAAAAG3RSTlMAQb1Z/mJjZGU2WLYxNf0uMlSzYWBfXV4+t1VQmAF3AAAAAWJLR0QcnARBBwAAAAd0SU1FB+ICGRIWF0BgHFIAAABiSURBVCjPrdDJDoAgDEXRWgqI8zzx//9pY2KMCWWB3l1zNi8FeJehAjH0pEVUFFP9QQ2rSVTLakXNb3VFoNJf6sgLUQW1iE0L0PWBBrZRHhS1KdHmn21hW6WvYsRg24/nOAEvKgxXe54Q+gAAAABJRU5ErkJggg==") no-repeat center white;
        background-size: 2.8rem 2.2rem;
    }
}

@media (min-width: 480px) {
    .rating {
        &__slider:before {
            left: -2rem;
        }

        &__slider:after {
            right: -2rem;
        }
    }
}

@media (min-width: 1200px) {
    .rating {

        &__btn {
            right: 11.5rem;
        }

        &__slider {
            max-width: 57rem;

            &:before,
            &:after {
                height: auto;
                bottom: 2.5rem;
                width: 2.5rem;
            }

            &:before {
                left: -2.5rem;
            }

            &:after {
                right: -2.5rem;
            }
        }

        &__slide {
            height: 39rem;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0 0 0 4rem;

            img {
                margin: 0 3rem 0 0;
                display: block;
                width: 29rem;
            }

            img:first-child {
                display: none;
            }

            p {
                padding-right: 2.5rem;
                width: 18rem;
            }
        }

        .section__title {
            margin-top: 5rem;
        }
    }
}