/*==============================
  Section
==============================*/

.section {
    position: relative;
    padding: 6.5rem 0;

    &__title {
        font-size: 2.8rem;
        line-height: 4.2rem;
        display: block;
        color: #0f1423;
        margin-top: 0;
        padding-bottom: 2.6rem;
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        margin-bottom: 2.6rem;

        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 8.6rem;
            height: 3px;
            bottom: 0;
            left: 0;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            background: #83bada;
            background: -moz-linear-gradient(left, #83bada 0%, #83bada 47%, $qudos-blue 52%, $qudos-blue 100%);
            background: -webkit-linear-gradient(left, #83bada 0%, #83bada 47%, $qudos-blue 52%, $qudos-blue 100%);
            background: linear-gradient(to right, #83bada 0%, #83bada 47%, $qudos-blue 52%, $qudos-blue 100%);
        }

        &--white {
            color: white;
        }
    }

    &__text {
        display: block;
        font-size: 1.4rem;
        color: #626262;
        line-height: 2.4rem;
        margin-bottom: 3rem;

        &--white {
            color: rgba(255, 255, 255, 0.5);
        }
    }
}


@media (min-width: 768px) {

    .section {
        &__title {
            font-size: 3.2rem;
            line-height: 4.6rem;
    
            &--center {
                text-align: center;
    
                &:before {
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    transform: translateX(-50%);
                }
            }
        }
        &__text{
            &--center {
                text-align: center;
            }
        }
    }
}

@media (min-width: 1200px) {
    .section {
        padding: 10rem 0;
    }
}