@media (max-width: 1440px) {}

@media (max-width: 1280px) {

    html,
    body {
        font-size: 9px;
    }

    .help__content {
        margin-top: 9.7rem;
    }

    .footer__logo {
        left: -8.5rem;
    }
}

@media (min-width: 1200px) {

    .header {

        &__content {
            padding: 0 6.5rem;
        }

        &__nav {
            right: 28.5rem;
        }

        &--white {
            .header__content {
                padding: 0 9.5rem;
            }

            .header__nav {
                right: 9.5rem;
            }
        }
    }

    .footer__copyright {
        padding: 5rem 0;
    }
}


@media (max-width: 1024px) {
    .img-fluid {
        width: 50%;
    }

    .nav {
        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-icon {
            width: 12rem;
            height: 12rem;
        }
    }

    .footer__logo {
        left: -6.5rem;
    }
}

@media (min-width: 992px) {
    .footer {
        &__logo {
            position: relative;
            bottom: auto;
            left: -7.5rem;
            margin-top: -2rem;
        }

        &__social {
            li {
                margin-top: 2rem;
            }
        }

        &__title--connect {
            margin-bottom: 1rem;
        }
    }
}


@media (max-width: 800px) {
    .help__content-bar {
        h2.mb-0.mr-5 {
            font-size: 2.5rem;
        }

        .pl-5 {
            padding-left: 1.5rem !important;
        }

        select#inputState {
            width: 12rem;
        }

        &--menu .fa-caret-down {
            right: 1rem;
        }
    }

    .body__content {
        h4 {
            font-size: 1.1rem;
        }

        h2.mb-5 {
            font-size: 2.6rem;
        }

        p.mb-4 {
            font-size: 1.6rem;
        }
    }

    h4.mb-4 {
        font-size: 1.6rem;
    }

    .col-3 {
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
    }

    .col-9 {
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%;
    }

    .nav {
        &-item {
            width: 10rem;
        }
    }

    .nav-pills .nav-link {
        font-size: 1.3rem;
    }

    .nav-pills .nav-link.active {
        font-size: 1.5rem;
    }

    .platform__btn {
        font-size: 1.6rem;
    }

    .footer {
        &__logo {
            left: 0.5rem;
            margin-bottom: 1rem;
        }

        .col-md-4 {
            max-width: 25%;
        }
    }
}

@media (min-width: 768px) {

    .header {
        .container {
            padding-right: 1.5rem;
            padding-left: 1.5rem;
        }

        &__content {
            &:before {
                display: none;
            }
        }

        &__menu {
            display: none;
        }

        &__btn {
            margin: 0;
            width: 16rem;
        }

        &__logo {
            height: 6.4rem;
            margin-left: -.8rem;

            object {
                width: 16rem;
            }
        }

        &__nav {
            position: absolute;
            flex-direction: row;
            align-items: center;
            width: auto;
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            padding: 0;
            right: 22rem;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
            background-color: transparent;

            a {
                margin: 0 3rem 0 0;
                color: black;
                &:hover {
                    color: black;
                }
            }

            a.desk {
                display: none;
            }
        }

        &__social {
            display: none;
        }
    }

    .header--active .header__nav a,
    .header--white .header__nav a {
        /*color: #0f1423;*/
        /*new add kk*/
        color: #fff !important;
        /*add end*/
    }

    .header--active .header__nav a:hover,
    .header--white .header__nav a:hover {
        color: #0f1423;
    }

    .header--white .header__nav {
        right: 0;
    }

    .footer {
        &__copyright {
            padding: 4rem 0;
            margin-top: 1.5rem;
        }

        &__social {
            a {
                text-align: left;
                display: inline-block;
            }
        }

        &__title--connect {
            text-align: left;
        }

        &__rights {
            display: inline-block;
            float: left;
            font-size: 1.2rem;
            color: $qudos-darkmilk;
            line-height: 1.8rem;
            opacity: 0.52;
        }
    }
}

@media (width: 1024px) {
    .header__nav {
        right: 16rem;
    }
}

@media (width: 800px) {
    .header__nav {
        right: 19rem;
    }
}

@media (width: 768px) {
    .header__nav {
        right: 19rem;
    }
}

@media (max-width: 640px) {

    .header__content::before {
        display: none;
    }

    .help__content-bar {

        h2.mb-0.mr-5 {
            width: 13rem;
            font-size: 2rem;
        }

        .mr-5 {
            margin-right: 1rem !important;
        }

        &--menu {
            .fa-caret-down {
                right: -3rem;
            }
        }
    }

    .col-3 {
        flex: 0 0 40%;
        max-width: 40%;
    }

    .col-9 {
        flex: 0 0 60%;
        max-width: 60%;
        padding-left: 0;
    }

    .nav {
        &-item {
            width: 8rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-icon {
            width: 8rem;
            height: 8rem;
        }

        li {
            h4 {
                display: none;
            }
        }
    }

    .tab-content {
        .tab-pane {
            .col-12 {
                .row.mt-5 {
                    .container {
                        position: relative;
                        left: -100%;
                        transform: translateX(40%);

                        .col-12 {
                            width: 60rem;
                            flex: unset;
                            max-width: unset;
                        }
                    }
                }
            }
        }
    }

    .footer {
        padding-top: 8rem;

        &__title--connect {
            text-align: left;
        }

        .container {
            .row {
                .col-12 {
                    top: 15px;

                    .footer__social {
                        max-width: 50%;

                        li {
                            margin-top: 2rem;
                        }
                    }
                }
            }
        }

        &__rights {
            display: none;
        }
    }
}

@media (min-width: 480px) {
    .header {
        .container {
            padding-right: 3rem;
            padding-left: 3rem;
        }
    }

    .help__content {
        margin-top: 11rem;
    }
}


@media (max-width: 480px) {

    html,
    body {
        font-size: 8px;
    }

    main {
        overflow: hidden;
    }

    .active-480 {
        display: block;
    }

    .form-group.col-sm-6.col-xs-6.mb-0.pr-1 {
        width: 50%;
    }

    .form-group.col-sm-2.col-xs-2.mb-0.pl-0 {
        width: 26%;
    }

    .body__content {
        h2.mb-5 {
            font-size: 2.4rem;
        }

        p.mb-4 {
            font-size: 1.4rem;
        }
    }

    .help__content-bar--menu {
        .fa-caret-down {
            right: 1.8rem;
        }
    }
}

@media (max-width: 414px) {
    .active-414 {
        display: block;
    }

    .form-group.col-sm-6.col-xs-6.mb-0.pr-1 {
        width: 60%;
    }

    .form-group.col-sm-2.col-xs-2.mb-0.pl-0 {
        width: 28%;
    }

    .help__content {
        margin-top: 11rem;

        &-bar {
            select#inputState {
                width: 11rem;
            }
    
            &--menu {
                .fa-caret-down {
                    right: 1.4rem;
                }
            }
        }
    }

    .tab-content {
        .tab-pane {
            .col-12 {
                .row.mt-5 {
                    .container {
                        .col-12 {
                            width: 50rem;
                        }
                    }
                }
            }
        }
    }

    .col-3 {
        .nav {
            transition: all .2s;

            &-link {
                width: 100%;
            }

            &-pills {
                .nav-link {
                    height: 4.5rem;
                }

                .nav-link.active {
                    font-size: 1.3rem;
                    font-weight: 700;
                }
            }
        }
    }

    .col-12 {
        .nav {
            transition: all .2s;

            &-link.active {
                font-size: 1.3rem;
                font-weight: 700;
            }
        }

        .row.mt-5 {
            .container {
                top: 2rem;
            }
        }
    }

    .nav {
        &-item {
            width: 6rem;
        }

        &-icon {
            width: 6rem;
            height: 6rem;
        }
    }

    .footer {
        &__title--connect {
            text-align: center;
        }

        .container {
            .row {
                .col-md-4 {
                    max-width: 100%;
                }

                div.col-6:nth-child(3),
                div.col-6:nth-child(4) {
                    margin-top: 3rem;
                }

                .col-12 {
                    .footer__social {
                        max-width: 60%;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }

        &__copyright {
            padding: 1rem 0 3.5rem 0;
        }
    }
}

@media (max-width: 412px) {
    .form-group.col-sm-2.col-xs-2.mb-0.pl-0 {
        width: 28%;
    }
}

@media (max-width: 384px) {
    .active-414 {
        display: inline-block;
    }

    .active-384 {
        display: block;
    }

    .form-group.col-sm-6.col-xs-6.mb-0.pr-1 {
        width: 57%;
    }

    .help__content-bar--menu {
        .fa-caret-down {
            right: .4rem;
        }
    }

    .tab-content {
        .tab-pane {
            .col-12 {
                .row.mt-5 {
                    .container {
                        .col-12 {
                            width: 45rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .form-group.col-sm-6.col-xs-6.mb-0.pr-1 {
        width: 56%;
    }
}

@media (max-width: 360px) {
    .active-360 {
        display: block;
    }

    .form-group.col-sm-6.col-xs-6.mb-0.pr-1 {
        width: 54%;
    }

    .help__content-bar--menu {
        .fa-caret-down {
            right: 0;
        }
    }

    .header__logo {
        height: 5.8rem;

        object {
            width: 14.5rem;
        }
    }

    .help__content {
        margin-top: 11rem;
    }
}

@media (max-width: 320px) {
    .active-384 {
        display: inline;
    }

    .active-320 {
        display: block;
    }

    .body__content {
        h2.mb-5 {
            font-size: 2.2rem;
        }

        p.mb-4 {
            font-size: 1.2rem;
        }
    }

    .col-3 {
        .nav-pills {
            .nav-link {
                font-size: 1.1rem;
            }

            .nav-link.active {
                font-size: 1.1rem;
            }
        }
    }

    .col-12 {
        .nav-link {
            font-size: 1.1rem;
        }

        .nav-link.active {
            font-size: 1.1rem;
        }
    }

    .contact-divider {
        h4.mb-4 {
            font-size: 1.2rem;
        }
    }

    .form-group.col-sm-6.col-xs-6.mb-0.pr-1 {
        width: 50%;
    }

    .footer {
        .container {
            .row {
                .col-md-4 {
                    max-width: 50%;
                }

                .col-12 {
                    .footer__social {
                        max-width: 80%;
                    }
                }
            }
        }
    }


    .help__content {
        margin-top: 11rem;

        &-bar {
            h2.mb-0.mr-5 {
                width: 10rem;
                font-size: 1.6rem;
            }

            &--menu {
                .fa-caret-down {
                    right: 0;
                }
            }
        }
    }

    .img-fluid {
        width: 60%;
    }

    .nav {
        &-item {
            width: 5rem;
        }

        &-icon {
            width: 5rem;
            height: 5rem;
        }
    }

    .platform__btn {
        font-size: 1.1rem;
    }

    .tab-content {
        .tab-pane {
            .col-12 {
                .row.mt-5 {
                    margin-top: 2rem !important;

                    .container {
                        .col-12 {
                            width: 40rem;

                            .tab-content {
                                .tab-pane {
                                    .mb-5 {
                                        margin-bottom: 2rem !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}