// Dropshadows
$speech-bubble-dropshadow: 0 5px 10px 0 rgba(33,142,199,0.3);
$speech-bubble__tri-dropshadow: -10px 5px 15px -5px rgba(33,142,199,0.3);

// Qudos colours
$qudos-blue: #228ec8;
$qudos-darkblue: #233041;
$qudos-dark: #0d111c;
$qudos-milk: #e6e7e8;
$qudos-darkmilk: #999999;
$qudos-gradient--dark: linear-gradient(to right, #1b2430 50%, #083c58 95%);