.header {
    &__logo {
        width: 14.7rem;
        height: 4.7rem;

        svg {
            image {
                width: 14.7rem;
                height: 4.6rem;
            }
        }
    }

    &__nav--active {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        width: 100%;
    }
}