.why-qudos__section--1 img.img-fluid:first-child{
    top:30px;
    left:50%;
    width:90%;
}
#terms{
    font-size:2rem;
}
p.promo-description{
    font-size:1.5rem;
    line-height: 2.5rem;
}
.why-qudos__section--1{
    height:110vh;
}
#sched-20-off #header-img{
    top:-100px;
}