.qudos-blue {
    color: #228ec8;
}

.nu-section {
    overflow-y: hidden;
}

.header__prime:before {
    bottom: -2.5rem;
}

p.subheader__prime {
    font-weight: 400;
}

.subheader__prime {
    line-height: 3rem;
}

.h3 {
    font-size: 3rem;
}

#guy-1 {
    width: 35%;
    left: 270px;
    top: 0px;
}

#phone-1 {
    width: 10%;
}

#calendar-1 {
    top: 250px;
    left: 420px;
    width: 20%;
}

#car-1 {
    width: 25%;
    top: 290px;
    left: 200px;
}

#like-1 {
    width: 15%;
    top: 140px;
    left: 600px;
}

.subheader__prime {
    width: 100%;
}

#sec-2-img {
    width: 70%;
    margin-left: 20%;
}

#sec-2-free {
    position: absolute;
    left: 70px;
    top: 80px;
    width: 30%;
}

#sec-3-img {
    width: 60%;
    margin-left: 20%;
}

#sec-6-img {
    width: 80%;
    margin-left: 20%;
}

#sec-7-img {
    width: 70%;
    /* margin-top:-50px; */
    margin-left: 10%;
}

#sec-8-img {
    width: 70%;
    margin-top: 50px;
    margin-left: 30%;
}

#sec-9-img {
    width: 60%;
    margin-top: 10px;
    margin-left: 10%;
}

#sec-10-img {
    width: 70%;
    margin-top: 10px;
    margin-left: 20%;
}

#laptop-sec-12 {
    top: 40px;
    left: 100%;
}

#sec-12-img {
    top: -20px;
    width: 25%;
    left: 200px;
}

#tablet-sec-12 {
    top: -70px;
    width: 70%;
}

.why-qudos__section--2 {
    height: 70vh;
}

.why-qudos__section--2 .col-sm-12 {
    margin-bottom: 10%;
}

.why-qudos__section--2-2 {
    height: 40vh;
}

.why-qudos__section--2-3 {
    height: 45vh;
}

.why-qudos__section--2-3 .col-sm-3 {
    padding: 0 !important;
    margin: 0 !important;
}

#query-1,
#query-2,
#query-3 {
    font-size: 1.2rem;
}

#query-1 {
    left: 2%;
}

#query-2 {
    left: 10%;
}

#query-3 {
    left: 13%;
}

.why-qudos__section--2-3 ol li {
    list-style: disc;
    text-indent: 3rem;
}

.why-qudos__section--2-4 {
    height: 70vh;
    background: #228ec8;
}

.why-qudos__section--2-5 {
    height: 35vh;
}

.why-qudos__section--2-6 {
    height: 35vh;
}

.why-qudos__section--2-7 {
    height: 40vh;
}

.why-qudos__section--2-8 {
    height: 30vh;
}

.why-qudos__section--2-9 {
    height: 45vh;
}

.why-qudos__section--2-10 {
    height: 40vh;
}

.why-qudos__section--5 {
    background: #030d19;
    height: 70vh;
}

#sec-4-img-1 {
    margin-left: 4%;
    width: 25%;
}

#sec-4-img-2 {
    position: relative;
    top: 100px;
    width: 20%;
    margin-left: 10%;
}

#sec-4-img-3 {
    width: 23%;
    margin-left: 10%;
}

#query-2 {
    top: 100px;
}

#sec-11-img-1 {
    top: 50px;
    width: 100%;
}

#sec-11-img-2 {
    left: 250px;
    top: 20px;
    width: 25%;
}

.section-top-curve {
    height: 130px;
    background: url("../../__assets/img/start/top-curve.svg") top no-repeat;
    margin-bottom: -10px;
}

.section-top-curve-dark {
    height: 80px;
    background: url("../../__assets/img/corporate/top-curve-dark.svg") top no-repeat;
    margin-bottom: -10px;
}

.section-bottom-curve {
    height: 15vh;
    background: url("../../__assets/img/corporate/bottom-curve.svg") no-repeat;
    background-position: center;
    margin-top: -10px;
}

#road-marker {
    top: 25px;
    width: 50%;
    margin-left: 25%;
}

.card-dark {
    background: #233041;
    padding: 15px 30px;
    margin-bottom: 5px;
    border-radius: 1em;
}

.why-qudos__section--2-10 img {
    position: absolute;
}

.footer {
    background: #e6e7e8;
}

.footer span {
    color: rgba(0, 0, 0, 1);
}

.footer a {
    color: rgba(0, 0, 0, .6);
}

.footer a:hover {
    color: rgba(0, 0, 0, 1);
}

.footer__social a i {
    color: rgba(0, 0, 0, .6);
}

.footer__social a i:hover {
    color: rgba(0, 0, 0, 1);
}

.footer__small,
.footer__rights {
    color: rgba(0, 0, 0, .6) !important;
}

.footer__text {
    color: rgba(0, 0, 0, .6);
}

.circle-gradient {
    position: absolute;
    left: 30%;
    height: 70vh;
    width: 70%;
    background-image: radial-gradient(circle, #06254d 5%, #030d19 40%, #030d19 95%);
}

#schedule-watermark {
    filter: invert(100%);
    position: absolute;
    margin-top: -150px;
    height: 100vh;
    width: 33%;
    background: url("../../__assets/img/corporate/schedule-watermark.png") no-repeat;
    background-size: 100%;
}

#fave-watermark {
    filter: invert(100%);
    position: absolute;
    margin-top: -150px;
    height: 100vh;
    width: 33%;
    background: url("../../__assets/img/corporate/fave-watermark.png") no-repeat;
    background-size: 100%;
}

@media (max-width:1440px) {
    #sec-12-img {
        left: 25%;
        top: 20%;
    }

    #tablet-sec-12 {
        left: 30%;
        top: 10%;
    }

    .subheader__prime {
        font-size: 2rem;
    }

    .why-qudos__section--2 {
        height: 60vh;
    }

    .why-qudos__section--2 .col-sm-12 {
        margin-bottom: 4%;
    }

    .why-qudos__section--2-2 {
        height: 35vh;
    }

    .why-qudos__section--2-3 {
        height: 40vh;
    }

    .why-qudos__section--2-4 {
        height: 60vh;
    }

    .section-bottom-curve {
        height: 13vh;
    }

    .why-qudos__section--2-10 {
        height: 40vh;
    }

    .circle-gradient {
        display: none;
    }

    .why-qudos__section--5 {
        height: 60vh;
        padding-bottom: 10vh;
    }

    #schedule-watermark {
        filter: invert(100%);
        position: absolute;
        margin-top: -100px;
        height: 100vh;
        width: 45%;
        background: url("../../__assets/img/corporate/schedule-watermark.png") no-repeat;
        background-size: 100%;
    }

    #fave-watermark {
        filter: invert(100%);
        position: absolute;
        margin-top: -100px;
        height: 100vh;
        width: 45%;
        background: url("../../__assets/img/corporate/fave-watermark.png") no-repeat;
        background-size: 100%;
    }

}

@media (max-width:1120px) {
    #header-title .header__prime {
        font-size: 4rem;
    }

    #car-1 {
        top: 22%;
    }

    #like-1 {
        left: 90%;
    }

    .why-qudos__section--2-2 {
        height: 40vh;
    }

    .why-qudos__section--2-3 {
        height: 45vh;
    }

    .why-qudos__section--2-4 {
        height: 80vh;
    }

    .why-qudos__section--2-10 {
        height: 45vh;
    }

    #sec-12-img {
        left: 30%;
        top: 20%;
    }

    #tablet-sec-12 {
        left: 35%;
        top: 10%;
    }

    #sec-4-img-1 {
        margin-left: 4%;
        width: 20%;
    }

    #sec-4-img-2 {
        position: relative;
        top: 50px;
        width: 18%;
        margin-left: 15%;
    }

    #sec-4-img-3 {
        width: 19%;
        margin-left: 15%;
    }

    #query-1,
    #query-2,
    #query-3 {
        font-size: 1rem;
    }

    #query-2 {
        top: 50px;
    }

    #query-3 {
        left: 16%;
    }
}

@media (max-width:1024px) {
    #header-title .header__prime {
        font-size: 3.5rem;
    }

    .subheader__prime {
        font-size: 1.7rem;
    }

    #guy-1 {
        width: 35%;
        left: 270px;
        top: 0px;
    }

    #phone-1 {
        left: 30%;
        width: 10%;
    }

    #car-1 {
        top: 260px;
    }

    #like-1 {
        top: 130px;
        left: 90%;
    }

    .why-qudos__section--2 {
        height: 65vh;
    }

    .why-qudos__section--2-2 {
        height: 50vh;
    }

    .why-qudos__section--2-3 {
        height: 40vh;
    }

    .why-qudos__section--2-3 ol li {
        list-style: disc;
    }

    .why-qudos__section--2-4 {
        height: 80vh;
        background: #228ec8;
    }

    .section-bottom-curve {
        height: 20vh;
    }

    .why-qudos__section--2-5 {
        height: 40vh;
    }

    .why-qudos__section--2-6 {
        height: 40vh;
    }

    .why-qudos__section--2-7 {
        height: 45vh;
    }

    .why-qudos__section--2-8 {
        height: 30vh;
    }

    .why-qudos__section--2-9 {
        height: 55vh;
    }

    .why-qudos__section--2-10 {
        height: 45vh;
    }

    .why-qudos__section--5 {
        background: #030d19;
        padding-top: 50px;
    }

    .why-qudos__section--5 img.img-fluid:nth-child(2) {
        display: block;
    }

    .text-small {
        font-size: 1.5rem;
        line-height: 1.2;
    }

    #sec-2-img {
        width: 80%;
        margin-left: 10%;
    }

    #sec-2-free {
        position: absolute;
        left: 30px;
        top: 80px;
        width: 30%;
    }

    #sec-3-img {
        width: 80%;
        margin-left: 10%;
    }

    #road-marker {
        top: 35px;
    }

    #sec-6-img {
        width: 85%;
        margin-left: 10%;
    }

    #sec-7-img {
        width: 80%;
        margin-left: 10%;
    }

    #sec-8-img {
        width: 70%;
        margin-top: 50px;
        margin-left: 20%;
    }

    #sec-9-img {
        width: 60%;
        margin-top: 10px;
        margin-left: 15%;
    }

    #sec-10-img {
        width: 80%;
        margin-top: 10px;
        margin-left: 10%;
    }

    #laptop-sec-12 {
        top: 10px;
        left: 100%;
    }

    #sec-12-img {
        top: -20px;
        width: 25%;
        left: 20%;
    }

    #tablet-sec-12 {
        left: 25%;
        top: -50px;
        width: 60%;
    }

    #sec-11-img-1 {
        top: 50px;
        width: 100%;
    }

    #sec-11-img-2 {
        left: 60%;
        top: 20px;
        width: 25%;
    }

}

@media (max-width: 768px) {

    #guy-1 {
        width: 40%;
        left: 50%;
        top: 0px;
    }

    #phone-1 {
        top: 120px;
        left: 30%;
        width: 10%;
    }

    #car-1 {
        left: 40%;
        top: 220px;
    }

    #calendar-1 {
        top: 230px;
        left: 320px;
        width: 20%;
    }

    #like-1 {
        left: 95%;
    }

    .why-qudos .subheader__prime {
        width: 100%;
    }

    .why-qudos__section--2 {
        height: 55vh;
    }

    .why-qudos__section--2-2 {
        height: 35vh;
    }

    .why-qudos__section--2-3 {
        height: 40vh;
    }

    .why-qudos__section--2-3 ol li {
        list-style: disc;
        text-indent: 2rem;
    }

    .why-qudos__section--2-4 {
        height: 70vh;
        background: #228ec8;
    }

    .section-bottom-curve {
        height: 10vh;
    }

    .why-qudos__section--2-5 {
        height: 30vh;
    }

    .why-qudos__section--2-6 {
        height: 35vh;
    }

    .why-qudos__section--2-7 {
        height: 30vh;
    }

    .why-qudos__section--2-8 {
        height: 30vh;
    }

    .why-qudos__section--2-9 {
        height: 35vh;
    }

    .why-qudos__section--2-10 {
        height: 42vh;
    }

    .why-qudos__section--5 {
        background: #030d19;
        height: 50vh;
    }

    .circle-gradient {
        position: absolute;
        left: 30%;
        height: 50vh;
        width: 70%;
        background-image: radial-gradient(circle, #06254d 5%, #030d19 40%, #030d19 95%);
    }

    #road-marker {
        width: 80%;
        margin-left: 20%;
    }

    .text-small {
        font-size: 1.5rem;
        line-height: 1.2;
    }

    #sec-11-img-1 {
        top: 200px;
        left: 50px;
        width: 100%;
    }

    #sec-11-img-2 {
        left: 30%;
        top: 20px;
        width: 40%;
    }

    #laptop-sec-12 {
        top: 20%;
        width: 100%;
        left: 70%;
    }

    #sec-12-img {
        top: 15%;
    }

    #tablet-sec-12 {
        top: 15%;
    }

}

@media (max-width: 480px) {

    #sec-6-img,
    #sec-7-img,
    #sec-3-img,
    #sec-2-img,
    #sec-10-img {
        margin-bottom: 30px;
    }

    #header-title {
        margin-top: 0px;
        margin-bottom: 100px;
    }

    .svg-gradient-circle--1 {
        left: -60%;
        margin-top: -20%;
    }

    .why-qudos__section--2 .subheader__prime,
    .why-qudos__section--3 .subheader__prime {
        margin-left: 0;
    }

    .h3 {
        font-size: 2rem;
    }

    #guy-1 {
        width: 30%;
        left: 100%;
        top: 10px;
    }

    #phone-1 {
        top: 100px;
        left: 85%;
        width: 8%;
    }

    #car-1 {
        width: 20%;
        left: 90%;
        top: 170px;
    }

    #calendar-1 {
        top: 175px;
        left: 120%;
        width: 15%;
    }

    #like-1 {
        top: 100px;
        width: 13%;
        left: 135%;
    }

    #sec-2-img {
        width: 60%;
        margin-left: 20%;
    }

    #sec-2-free {
        position: absolute;
        left: 18%;
        top: 70px;
        width: 20%;
    }

    #sec-3-img {
        width: 60%;
        margin-left: 25%;
    }

    #road-marker {
        width: 40%;
        top: 35px;
        margin-left: 35%;
    }

    #sec-6-img {
        width: 70%;
        margin-left: 15%;
    }

    #sec-7-img {
        width: 70%;
        margin-left: 15%;
        /* margin-top:-50px; */
    }

    #sec-8-img {
        width: 55%;
        margin-left: 25%;
        margin-top: 50px;
    }

    #sec-9-img {
        width: 50%;
        margin-left: 25%;
        margin-top: 50px;
    }

    #sec-10-img {
        width: 60%;
        margin-left: 20%;
        margin-top: 10px;
    }

    #sec-11-img-1 {
        top: 30px;
        width: 60%;
        margin-left: 5%;
    }

    #sec-11-img-2 {
        left: 55%;
        top: 0px;
        width: 20%;
    }

    #laptop-sec-12 {
        top: 10px;
        left: 0%;
        width: 60%;
    }

    .text-small {
        font-size: 1.2rem;
    }

    #sec-12-img {
        margin-top: -23%;
        width: 22%;
        left: 22%;
    }

    #tablet-sec-12 {
        left: 27%;
        top: -120px;
        width: 60%;
    }

    #sec-4-img-1 {
        margin-left: 7%;
        margin-bottom: 20px;
        margin-top: -10%;
        width: 22%;
    }

    #sec-4-img-2 {
        top: 100px;
        width: 17%;
        margin-bottom: 20px;
        margin-top: -40%;
        margin-left: 11%;
    }

    #sec-4-img-3 {
        margin-bottom: 20px;
        width: 20%;
        margin-left: 14%;
        margin-top: -10%;
    }

    .subheader__prime {
        margin-left: 0;
    }

    .why-qudos__section--2-4 .header__prime-main {
        margin-top: 50px;
    }

    .why-qudos__section--2-4 .card-dark .header__prime-main {
        margin-top: 0;
        font-size: 2rem;
    }

    .card-dark {
        background: #233041;
        padding: 15px 30px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 1em;
    }

    .why-qudos__section--2 {
        height: 100vh;
    }

    .why-qudos__section--2,
    .why-qudos__section--3 {
        -webkit-clip-path: none;
        clip-path: none;
        padding-bottom: 150px;
    }

    .why-qudos__section--2-2 {
        height: 70vh;
    }

    .why-qudos__section--2-2 .d-flex {
        order: 2;
    }

    .why-qudos__section--2-3 {
        height: 70vh;
    }

    .why-qudos__section--2-3 ol li {
        list-style: disc;
        text-indent: 2rem;
    }

    .why-qudos__section--2-4 {
        height: 110vh;
        background: #228ec8;
    }

    .why-qudos__section--2-5 {
        height: 60vh;
    }

    .why-qudos__section--2-5 .d-flex {
        order: 2;
    }

    .why-qudos__section--2-6 {
        height: 50vh;
    }

    .why-qudos__section--2-7 {
        height: 50vh;
    }

    .why-qudos__section--2-7 .d-flex {
        order: 2;
    }

    .why-qudos__section--2-8 {
        height: 50vh;
    }

    .why-qudos__section--2-9 {
        height: 65vh;
    }

    .why-qudos__section--2-9 .d-flex {
        order: 2;
    }

    .why-qudos__section--2-10 {
        height: 75vh;
    }

    .why-qudos__section--2-10 .subheader__prime {
        margin-top: 250px;
    }

    .why-qudos__section--2-10 .header__prime-main {
        margin-top: 0px;
    }

    .why-qudos__section--5 {
        padding-top: 10vh;
        ;
        background: #030d19;
        height: 90vh;
    }

    .why-qudos__section--5 div.col-sm-6:first-child {
        margin-top: 150px;
    }

    .circle-gradient {
        display: none;
    }

    .section-top-curve {
        height: 80px;
    }

    #query-1 {
        position: absolute;
        top: -30%;
        width: 33%;
        left: 2%;
    }

    #query-2 {
        position: absolute;
        top: -10%;
        width: 33%;
        left: 32%;
    }

    #query-3 {
        position: absolute;
        top: -30%;
        width: 33%;
        left: 62%;
    }

    .why-qudos__section--5 .header__prime-main {
        width: 100%;
    }
}

@media (max-width: 414px) {
    #laptop-sec-12 {
        left: 15%;
    }

    .why-qudos__section--5 .container div:first-child .row div:last-child p {
        position: relative;
        left: 3rem;
        transform: scale(.9);
    }

    .why-qudos__section--2-3 {
        display: flex;
        height: 90vh;
        align-items: center;
    }
}

@media (max-width: 412px) {

    .why-qudos__section--2 {
        padding-top: 5rem;
        padding-bottom: 0;
        margin-top: 0;
    }

    .why-qudos__section--2-3 {
        height: 95vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .why-qudos__section--2-3 .container {
        position: relative;
        top: 3rem;
    }

    .why-qudos__section--2-4 {
        height: 128vh;
    }

    .why-qudos__section--2-6 {
        height: 60vh;
    }

    .why-qudos__section--2-9 {
        height: 70vh;
    }

    .why-qudos__section--2-10 {
        height: 85vh;
    }

    .why-qudos__section--5 {
        height: 100vh;
    }
}

@media (max-width: 411px) {
    .why-qudos__section--2 {
        padding-bottom: 0;
        padding-top: 0;
        height: 85vh;
    }

    .why-qudos__section--2-2 {
        height: 52vh;
    }

    #schedule-watermark {
        height: 70vh;
    }

    .why-qudos__section--2-4 {
        height: 110vh;
        display: flex;
        align-items: center;
    }

    .why-qudos__section--2-5 {
        height: 60vh;
        display: flex;
        align-items: center;
    }

    .why-qudos__section--2-6 {
        display: flex;
        align-items: center;
    }

    .why-qudos__section--2-9 {
        height: 55vh;
        display: flex;
        align-items: center;
    }

    .why-qudos__section--2-10 {
        display: flex;
        align-items: center;
    }

    .why-qudos__section--5 {
        display: flex;
        align-items: center;
        padding-bottom: 0;
        padding-top: 0;
        height: 85vh;
    }

    .why-qudos__section--5 .container {
        margin-top: unset;
    }
}

@media (max-width: 384px) {
    .why-qudos__section--2 {
        height: 80rem;
    }

    .why-qudos__section--2-2 {
        height: 50rem;
    }

    .why-qudos__section--2-4 {
        height: 100rem;
    }

    .why-qudos__section--2-8 {
        height: 40rem;
    }

    .why-qudos__section--2-9 {
        height: 50rem;
    }

    .why-qudos__section--2-10 {
        height: 80rem;
    }

    .why-qudos__section--5 {
        padding-top: 5rem;
        height: 80rem;
    }

    #laptop-sec-12 {
        width: 46%;
    }
}

@media (max-width:375px) {
    .why-qudos__section--1 .col-sm-7 {
        top: 4rem;
    }

    .why-qudos__section--2-7 {
        height: 40rem;
    }

    #laptop-sec-12 {
        left: 20%;
    }

    .why-qudos__section--5 .container div:first-child .row div:last-child p {
        position: relative;
        left: 5rem;
        transform: scale(.9);
    }

    p.subheader__prime {
        font-size: 1.75rem!important;
    }
}

@media (max-width: 320px) {
    .why-qudos__section--1 {
        height: 80rem;
    }

    .why-qudos__section--2-2 {
        height: 45rem;
    }

    .why-qudos__section--2-3 {
        height: 62rem;
    }

    .why-qudos__section--2-5 {
        height: 50rem;
    }
}