
body {
    overflow-x: hidden !important;
}

.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.row.no-gutters>[class^="col-"],
.row.no-gutters>[class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}

.img-side {
	position: absolute;
	bottom: 145px;
	left: 45%;
}

.qudos_button a {
	line-height: 50px;
	color: #fff;
	font-weight: 500;
	-webkit-border-radius: 3px;
	border-radius: 10px;
	text-align: center;
	background-image: -moz-linear-gradient(90deg, #254870 0%, #142f51 36%, #021532 99%);
	background-image: -webkit-linear-gradient(90deg, #254870 0%, #142f51 36%, #021532 99%);
	background-image: -ms-linear-gradient(90deg, #254870 0%, #142f51 36%, #021532 99%);
	background-image: linear-gradient(90deg, #254870 0%, #142f51 36%, #021532 99%);
	padding: 0px 40px;
}

.qudos_button a:hover {
	background: #021532;
	background: -moz-linear-gradient(left, #021532 0%, #254870 100%);
	background: -webkit-linear-gradient(left, #021532 0%, #254870 100%);
	background: linear-gradient(to right, #021532 0%, #254870 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#021532', endColorstr='#254870', GradientType=1);
	/* IE6-9 */
}

.qudos_button {
	margin-top: 20px;
	transition: 1.3s;
}

.qleft {
	float: left;
}

.qright {
	float: right;
}

.speech-bubble-header {
	position: relative;
	background: #fff;
	border-radius: .4em;
}

.speech-bubble-header:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-color: transparent transparent #ffffff #ffffff;
	transform-origin: 0 0;
	transform: rotate(-135deg);
	box-shadow: -3px 3px 4px 0px rgba(33, 142, 199, 0.27);
	margin-top: 40px;
	margin-right: -50px;
}

.speech-bubble {
	position: relative;
	background: #fff;
	border-radius: .4em;
}

.speech-bubble:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: 0.2em;
    right: 10%;
    box-sizing: border-box;
    border: 25px solid black;
    border-color: transparent transparent #ffffff #ffffff;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -3px 3px 3px 0px rgba(33, 142, 199, 0.24);
    margin-top: 40px;
}

.speech-bubble-right {
	position: relative;
	background: #fff;
	border-radius: .4em;
	/*box-shadow: 1px 3px 10px rgba(0,0,0,.1);*/
}

.speech-bubble-right:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: 0.2em;
    left: 10%;
    box-sizing: border-box;
    border: 30px solid black;
    border-color: transparent transparent #ffffff #ffffff;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -3px 3px 3px 0px rgba(33, 142, 199, 0.24);
    margin-top: 40px;
}

@media (max-width:425px) {
	.speech-bubble-header {
		position: relative;
		background: #cbcbcb;
		border-radius: .4em;
	}
	.speech-bubble-header:after {
		content: '';
		position: absolute;
		bottom: 0;
		margin-top: 107px;
		left: 50%;
		width: 0;
		height: 0;
		border: 40px solid transparent;
		border-color: transparent transparent #ffffff #ffffff;
		transform-origin: 0 0;
		transform: rotate(-45deg);
		box-shadow: -3px 3px 3px 0px rgba(33, 142, 199, 0.32);
		margin-left: -50px;
	}
	.speech-bubble {
		position: relative;
		background: #cbcbcb;
		border-radius: .4em;
	}
	.speech-bubble:after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		bottom: -75px;
		left: 35%;
		box-sizing: border-box;
		border: 40px solid;
		border-color: transparent transparent #ffffff #ffffff;
		/* transform-origin: 0 0; */
		/* transform: rotate(-45deg); */
		/* box-shadow: -3px 3px 3px 0px rgba(33, 142, 199, 0.18); */
	}
	.speech-bubble-right {
		position: relative;
		background: #cbcbcb;
		border-radius: .4em;
	}
	.speech-bubble-right:after {
		content: '';
		position: absolute;
		bottom: 0;
		margin-top: 95px;
		left: 50%;
		width: 0;
		height: 0;
		border: 50px solid transparent;
		border-top-color: #fff;
		border-bottom: 0;
		margin-left: -50px;
		margin-bottom: -50px;
	}


}

.banner {
	position: inherit;
	background: #fff url("../img/qudos_wave.png") no-repeat center center;
	background-size: cover;
	margin-top: 200px;
	/*background-attachment: fixed; lets see how this goes with new layout*/
}

.banner .container {
	padding: 5px 0px 0px;
}

.img_content_waitingguy {
	background: url('../img/section2_img.png') no-repeat;
	background-size: contain;
}

.img_content_waitingguy img {
	margin-left: 70px;
	position: relative;
	z-index: 10;
}

.img_content_starwoman {
	background: url('../img/section2_starwomanbg.png') no-repeat;
	background-size: auto;
	background-position: -30px 35px;
}

.img_content_starwoman img {
	position: relative;
	z-index: 10;
}

.img_content_corporatecouple {
	background: url('../img/section3_bgcorporatecouple.png') no-repeat;
	background-size: contain;
	background-position: 130px 10px;
}

.img_content_corporatecouple img {
	margin-left: 70px;
	position: relative;
	z-index: 10;
}

.first_section_blurb {
	margin-left: -190px;
	margin-top: -100px;
}

.second_section_blurb {
	margin-right: -100px;
}

.third_section_blurb {
	margin-left: -190px;
	margin-top: -160px;
}

.section_one {
	background: #f4f9fe;
	padding: 200px 0px 75px;
}

.section_two {
	padding: 120px 0px;
	background: #0d111c url("../img/diamond_bg.jpg") repeat center center;
	background-size: cover;
}

.section_three {
	padding: 250px 0px 100px;
	background: #f4f9fe;
	background-size: cover;
}

.section-card {
	background: #fff;
	box-shadow: 0px 1px 5px 0px rgba(33, 142, 199, 0.55);
	border-radius: 1em;
	padding: 20px 60px;
}

.section-card-main {
	position: relative;
	padding: 40px;
	z-index: 9;
}

.triangle-right {
	display: none;
	position: inherit;
	margin-right: -200px;
	margin-top: 200px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 70px;
	height: 80px;
	background: #fff;
	z-index: 8;
}

.card-header {
	background: #fff;
}

.card-header {
	cursor: pointer;
	padding: 20px 30px 20px 30px;
	width: 100%;
	border-top: solid rgba(0, 0, 0, 0) 1px;
	border-left: solid rgba(0, 0, 0, 0) 1px;
	border-right: solid rgba(0, 0, 0, 0) 1px;
	border-bottom: 0;
	border-radius: 1em;
}

.card-header:first-child {
	border-radius: 1em 1em 0 0;
}

.card-body {
	padding: 0px 30px 10px 30px;
	border-top: 0;
	border-left: solid rgba(0, 0, 0, 0.1) 1px;
	border-right: solid rgba(0, 0, 0, 0.1) 1px;
	border-bottom: solid rgba(0, 0, 0, 0.1) 1px;
	border-radius: 0 0 1em 1em;
}

.card {
	width: 100%;
	border: 0;
}

.desktop-hidden {
    display: none;
}



/* Footer ng ina nyo lahat*/


.floater {
    padding: 30px 0px;
}

.clouds_transitions {
    position: relative;
}

img.clouds_transitions.cloud1 {
    position:absolute !important;
    top: 68%;
    bottom: 0;
    left: 25%;
}


img.clouds_transitions.cloud2 {
    position:absolute !important;
    top: 35%;
    bottom: 0;
    left: 30%;
}

img.clouds_transitions.cloud3 {
    position:absolute !important;
    top: 65%;
    bottom: 0;
    left: 65%;
}



@media (max-width: 1024px) {
	.qudos-divider {
		margin: 10px 0;
	}
	.mobile-show {
		display: none;
	}
}

@media (max-width: 768px) {
	.tablet-hidden{
		display: none !important;
	}
	.footer__line {
		margin-bottom: 75px;
	}
	.section-card-main {
		padding: 20px 30px;
	}
	.img_content_waitingguy img {
		margin-left: -15px;
	}
	.img_content_waitingguy {
		background-position-y: 100px;
	}
	.img_content_starwoman img {
		margin-left: -25px;
	}
	.img_content_starwoman {
		background-position-y: 50px;
		background-position-x: 20px;
	}
	.img_content_corporatecouple img {
		margin-left: -15px
	}
	.img_content_corporatecouple {
		background-position-y: 0px;
		background-position-x: 15px;
	}

	.footer_content{
		font-size: 20px
	}

	.clouds_transitions {
		position: relative;
	}
	
	img.clouds_transitions.cloud1 {
		position:absolute !important;
		top: 60%;
		bottom: 0;
		left: 10%;
		width:50px;
	}


	img.clouds_transitions.cloud2 {
		position:absolute !important;
		top: 30%;
		bottom: 0;
		left:10%;
		width:100px;
	}

	img.clouds_transitions.cloud3 {
		position:absolute !important;
		top: 65%;
		bottom: 0;
		left: 60%;
		width:70px;
	}

}

@media (max-width: 425px) {


	h1{
		font-size: 2em;
	}
	h2 {
		font-size: 1.75em;
	}
	h3,
	h4 {
		font-size: 1em;
	}
	p {
		font-size: .9em;
	}
	.header__logo {
		height: 50px;
		margin-left: -5px;
		margin-right: 10px;
	}
	.header__btn {
		margin-right: 40px;
	}
	.section-card {
		padding: 30px;
		text-align: center;
	}
	.qudos-divider {
		margin: auto;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.card-body {
		padding: 0px 20px 10px 20px;
	}
	.card-header {
		padding: 20px 20px 20px 20px;
	}
	.footer {
		text-align: center;
		padding: 30px 0px 0px;
		font-size: 15px;
	}
	.footer__small {
		margin-left: 30px;
	}
	.footer__link {
		margin-right: 30px;
	}
	.banner {
		margin-top: 100px;
	}
	.img_content_headingimg {
		margin-top: 50px;
	}
	.header_blurb {
		margin: 0px 20px;
	}
	.first_section_blurb,
	.third_section_blurb,
	.mobile-hidden {
		display: none  !important;
	}

	.qright,
	.qleft {
		width: 100% !important;
	}
	.mobile-show {
		display: contents !important;
	}

    .second_section_blurb {
        margin-right: 0px;
        margin-bottom: 75px;
    }

    .img_content_starwoman img {
        margin-left: -5px;
    }

	.footer h2 {
		width:50%;
		font-size: 18px;
	}

	.section_one, .section_two, .section_three{
		padding: 75px 0px;
	}

	.desktop-hidden {
	    display: contents !important;
	}

	.found{
		display: contents !important;
		width: 100% !important;
	}


	.clouds_transitions {
		position: relative;
	}

	img.clouds_transitions.cloud1 {
		position:absolute !important;
		top: 81%;
		bottom: 0;
		left: 10%;
		width: 15%;
	}


	img.clouds_transitions.cloud2 {
		position:absolute !important;
		top: 65%;
		bottom: 0;
		left: 15%;
		width: 25%;
	}

	img.clouds_transitions.cloud3 {
		position:absolute !important;
		top: 80%;
		bottom: 0;
		left: 65%;
		width: 15%;
	}


}


@media (max-width: 320px) {
	.section-card {
		padding: 20px;
	}
	.footer__small {
		margin-left: 25px;
	}
	.footer__link {
		margin-right: 25px;
	}
}
