.nav li.nav-item:not(:last-child) {
  margin-right: 1rem;
}

.nav a:focus, .nav a:focus-within, .nav a:visited {
  background-color: #233041;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(34, 142, 200, 0.2);
  box-shadow: 0px 10px 20px 0px rgba(34, 142, 200, 0.2);
}

.nav-icon {
  width: 16rem;
  height: 16rem;
  background-color: #228ec8;
  border-radius: 1rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.nav-icon.active {
  background-color: #233041;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(34, 142, 200, 0.2);
  box-shadow: 0px 10px 20px 0px rgba(34, 142, 200, 0.2);
}

.nav-icon:hover {
  background-color: rgba(35, 48, 65, 0.9);
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

.nav-pills .nav-link {
  height: 3.5rem;
  color: black;
  border-right: 5px solid #E6E6E6;
  border-radius: 0;
  font-size: 1.5rem;
}

.nav-pills .nav-link--no-border {
  border: none;
}

.nav-pills .nav-link.active {
  color: #228ec8;
  border-right: 5px solid #228ec8;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: white;
  font-size: 1.8rem;
}

.nav-pills .nav-link.nav-link--no-border.active {
  border: none;
}

.platform__btn {
  display: inline-block;
  padding: .8rem 5rem;
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: #248EC6;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.platform__btn:hover {
  background-color: #233041;
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

.platform__btn:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(34, 142, 200, 0.2);
  box-shadow: 0px 10px 20px 0px rgba(34, 142, 200, 0.2);
}

html,
body {
  font-size: 10px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 88px;
  position: relative;
}

.header__content:before {
  content: '';
  position: absolute;
  display: block;
  top: 100%;
  left: 50%;
  width: 100%;
  max-width: 330px;
  height: 2px;
  background-color: #fff;
  opacity: 0.5;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.header__logo {
  position: relative;
  height: 65px;
  display: block;
  cursor: pointer;
}

.header__logo object {
  width: 165px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__logo object:last-child {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.header__nav {
  position: fixed;
  top: 0;
  bottom: 0;
  width: -webkit-fill-available;
  background-color: #fff;
  right: 0;
  -webkit-transform: translate3d(700, 0, 0);
  transform: translate3d(700px, 0, 0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.header__nav--active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.header__nav a {
  font-size: 16px;
  font-weight: 500;
  color: #0f1423;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.header__nav a:last-child {
  margin-bottom: 0;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-top: 2px solid #000;
  padding: 20px 10px 0;
  margin-top: 20px;
}

.header__social a {
  margin: 0 5px;
  font-size: 18px;
}

.header__btn {
  font-family: 'Montserrat', sans-serif;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 3px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#1f8dc6), color-stop(48%, #2e81a0), to(#3c747a));
  background-image: linear-gradient(90deg, #1f8dc6 0%, #2e81a0 48%, #3c747a 100%);
  margin-right: 60px;
  padding: 0px 10px;
}

.header__btn:hover {
  color: #fff;
}

.header__brand {
  font-family: 'Montserrat', sans-serif;
}

.header__menu {
  position: absolute;
  width: 29px;
  height: 18px;
  display: block;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.header__menu span {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  background-color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}

.header__menu span:first-child {
  top: 0;
}

.header__menu span:nth-child(2) {
  top: 50%;
  margin-top: -1px;
}

.header__menu span:last-child {
  top: 100%;
  margin-top: -2px;
}

.header__menu--active span {
  /*kk important*/
  background-color: black !important;
}

.header__menu--active span:first-child {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 50%;
  margin-top: -2px;
}

.header__menu--active span:nth-child(2) {
  opacity: 0;
}

.header__menu--active span:last-child {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
}

.header--active,
.header--white {
  /*background-color: #fff;*/
  /*new add kk*/
  background-image: -webkit-gradient(linear, left top, right top, from(#171f2d), to(#03030a));
  background-image: linear-gradient(90deg, #171f2d 0%, #03030a 100%);
  /*add end*/
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
}

.header--active .header__menu span,
.header--white .header__menu span {
  /*background-color: #0f1423;*/
  /*add kk*/
  background-color: #fff;
}

.header--active .header__content:before,
.header--white .header__content:before {
  display: none;
}

.header--active .header__logo object:first-child,
.header--white .header__logo object:first-child {
  opacity: 0;
}

.header--active .header__logo object:last-child,
.header--white .header__logo object:last-child {
  opacity: 1;
}

.help__content {
  width: 100%;
  height: auto;
  margin-top: 8.8rem;
  position: relative;
}

.help__content-bar {
  background-color: #228ec8;
  height: 10rem;
}

.help__content-bar--menu {
  height: 10rem;
  width: 100%;
  position: absolute;
}

.help__content-bar--menu ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: .3;
}

.help__content-bar--menu ::-moz-placeholder {
  /* Firefox 19+ */
  opacity: .3;
}

.help__content-bar--menu :-ms-input-placeholder {
  /* IE 10+ */
  opacity: .3;
}

.help__content-bar--menu :-moz-placeholder {
  /* Firefox 18- */
  opacity: .3;
}

.help__content-bar--menu .form-control {
  height: 4.2rem;
  font-size: 1.5rem;
  border: 0;
}

.help__content-bar--menu .fa-caret-down {
  position: absolute;
  font-size: 2rem;
  right: 2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.body__content h4 {
  max-width: 16rem;
  font-size: 1.5rem;
  padding: 0 1.5rem;
}

.contact-divider {
  margin-bottom: 10rem;
}

.contact-divider hr {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.contact-divider a {
  text-decoration: none;
}

.contact-divider a:hover {
  color: white;
}

.footer {
  display: block;
  position: relative;
}

.footer__copyright {
  position: relative;
  display: block;
  padding: 3.5rem 0;
  margin-top: 5rem;
}

.footer__copyright:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  opacity: 0.05;
  top: 0;
  left: 0;
  background-image: linear-gradient(-35deg, #000000 0%, #000000 100%);
}

.footer__link {
  display: inline-block;
  float: right;
  font-size: 12px;
  color: #999999;
  line-height: 18px;
  opacity: 0.52;
}

.footer__link:hover {
  color: black;
}

.footer__list {
  margin-bottom: 3.5rem;
  text-align: left;
}

.footer__list a {
  display: inline-block;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  color: #999999;
  text-decoration: none;
}

.footer__list a:hover {
  color: #999999;
}

.footer__list li {
  display: block;
}

.footer__logo {
  display: inline-block;
  position: absolute;
  bottom: 100%;
}

.footer__logo object {
  width: 12.6rem;
}

.footer__small {
  font-size: 1.2rem;
  display: inline-block;
  text-align: left;
  color: #999999;
  line-height: 1.8rem;
  opacity: 0.52;
}

.footer__social a {
  color: white;
  opacity: 0.52;
  font-size: 3rem;
}

.footer__social a:hover {
  opacity: 1;
}

.footer__social li {
  margin-top: 3rem;
}

.footer__text {
  font-size: 1.2rem;
  line-height: 2.6rem;
  color: #999999;
  margin-top: .5rem;
  text-align: left;
}

.footer__text a {
  text-decoration: none;
  color: #999999;
}

.footer__text a:hover {
  color: #999999;
}

.footer__title {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: left;
}

.footer__title--connect {
  text-align: center;
}

@media (max-width: 1280px) {
  html,
  body {
    font-size: 9px;
  }
  .help__content {
    margin-top: 9.7rem;
  }
  .footer__logo {
    left: -8.5rem;
  }
}

@media (min-width: 1200px) {
  .header__content {
    padding: 0 6.5rem;
  }
  .header__nav {
    right: 28.5rem;
  }
  .header--white .header__content {
    padding: 0 9.5rem;
  }
  .header--white .header__nav {
    right: 9.5rem;
  }
  .footer__copyright {
    padding: 5rem 0;
  }
}

@media (max-width: 1024px) {
  .img-fluid {
    width: 50%;
  }
  .nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-icon {
    width: 12rem;
    height: 12rem;
  }
  .footer__logo {
    left: -6.5rem;
  }
}

@media (min-width: 992px) {
  .footer__logo {
    position: relative;
    bottom: auto;
    left: -7.5rem;
    margin-top: -2rem;
  }
  .footer__social li {
    margin-top: 2rem;
  }
  .footer__title--connect {
    margin-bottom: 1rem;
  }
}

@media (max-width: 800px) {
  .help__content-bar h2.mb-0.mr-5 {
    font-size: 2.5rem;
  }
  .help__content-bar .pl-5 {
    padding-left: 1.5rem !important;
  }
  .help__content-bar select#inputState {
    width: 12rem;
  }
  .help__content-bar--menu .fa-caret-down {
    right: 1rem;
  }
  .body__content h4 {
    font-size: 1.1rem;
  }
  .body__content h2.mb-5 {
    font-size: 2.6rem;
  }
  .body__content p.mb-4 {
    font-size: 1.6rem;
  }
  h4.mb-4 {
    font-size: 1.6rem;
  }
  .col-3 {
    -ms-flex: 0 0 30%;
    -webkit-box-flex: 0;
            flex: 0 0 30%;
    max-width: 30%;
  }
  .col-9 {
    -ms-flex: 0 0 70%;
    -webkit-box-flex: 0;
            flex: 0 0 70%;
    max-width: 70%;
  }
  .nav-item {
    width: 10rem;
  }
  .nav-pills .nav-link {
    font-size: 1.3rem;
  }
  .nav-pills .nav-link.active {
    font-size: 1.5rem;
  }
  .platform__btn {
    font-size: 1.6rem;
  }
  .footer__logo {
    left: 0.5rem;
    margin-bottom: 1rem;
  }
  .footer .col-md-4 {
    max-width: 25%;
  }
}

@media (min-width: 768px) {
  .header .container {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .header__content:before {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .header__btn {
    margin: 0;
    width: 16rem;
  }
  .header__logo {
    height: 6.4rem;
    margin-left: -.8rem;
  }
  .header__logo object {
    width: 16rem;
  }
  .header__nav {
    position: absolute;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    padding: 0;
    right: 22rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: transparent;
  }
  .header__nav a {
    margin: 0 3rem 0 0;
    color: black;
  }
  .header__nav a:hover {
    color: black;
  }
  .header__nav a.desk {
    display: none;
  }
  .header__social {
    display: none;
  }
  .header--active .header__nav a,
  .header--white .header__nav a {
    /*color: #0f1423;*/
    /*new add kk*/
    color: #fff !important;
    /*add end*/
  }
  .header--active .header__nav a:hover,
  .header--white .header__nav a:hover {
    color: #0f1423;
  }
  .header--white .header__nav {
    right: 0;
  }
  .footer__copyright {
    padding: 4rem 0;
    margin-top: 1.5rem;
  }
  .footer__social a {
    text-align: left;
    display: inline-block;
  }
  .footer__title--connect {
    text-align: left;
  }
  .footer__rights {
    display: inline-block;
    float: left;
    font-size: 1.2rem;
    color: #999999;
    line-height: 1.8rem;
    opacity: 0.52;
  }
}

@media (width: 1024px) {
  .header__nav {
    right: 16rem;
  }
}

@media (width: 800px) {
  .header__nav {
    right: 19rem;
  }
}

@media (width: 768px) {
  .header__nav {
    right: 19rem;
  }
}

@media (max-width: 640px) {
  .header__content::before {
    display: none;
  }
  .help__content-bar h2.mb-0.mr-5 {
    width: 13rem;
    font-size: 2rem;
  }
  .help__content-bar .mr-5 {
    margin-right: 1rem !important;
  }
  .help__content-bar--menu .fa-caret-down {
    right: -3rem;
  }
  .col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 40%;
  }
  .col-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    max-width: 60%;
    padding-left: 0;
  }
  .nav-item {
    width: 8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-icon {
    width: 8rem;
    height: 8rem;
  }
  .nav li h4 {
    display: none;
  }
  .tab-content .tab-pane .col-12 .row.mt-5 .container {
    position: relative;
    left: -100%;
    -webkit-transform: translateX(40%);
            transform: translateX(40%);
  }
  .tab-content .tab-pane .col-12 .row.mt-5 .container .col-12 {
    width: 60rem;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    max-width: unset;
  }
  .footer {
    padding-top: 8rem;
  }
  .footer__title--connect {
    text-align: left;
  }
  .footer .container .row .col-12 {
    top: 15px;
  }
  .footer .container .row .col-12 .footer__social {
    max-width: 50%;
  }
  .footer .container .row .col-12 .footer__social li {
    margin-top: 2rem;
  }
  .footer__rights {
    display: none;
  }
}

@media (min-width: 480px) {
  .header .container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .help__content {
    margin-top: 11rem;
  }
}

@media (max-width: 480px) {
  html,
  body {
    font-size: 8px;
  }
  main {
    overflow: hidden;
  }
  .active-480 {
    display: block;
  }
  .form-group.col-sm-6.col-xs-6.mb-0.pr-1 {
    width: 50%;
  }
  .form-group.col-sm-2.col-xs-2.mb-0.pl-0 {
    width: 26%;
  }
  .body__content h2.mb-5 {
    font-size: 2.4rem;
  }
  .body__content p.mb-4 {
    font-size: 1.4rem;
  }
  .help__content-bar--menu .fa-caret-down {
    right: 1.8rem;
  }
}

@media (max-width: 414px) {
  .active-414 {
    display: block;
  }
  .form-group.col-sm-6.col-xs-6.mb-0.pr-1 {
    width: 60%;
  }
  .form-group.col-sm-2.col-xs-2.mb-0.pl-0 {
    width: 28%;
  }
  .help__content {
    margin-top: 11rem;
  }
  .help__content-bar select#inputState {
    width: 11rem;
  }
  .help__content-bar--menu .fa-caret-down {
    right: 1.4rem;
  }
  .tab-content .tab-pane .col-12 .row.mt-5 .container .col-12 {
    width: 50rem;
  }
  .col-3 .nav {
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .col-3 .nav-link {
    width: 100%;
  }
  .col-3 .nav-pills .nav-link {
    height: 4.5rem;
  }
  .col-3 .nav-pills .nav-link.active {
    font-size: 1.3rem;
    font-weight: 700;
  }
  .col-12 .nav {
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .col-12 .nav-link.active {
    font-size: 1.3rem;
    font-weight: 700;
  }
  .col-12 .row.mt-5 .container {
    top: 2rem;
  }
  .nav-item {
    width: 6rem;
  }
  .nav-icon {
    width: 6rem;
    height: 6rem;
  }
  .footer__title--connect {
    text-align: center;
  }
  .footer .container .row .col-md-4 {
    max-width: 100%;
  }
  .footer .container .row div.col-6:nth-child(3),
  .footer .container .row div.col-6:nth-child(4) {
    margin-top: 3rem;
  }
  .footer .container .row .col-12 .footer__social {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__copyright {
    padding: 1rem 0 3.5rem 0;
  }
}

@media (max-width: 412px) {
  .form-group.col-sm-2.col-xs-2.mb-0.pl-0 {
    width: 28%;
  }
}

@media (max-width: 384px) {
  .active-414 {
    display: inline-block;
  }
  .active-384 {
    display: block;
  }
  .form-group.col-sm-6.col-xs-6.mb-0.pr-1 {
    width: 57%;
  }
  .help__content-bar--menu .fa-caret-down {
    right: .4rem;
  }
  .tab-content .tab-pane .col-12 .row.mt-5 .container .col-12 {
    width: 45rem;
  }
}

@media (max-width: 375px) {
  .form-group.col-sm-6.col-xs-6.mb-0.pr-1 {
    width: 56%;
  }
}

@media (max-width: 360px) {
  .active-360 {
    display: block;
  }
  .form-group.col-sm-6.col-xs-6.mb-0.pr-1 {
    width: 54%;
  }
  .help__content-bar--menu .fa-caret-down {
    right: 0;
  }
  .header__logo {
    height: 5.8rem;
  }
  .header__logo object {
    width: 14.5rem;
  }
  .help__content {
    margin-top: 11rem;
  }
}

@media (max-width: 320px) {
  .active-384 {
    display: inline;
  }
  .active-320 {
    display: block;
  }
  .body__content h2.mb-5 {
    font-size: 2.2rem;
  }
  .body__content p.mb-4 {
    font-size: 1.2rem;
  }
  .col-3 .nav-pills .nav-link {
    font-size: 1.1rem;
  }
  .col-3 .nav-pills .nav-link.active {
    font-size: 1.1rem;
  }
  .col-12 .nav-link {
    font-size: 1.1rem;
  }
  .col-12 .nav-link.active {
    font-size: 1.1rem;
  }
  .contact-divider h4.mb-4 {
    font-size: 1.2rem;
  }
  .form-group.col-sm-6.col-xs-6.mb-0.pr-1 {
    width: 50%;
  }
  .footer .container .row .col-md-4 {
    max-width: 50%;
  }
  .footer .container .row .col-12 .footer__social {
    max-width: 80%;
  }
  .help__content {
    margin-top: 11rem;
  }
  .help__content-bar h2.mb-0.mr-5 {
    width: 10rem;
    font-size: 1.6rem;
  }
  .help__content-bar--menu .fa-caret-down {
    right: 0;
  }
  .img-fluid {
    width: 60%;
  }
  .nav-item {
    width: 5rem;
  }
  .nav-icon {
    width: 5rem;
    height: 5rem;
  }
  .platform__btn {
    font-size: 1.1rem;
  }
  .tab-content .tab-pane .col-12 .row.mt-5 {
    margin-top: 2rem !important;
  }
  .tab-content .tab-pane .col-12 .row.mt-5 .container .col-12 {
    width: 40rem;
  }
  .tab-content .tab-pane .col-12 .row.mt-5 .container .col-12 .tab-content .tab-pane .mb-5 {
    margin-bottom: 2rem !important;
  }
}
/*# sourceMappingURL=help-center.css.map */