.help__content {
    width: 100%;
    height: auto;
    margin-top: 8.8rem;
    position: relative;

    &-bar {
        background-color: $qudos-blue;
        height: 10rem;
        // position: fixed;
        // width: 100%;
        &--menu {
            height: 10rem;
            width: 100%;
            position: absolute;

            ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                opacity: .3;
              }
              ::-moz-placeholder { /* Firefox 19+ */
                opacity: .3;
              }
              :-ms-input-placeholder { /* IE 10+ */
                opacity: .3;
              }
              :-moz-placeholder { /* Firefox 18- */
                opacity: .3;
              }
              
            .form-control {
                height: 4.2rem;
                font-size: 1.5rem;
                border: 0;
            }

            .fa-caret-down {
                position: absolute;
                font-size: 2rem;
                right: 2rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.body__content {
  h4 {
    max-width: 16rem;
    font-size: 1.5rem;
    padding: 0 1.5rem;
  }
}

.contact-divider {
  margin-bottom: 10rem;
  hr {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  a {
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
}