body {
  overflow-x: hidden !important;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters>[class^="col-"],
.row.no-gutters>[class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}


header.header {
  /* background: #fff; */
}

.img-side {
  position: absolute;
  bottom: 145px;
  left: 45%;
}

.qudos_button a {
  line-height: 50px;
  color: #fff;
  font-weight: 500;
  border-radius: 10px;
  text-align: center;
  background-image: -o-linear-gradient(left, #254870 0%, #142f51 36%, #021532 99%);
  background-image: -webkit-gradient(linear, left top, right top, from(#254870), color-stop(36%, #142f51), color-stop(99%, #021532));
  background-image: linear-gradient(90deg, #254870 0%, #142f51 36%, #021532 99%);
  padding: 20px 40px;
}

.qudos_button a:hover {
  background: #021532;
  background: -o-linear-gradient(left, #021532 0%, #254870 100%);
  background: -webkit-gradient(linear, left top, right top, from(#021532), to(#254870));
  background: linear-gradient(to right, #021532 0%, #254870 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#021532', endColorstr='#254870', GradientType=1);
  /* IE6-9 */
}

.qudos_button {
  margin-top: 20px;
  -webkit-transition: 1.3s;
  -o-transition: 1.3s;
  transition: 1.3s;
}

.qleft {
  float: left;
}

.qright {
  float: right;
}

.qudos_content {
  padding: 40px 20px 0px;
}

.qudos_content.left-side p,
.qudos_content.right-side p,
.qudos_content {
  font-size: 18px;
  margin-bottom: 20px;
}

.qudos_content span.bold {
  font-weight: 700;
}

.qudos_content.left-side {
  color: #fff;
}

.qudos_content.right-side {
  color: #000;
}

span.bolded-text {
  font-size: 26px;
  font-weight: 800;
}

ul.qudos_blue {
  color: #0091cc;
  font-size: 18px;
  list-style-type: none;
  margin-bottom: 15px;
}

ul.qudos_blue li:before {
  content: 'ÃƒÂ¢Ã…â€œÃ¢â‚¬Â';
  padding-right: 0.5em;
}

.img_content_first-section:before {
  content: url(../img/bldg_nyc.png);
  position: absolute;
  bottom: 5px;
  right: 0px;
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
}

.img_content_first-section:after {
  content: url(../img/qudos_analogclock.png);
  position: absolute;
  top: 90px;
  left: -75px;
  z-index: -9;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.img_content_second-section:before {
  content: url(../img/bldg_nyc.png);
  position: absolute;
  position: absolute;
  top: 95px;
  left: -85px;
  z-index: -9;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.img_content_second-section:after {
  content: url(../img/qudos_car_left.png);
  position: absolute;
  bottom: 15px;
  left: -115px;
}

.img_content_third-section:before {
  content: url(../img/bldg_nyc.png);
  position: absolute;
  bottom: 25px;
  right: -10px;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.img_content_third-section:after {
  content: url(../img/qudos_car_right.png);
  position: absolute;
  bottom: -50px;
  left: 100px;
}

.img_content_fourth-section:before {
  position: absolute;
  top: 140px;
  left: -75px;
  z-index: -9;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.img_content_fourth-section:after {
  position: absolute;
  bottom: -30px;
  right: -85px;
}

.img_content_second-section img {
  position: relative;
  z-index: 9;
}

span.qudos_blue {
  color: #228ec8;
}

.speech-bubble-header {
  position: relative;
  background: #fff;
  border-radius: .4em;
}

.speech-bubble-header:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 29px solid transparent;
  border-color: transparent transparent #ffffff #ffffff;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  -webkit-box-shadow: -4px 3px 2px 0px rgba(33, 142, 199, 0.18);
  box-shadow: -4px 3px 2px 0px rgba(33, 142, 199, 0.18);
  margin-top: 45px;
  margin-right: -55px;
}

.speech-bubble {
  position: relative;
  background: #fff;
  border-radius: .4em;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-color: transparent transparent #ffffff #ffffff;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  -webkit-box-shadow: -8px 6px 6px 0px rgba(33, 142, 199, 0.27);
  box-shadow: -8px 6px 6px 0px rgba(33, 142, 199, 0.27);
  margin-top: 30px;
  margin-right: -39px;
}

.speech-bubble-right {
  position: relative;
  background: #fff;
  border-radius: .4em;
}

.speech-bubble-right:after {
  content: '';
  position: absolute;
  left: 0;
  top: 4%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-color: transparent transparent #ffffff #ffffff;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-shadow: -5px 5px 6px 0px rgba(33, 142, 199, 0.22);
  box-shadow: -5px 5px 5px 0px rgba(33, 142, 199, 0.22);
  margin-top: 20px;
  margin-left: 3px;
}

.banner {
  position: inherit;
  background: url(../img/start_waverbanner.png) no-repeat center center;
  background-size: cover;
  padding-top: 100px;
}

.banner .container {
  padding: 0px 0px 0px;
}

.first_section_blurb {
  text-align: center;
}

.second_section_blurb {
  text-align: center;
}

.third_section_blurb {
  text-align: center;
}

.fourth_section_blurb {
  margin-left: 0px;
  text-align: center;
  z-index: 9;
}

.section_one {
  background: #f4f9fe;
  padding: 100px 0px 100px;
}

.section_two {
  padding: 100px 0px;
  background: #228ec8;
}

.section_three {
  padding: 100px 0px 100px;
  background: #f4f9fe;
  background-size: cover;
}

.section_four {
  padding: 100px 0px 0px;
  background: #228ecc;
  background-size: cover;
}

.section-card {
  background: #fff;
  border-radius: 1em;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(33, 142, 199, 0.55);
  box-shadow: 0px 1px 5px 0px rgba(33, 142, 199, 0.55);
}

.section-card-main {
  position: relative;
  padding: 32px;
}

.triangle-right {
  display: none;
  position: inherit;
  margin-right: -200px;
  margin-top: 200px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 70px;
  height: 80px;
  background: #fff;
  z-index: 8;
}

.card-header {
  background: #fff;
}

.card-header {
  cursor: pointer;
  padding: 20px 30px 20px 30px;
  width: 100%;
  border-top: solid rgba(0, 0, 0, 0) 1px;
  border-left: solid rgba(0, 0, 0, 0) 1px;
  border-right: solid rgba(0, 0, 0, 0) 1px;
  border-bottom: 0;
  border-radius: 1em;
}

.card-header:first-child {
  border-radius: 1em 1em 0 0;
}

.card-body {
  padding: 0px 30px 10px 30px;
  border-top: 0;
  border-left: solid rgba(0, 0, 0, 0.1) 1px;
  border-right: solid rgba(0, 0, 0, 0.1) 1px;
  border-bottom: solid rgba(0, 0, 0, 0.1) 1px;
  border-radius: 0 0 1em 1em;
}

.card {
  width: 100%;
  border: 0;
}

.desktop-hidden {
  display: none;
}

.floater {
  padding: 40px 0px 0px;
}

.clouds_transitions {
  position: relative;
}


img.clouds_transitions.cloud1 {
  position: absolute !important;
  bottom: 15%;
  left: -5%;
}

img.clouds_transitions.cloud2 {
  position: absolute !important;
  top: 20%;
  bottom: 0;
  left: 25%;
}

img.clouds_transitions.cloud3 {
  position: absolute !important;
  top: 60%;
  bottom: 0;
  left: 75%;

}

img.planes_transitions.plane {
  position: absolute !important;
  bottom: 15%;
  right: -5%;
  z-index: 10;
  width: 50%;
}

img.planes_transitions.plane2 {
  position: absolute !important;
  top: 15%;
  bottom: 0;
  left: 35%;
  width: 13%;
}


img.clouds_transitions.cloud1_footer {
  position: absolute !important;
  bottom: 22%;
  left: 25%;
}

img.clouds_transitions.cloud2_footer {
  position: absolute !important;
  top: 35%;
  bottom: 0;
  left: 29%;
}

img.clouds_transitions.cloud3_footer {
  position: absolute !important;
  top: 70%;
  bottom: 0;
  left: 50%;
}

.footer {
  background: #fff !important;
  padding: 50px 0 0px;
  font-size: 24px;
}

.footer h2 {
  color: #0d111c;
  border: 1px solid #0d111c;
}

.footer h2 span {
  color: #0d111c;
}

.footer_content {
  color: #0d111c;
}

@media only screen and (max-width: 2560px) and (min-width: 1240px) {
  .header_blurb {
    margin-top: 75px;
  }
}

@media (max-width: 1024px) {
  .qudos-divider {
    margin: 10px 0;
  }

  .mobile-show {
    display: none;
  }

  .footer {
    font-size: 18px;
  }

  .footer .container .row div.col-sm-12:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .floater {
    padding: 0;
  }

  .speech-bubble:after {
    top: 49%;
    margin-right: -39px;
  }

  .speech-bubble-header:after {
    top: 49%;
  }
}

@media (max-width: 800px) {

  h1,
  h2 {
    font-size: 22px;
  }

  .section-card-main {
    padding: 28px;
  }

  .speech-bubble-right:after {
    top: -3%;
  }

  .img_content_first-section:before {
    bottom: 62px;
  }

  .img_content_first-section:after {
    display: none;
  }

  .footer {
    font-size: 14px;
  }
}

@media (max-width: 768px) {

  .qudos_content.left-side p,
  .qudos_content.right-side p,
  .qudos_content {
    font-size: 15px;
  }

  .qudos_content {
    padding: 22px 20px 0px;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3,
  h4 {
    font-size: 1em;
  }

  p {
    font-size: 1em !important;
    text-align: center;
    padding: 0px 35px;
  }

  ul.qudos_blue {
    font-size: 1em !important;
    text-align: center;
    list-style-type: none;

  }

  .header__logo {
    height: 50px;
    margin-left: -5px;
    margin-right: 10px;
  }

  .header__btn {
    margin-right: 40px;
  }

  .qudos_content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .img_content_headingimg img {
    height: auto;
    width: 300px;
    margin-left: -70px;
    margin: 0 auto;
  }

  .banner .container {
    padding: 0px 0px 0px !important;
  }

  .section-card {
    padding: 30px;
    text-align: center;
  }

  .qudos-divider {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .card-body {
    padding: 0px 20px 10px 20px;
  }

  .card-header {
    padding: 20px 20px 20px 20px;
  }

  .footer {
    text-align: center;
    padding: 75px 0px 0px;
    font-size: 15px;
  }

  .footer__small {
    margin-left: 30px;
  }

  .footer__link {
    margin-right: 30px;
  }

  .banner {
    margin-top: 20px;
  }

  .img_content_headingimg {

    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
  }

  .header_blurb {
    margin: 0px auto;
  }

  .mobile-hidden {
    display: none !important;
  }

  .qright,
  .qleft {
    width: 100% !important;
  }

  .mobile-show {
    display: contents !important;
  }


  .second_section_blurb {
    margin-right: 0;
    margin-bottom: 75px;
    margin-left: 0;
    margin-top: 0px;
    padding: 35px;
  } 

  .first_section_blurb {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0px;
    padding: 35px 150px;
    margin: 0 auto;
    margin-bottom: 75px;
  }

  .third_section_blurb {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0px;
    padding: 35px 150px;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .fourth_section_blurb {
    margin-right: 0px;
    margin-bottom: 75px;
    margin-left: 0px;
    margin-top: 0px;
    padding: 25px 0px 25px;
  }

  .img_content_starwoman img {
    margin-left: -5px;
  }

  .footer h2 {
    width: 50%;
    font-size: 18px;
  }

  .section_one,
  .section_two,
  .section_three,
  .section_four {
    padding: 75px 0px;
  }

  .desktop-hidden {
    display: contents !important;
  }

  .found {
    display: contents !important;
    width: 100% !important;
  }

  .clouds_transitions {
    position: relative;
  }

  img.clouds_transitions.cloud1 {
    position: absolute !important;
    top: 60%;
    bottom: 0;
    left: 10%;
    width: 15%;
  }

  img.clouds_transitions.cloud2 {
    position: absolute !important;
    top: 28%;
    bottom: 0;
    left: 5%;
    width: 25%;
  }

  img.clouds_transitions.cloud3 {
    position: absolute !important;
    top: 50%;
    bottom: 0;
    left: 55%;
    width: 15%;
  }

  img.clouds_transitions.cloud1_footer {
    position: absolute !important;
    top: 80%;
    bottom: 0;
    left: 10%;
    width: 15%;
  }

  img.clouds_transitions.cloud2_footer {
    position: absolute !important;
    top: 55%;
    bottom: 0;
    left: 20%;
    width: 20%;
  }

  img.clouds_transitions.cloud3_footer {
    position: absolute !important;
    top: 80%;
    bottom: 0;
    left: 60%;
    width: 13%;
  }

  .qudos_content span.bold {
    font-size: 20px
  }

  .qudos_button {
    text-align: center;
  }

  .banner {
    position: inherit;
    background: url(../img/start_waverbanner.png) no-repeat center center;
    background-size: cover;
    padding-top: 100px;
  }

  .img_content_first-section:before {
    content: url(../img/bldg_nyc.png);
    position: absolute;
    bottom: -10px;
    right: -145px;
  }

  .img_content_first-section:after {
    content: url(../img/qudos_analogclock.png);
    position: absolute;
    top: -50px;
    left: 110px;
    z-index: -9;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }

  .img_content_second-section:before {
    content: url(../img/bldg_nyc.png);
    position: absolute;
    bottom: 59px;
    left: -213px;
  }

  .img_content_second-section:after {
    content: url(../img/qudos_car_left.png);
    position: absolute;
    bottom: 15px;
    left: -50px;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }

  .img_content_third-section:before {
    content: url(../img/bldg_nyc.png);
    position: absolute;
    left: -220px;
    top: -100px;
  }

  .img_content_third-section:after {
    content: url(../img/qudos_car_right.png);
    position: absolute;
    bottom: -55px;
    right: -10px;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }

  .img_content_second-section img {
    position: relative;
    z-index: 9;
  }

  img.planes_transitions.plane {
    position: absolute !important;
    bottom: 10%;
    right: 20%;
    z-index: 10;
    width: 45%;
  }

  img.planes_transitions.plane2 {
    position: absolute !important;
    top: 25%;
    bottom: 0;
    left: 20%;
  }

  section.section_three .qudos_content.right-side {
    margin-top: 35px;
  }

  section.section_four .qudos_content.left-side {
    margin-top: 0px;
  }

  .speech-bubble-header {
    position: relative;
    border-radius: .4em;
  }

  .section_three .speech-bubble::after {
    margin-top: 52px;
  }

  .speech-bubble-header:after {
    content: '';
    position: absolute;
    bottom: 0;
    margin-top: 76px;
    left: 50%;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-color: transparent transparent #ffffff #ffffff;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-box-shadow: -3px 3px 3px 0px rgba(33, 142, 199, 0.26);
    box-shadow: -3px 3px 3px 0px rgba(33, 142, 199, 0.26);
    margin-left: -45px;
  }

  .speech-bubble {
    position: relative;
    border-radius: .4em;
  }

  .speech-bubble:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: 0.2em;
    left: 40%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 30px solid black;
    border-color: transparent transparent #ffffff #ffffff;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-box-shadow: -3px 3px 3px 0px rgba(33, 142, 199, 0.24);
    box-shadow: -3px 3px 3px 0px rgba(33, 142, 199, 0.24);
    margin-top: 54px;
  }

  .speech-bubble-right {
    position: relative;
    background: #cbcbcb;
    border-radius: .4em;
  }

  .speech-bubble-right:after {
    content: '';
    position: absolute;
    bottom: 0;
    margin-top: 95px;
    left: 50%;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top-color: #fff;
    border-bottom: 0;
    margin-left: -50px;
    margin-bottom: -50px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 22px;
  }

  .header_blurb {
    margin: 0px 15px;
  }

  .banner .section-card {
    padding: 22px;
  }

  .speech-bubble-header:after {
    margin-top: 80px;
  }

  .img_content_first-section:before,
  .img_content_third-section:before,
  .img_content_third-section:after {
    display: none;
  }

  .section_one img.img-fluid.wow.fadeInLeft.animated {
    position: relative;
    bottom: 48px;
  }

  .section_one .qudos_content {
    padding: 0px 20px 0px;
  }

  section.section_three .qudos_content.right-side {
    margin-top: 0;
  }

  .section_three .qudos_content {
    padding: 0px 20px 0px;
  }

  .section_four .qudos_content.left-side {
    margin-bottom: 0;
  }

  .section_four .qudos_content.left-side p,
  .qudos_content.right-side p,
  .qudos_content {
    margin-bottom: 0;
  }

  .section_four .speech-bubble:after {
    margin-top: 58px;
  }
}

@media (max-width: 414px) {

  .img_content_second-section:before,
  .img_content_second-section:after {
    display: none;
  }

  .section_two img.img-fluid.wow.fadeInRight.animated {
    margin-right: 60px;
  }

  .section_three .img_content_third-section {
    position: relative;
    bottom: 48px;
  }
}

@media (max-width: 384px) {
  .first_section_blurb {
    padding: 20px 138px;
    margin: 0 15px;
    margin-bottom: 75px;
  }

  .speech-bubble:after {
    margin-top: 38px;
  }

  .second_section_blurb {
    padding: 20px 135px;
  }

  .third_section_blurb {
    padding: 20px 135px;
  }

  .section_three .speech-bubble::after {
    margin-top: 38px;
  }
}

@media (max-width: 375px) {
  .first_section_blurb {
    padding: 20px 133px;
  }

  .second_section_blurb {
    padding: 20px 131px;
  }
}

@media (max-width: 360px) {
  .first_section_blurb {
    padding: 20px 126px;
  }

  .second_section_blurb {
    padding: 20px 123px;
  }

  .third_section_blurb {
    margin-top: 0px;
    padding: 20px 123px;
    margin: 0 auto;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 100px;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 18px;
  }

  .section_one .qudos_content.right-side p,
  .section_three .qudos_content.right-side p,
  .section_four .qudos_content.left-side p {
    padding: 0px;
  }

  .speech-bubble-header:after {
    margin-top: 72px;
  }

  .first_section_blurb {
    padding: 20px 106px;
  }

  .speech-bubble:after {
    left: 36%;
  }

  .second_section_blurb {
    padding: 20px 0px;
  }

  .third_section_blurb {
    padding: 20px 103px;
  }
}