.qudos-blue{
    color:#228ec8;
}
p.subheader__prime{
    font-weight:400;
}
.subheader__prime{
    line-height: 3rem;
}
.h3{
    font-size:3rem;
}
.header__prime:before{
    bottom:-2.5rem;
}

.why-qudos__section--2-1, .why-qudos__section--2-2, .why-qudos__section--2-3,
.why-qudos__section--2-4, .why-qudos__section--2-5{
    /* height: auto !important; */
    display:flex;
}
.why-qudos__section--1 img.img-fluid:nth-child(2) {
    animation: none;
}
.why-qudos__section--2-1{
    margin-top:100px;
    height:50vh;
    margin-bottom:50px;
}
.why-qudos__section--2-2{
    height:55vh;
    background: #fafafa;
    padding-bottom:100px;
}
.why-qudos__section--2-3{
    margin-top:100px;
    height:55vh;
    /* margin-bottom:70px; */
}
.why-qudos__section--2-4{
    height:60vh;
    padding-bottom:0px;
    background: #fafafa;
}
.why-qudos__section--2-5{
    margin-top:80px;
    margin-bottom:0px;
    height:60vh;
}
#rider-1{
    width:15%;
    left:40%;
    top:5%;
}
#rider-2{
    width:28%;
    left:50%;
    top:4%;
}
#rider-3{
    width:15%;
    left:82%;
}
#sec-2-img{
    width:90%;
    margin-top:0px;
}
#sec-3-img{
    width:90%;
    margin-top:-20px;
}
#sec-4-img{
    width:90%;
    margin-top:0px;
}
#sec-5-img{
    width:90%;
    margin-top:0px;
}
.header__prime-sub{
    font-size:3rem;
    font-weight: 600;
}
.header__prime-sub-2{
    font-size:2.8rem;
    font-weight: 600;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border-color: transparent;
}
.nu-section .nav-tabs{
    /* padding:0; */
    border-color:transparent;
}
.nu-section a{
    color:#b3b4b4;
}
#amy__myTabContent{
    padding-left:0 !important;
    margin-left:-15px;
}
#amy__myTab{
    margin-left:-10px;
}
#james__myTabContent, #tina__myTabContent, #john__myTabContent, #donna__myTabContent{
    padding-left:0 !important;
    margin-left:-15px;
}
#james__myTab, #tina__myTab, #john__myTab, #donna__myTab{
    margin-left:-10px;
}
.subheader__prime{
    text-align: justify;
    width: 100%;
}
.why-qudos__section--1 .subheader__prime{
    text-align: left !important;
}
.why-qudos__section--2-1 .header__prime,
.why-qudos__section--2-2 .header__prime,
.why-qudos__section--2-3 .header__prime,
.why-qudos__section--2-4 .header__prime,
.why-qudos__section--2-5 .header__prime{
    margin-bottom:1rem;
}
.why-qudos__section--2-1 .header__prime:before,
.why-qudos__section--2-2 .header__prime:before,
.why-qudos__section--2-3 .header__prime:before,
.why-qudos__section--2-4 .header__prime:before,
.why-qudos__section--2-5 .header__prime:before{
    display: none;
}
.nu-section .nav-link.active{
    background: transparent;
}
.nu-section .nav-link:hover{
    border-color: transparent;
}
.section-top-curve{
    height:20vh;
    background: url("../../__assets/img/target-audience/top-curve.svg") top no-repeat;
    margin-bottom:-10px;
}
.section-bottom-curve{
    height:90px;
    background: url("../../__assets/img/welcome/bottom-curve.svg") no-repeat;
    margin-top:-10px;
}
.nu-footer{
    background-color: #fff;
}
.nu-footer p{
    color:#000 !important;
}
@media (max-width:1440px){
    .why-qudos__section--2-3{
        margin-top:10vh;
    }
}
@media (max-width: 1024px){
    .section-top-curve{
        height:20vh;
    }
    .header__prime-sub{
        font-size:2.2rem;
        font-weight: 600;
    }
    .header__prime-sub-2{
        font-size:2rem;
        font-weight: 600;
    }
    .why-qudos .subheader__prime{
        font-size:2rem;
        line-height: 2.5rem;
    }
    #sec-2-img{
        width:90%;
        margin-top:0px;
    }
    #sec-3-img{
        width:90%;
        margin-top:0px;
    }
    #sec-4-img{
        width:90%;
        margin-top:0px;
    }
    #sec-5-img{
        width:90%;
        margin-top:0px;
    }
}

@media (max-width: 768px){
    .why-qudos .subheader__prime{
        font-size:1.7rem;
        width: 100%;
    }
    .section-top-curve{
        height:10vh;
    }
    .header__prime-sub{
        font-size:2.2rem;
        font-weight: 600;
    }
    .header__prime-sub-2{
        font-size:2rem;
        font-weight: 600;
    }
    .why-qudos .subheader__prime{
        line-height: 2.5rem;
    }
    #sec-2-img{
        width:90%;
        margin-top:0px;
    }
    #sec-3-img{
        width:90%;
        margin-top:5vh;
    }
    #sec-4-img{
        width:90%;
        margin-top:10vh;
    }
    #sec-5-img{
        width:90%;
        margin-top:5vh;
    }
}

@media (max-width: 480px){
    .svg-gradient-circle--1{
        left:-60%;
        margin-top:-20%;
    }
    #header-title{
        margin-top:0px;
        margin-bottom:100px;
    }
    .why-qudos__section--1 .header__prime{
        width:100%;
    }
    .why-qudos__section--1 .col-sm-5{
        top:-20px !important;
    }

    #rider-1{
        width:13%;
        left:90%;
        top:4%;
    }
    #rider-2{
        width:23%;
        left:101%;
        top:3%;
    }
    #rider-3{
        width:13%;
        left:130%;
        top:2%;
    }
    .why-qudos__section--2-2 .d-flex{
        order:2;
    }
    .why-qudos__section--2-4 .d-flex{
        order:2;
    }
    #sec-2-img{
        width:60%;
        margin-left:20%;
        margin-bottom:30px;
    }
    #sec-3-img{
        width:60%;
        margin-left:20%;
        margin-top:2vh;
        margin-bottom:30px;
    }
    #sec-4-img{
        margin-top:5vh;
        width:60%;
        margin-left:20%;
        margin-bottom:30px;
    }
    #sec-5-img{
        width:60%;
        margin-top:0;
        margin-left:20%;
        margin-bottom:30px;
    }
    .why-qudos .subheader__prime{
       width:100%;
    }
    .why-qudos__section--2 .subheader__prime{
        margin-left:0;
    }
    .why-qudos__section--2-1{
        height:85vh;
        margin-top:5vh;
        margin-bottom:0vh;
    }
    .why-qudos__section--2-2{
        height:85vh;
        margin-bottom:0vh;
    }
    .why-qudos__section--2-3{
        height:80vh;
        margin-top:0vh;
        margin-bottom:0vh;
    }
    .why-qudos__section--2-4{
        height:85vh;
        margin-bottom:0vh;
    }
    .why-qudos__section--2-5{
        height:85vh;
        margin-top:5vh;
    }
}

@media (max-width:375px){
    .svg-gradient-circle--1{
        left:-60%;
        margin-top:-25%;
    }
    #rider-1{
        top:4%;
    }
    #rider-2{
        top:2%;
    }
    #rider-3{
        top:3%;
    }
    #sec-2-img{
        width:80%;
        margin-left:10%;
        margin-top:5vh;
    }
    #sec-3-img{
        width:80%;
        margin-left:11%;
        margin-top:5vh;
    }
    #sec-4-img{
        width:80%;
        margin-left:10%;
        margin-top:10vh;
    }
    #sec-5-img{
        width:80%;
        margin-left:10%;
        margin-top:5vh;
    }
    .why-qudos__section--2-1{
        height:100vh;
        margin-top:5vh;
        margin-bottom:0vh;
    }
    .why-qudos__section--2-2{
        height:100vh;
        margin-bottom:0vh;
    }
    .why-qudos__section--2-3{
        height:100vh;
        margin-top:0vh;
        margin-bottom:0vh;
    }
    .why-qudos__section--2-4{
        padding-top:0;
        height:110vh;
        margin-bottom:0vh;
    }
    .why-qudos__section--2-5{
        height:100vh;
        margin-top:0vh;
    }
}

@media (max-width:320px){
    .svg-gradient-circle--1{
        left:-70%;
        margin-top:-40%;
    }
    .header__prime{
        font-size:3rem;
        margin-bottom:4.5rem;
    }
    .header__prime:before{
        bottom:-2rem;
    }
    .header__prime-sub{
        font-size:1.5rem;
    }
    .header__prime-sub-2{
        font-size:1.5rem;
    }
    #rider-1{
        left:100%;
        top:6%;
    }
    #rider-2{
        left:111%;
        top:5%;
    }
    #rider-3{
        left:140%;
        top:5%;
    }
    #sec-2-img{
        width:70%;
        margin-left:17%;
        margin-top:5vh;
    }
    #sec-3-img{
        width:70%;
        margin-left:17%;
        margin-top:5vh;
        margin-bottom:0;
    }
    #sec-4-img{
        width:70%;
        margin-left:15%;
        margin-bottom:0;
        margin-top:5vh;
    }
    #sec-5-img{
        width:70%;
        margin-left:15%;
        margin-top:5vh;
    }
    .section-top-curve{
        height:10vh;
    }
    .why-qudos__section--2-1{
        height:100vh;
        margin-top:0vh;
        margin-bottom:2vh;
    }
    .why-qudos__section--2-2{
        height:100vh;
        padding-top:0vh;
        padding-bottom:4vh;
    }
    .why-qudos__section--2-3{
        height:100vh;
        margin-top:0vh;
        margin-bottom:0vh;
    }
    .why-qudos__section--2-4{
        height:100vh;
        padding-bottom:5vh;
    }
    .why-qudos__section--2-5{
        height:100vh;
        margin-top:0vh;
        margin-bottom:10vh;
    }
}