// Colours
$qudos-blue: #0b9ff5;
$qudos-checkbox-green: #61da80;
$qudos-placeholder-tint: #dbdbdb;
$qudos-darkgrey: #676767;
$qudos-bg--dark: #233041;
$qudos-bg--darker: #0d111c;
$qudos-prime-bg: #fafafa;

// Linear gradient
$blues-gradient--linear: linear-gradient(to right, #83bada 0%, #83bada 47%, #1f8dc6 52%, #1f8dc6 100%);

// Dropshadows
$speech-bubble-dropshadow: 0 5px 10px 0 rgba(33,142,199,0.3);
$speech-bubble__tri-dropshadow: -10px 5px 15px -5px rgba(33,142,199,0.3);

// Dropshadows
$speech-bubble-dropshadow: 0 5px 10px 0 rgba(33,142,199,0.3);
$speech-bubble__tri-dropshadow: -10px 5px 15px -5px rgba(33,142,199,0.3);