
.active-767 {
    display: none;
}

.faq {
    .header__menu {
        span {
            background-color: black;
        }
    }

    .hero {
        background-image: url(../img/header__wave.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .carousel {
        margin-top: 8rem;
        height: 10rem;

        &-indicators {
            top: -3rem;

            li {
                background-color: black;
                width: 10px;
                height: 10px;
                border-radius: 100%;
            }
        }

        &-inner {
            top: 1rem;
        }

        p {
            font-size: $p-font;
        }
    }

    .card {
        padding-top: .5rem;
        border: 0;
        outline: none;

        &-header {
            border-bottom: 0;
        }

        &-body {

            p,
            li {
                font-size: $p-font;
            }
        }
    }


    &-banner {
        background-color: $qudos-blue;

        img {
            bottom: 0;
            left: 5rem;
        }
    }
}

@media (min-width: 768px) {
    .faq {
        .header {
            &__nav {
                a {
                    color: black;
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .speech-bubble {
        &:after {
            left: 91%;
            z-index: 9;
        }
    }

    .faq {
        &-banner {
            img {
                left: 1rem;
            }
        }
    }
}

@media (max-width: 991px) {
    .section__title {
        font-size: 2.5rem;
    }

    .speech-bubble {
        &:after {
            left: 88%;
        }
    }

    .faq {
        &-banner {
            img {
                width: 35%;
                left: -8rem;
            }
        }
    }
}

@media (max-width: 767px) {
    .inactive-767 {
        display: none;
    }
    
    .active-767 {
        display: inline-block;
    }

    .faq {
        .section__title {
            margin-bottom: 2rem;

            &:before {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .hero {
            .container {
                .row {
                    div.col-sm-12:first-child {
                        .speech-bubble {
                            text-align: center;
                            padding: 2rem;
                            margin-bottom: 2rem;
                            &:after {
                                left: 50%;
                                top: 12rem;
                                transform: rotate(-45deg) translateX(-50%);
                            }
                        }
                    }

                    div.col-sm-12:last-child {
                        justify-content: center;

                        img {
                            width: 50%;
                        }
                    }
                }
            }
        }

        &-banner {
            img {
                width: 45%;
                left: -1rem;
            }
        }
    }
}

@media (max-width: 521px) {
    .faq {
        .in-a-nutshell {
            margin-bottom: 4rem;
        }
    }
}

@media (max-width: 409px) {
    .faq {
        .hero {
            .container {
                .row {
                    div.col-sm-12:first-child {
                        .speech-bubble {
                            &:after {
                                top: 14rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 372px) {
    .faq {
        .section__title {
            font-size: 2.3rem;
        }
        .in-a-nutshell {
            margin-bottom: 7rem;
        }
    }
}

@media (max-width: 348px) {
    .faq {
        .active-767 {
            strong {
                margin-left: 8.5rem;
            }
        }
        .section__title {
            font-size: 2.2rem;
        }
        &-banner {
            img {
                width: 60%;
            }
        }
    }
}

@media (max-width: 335px) {
    .faq {
        .section__title {
            font-size: 1.9rem;
        }
        .in-a-nutshell {
            margin-bottom: 10rem;
        }
    }
}