.password-setting {
    #reset1 {
        p {
            line-height: 2rem;
        }
    }
    .popup-main-content {
        input.mobile {
            background: none;
        }
    }

    .header__menu {
        span {
            background-color: black;
        }
    }
}

@media (min-width: 768px) {
    .password-setting{
        .header {
            &__nav {
                right: 0;

                a {
                    color: black;
                }
            }
        }
    }
}
