border-radius(n)
	-webkit-border-radius n
	border-radius n

box-shadow(args...)
	-webkit-box-shadow args
	box-shadow args

transition(args...)
	-webkit-transition args
	-moz-transition args
	transition args

transform(args...)
	-webkit-transform args
	-moz-transform args
	transform args

$white = #fff
$black = #000

$title-clr = #0f1423
$text-clr = #626262


/*==============================
	Common styles
==============================*/
html
	-webkit-text-size-adjust 100%
	-ms-text-size-adjust 100%
html
body
	height 100%
body
	font-family 'Open Sans', sans-serif
	font-weight 400
	background-color $white
	-webkit-font-smoothing antialiased
button
	padding 0
	border none
	background-color transparent
	&:focus
		outline none
a
	transition(.4s ease)
	&:hover
	&:active
	&:focus
		outline none
		text-decoration none
input
textarea
select
	padding 0
	margin 0
	border-radius(0)
	-webkit-appearance none
	-moz-appearance none
	appearance none
	box-shadow(none)
	&:focus
		outline none
ul
	margin 0
	padding 0
	list-style none
::-moz-selection
	background $white
	color $black
	text-shadow none
::selection
	background $white
	color $black
	text-shadow none
::-webkit-input-placeholder
	color #dbdbdb
	opacity 1
::-moz-placeholder
	color #dbdbdb
	opacity 1
:-moz-placeholder
	color #dbdbdb
	opacity 1
:-ms-input-placeholder
	color #dbdbdb
	opacity 1

.owl-dots
	position absolute
	-webkit-tap-highlight-color transparent
	margin 0
	bottom 25px
	left 20px
	.owl-dot
		display inline-block
		position relative
		margin 0 10px 0 0
		width 9px
		height 9px
		span
			display block
			position relative
			width 9px
			height 9px
			-webkit-backface-visibility visible
			transition(.4s)
			background-color rgba(#271414, .24)
			border-radius(50%)
		&.active
			span
				background-color #271414
	@media (min-width: 1200px)
		left 375px
		bottom 60px

.container
	@media (min-width: 480px)
		padding-right 50px
		padding-left 50px
	@media (min-width: 768px)
		padding-right 15px
		padding-left 15px

/*==============================
	Header
==============================*/
.header
	position fixed
	top 0
	left 0
	width 100%
	z-index 99
	transition(.3s)
	&__content
		display flex
		flex-direction row
		justify-content space-between
		align-items center
		height 88px
		position relative
		&:before
			content ''
			position absolute
			display block
			top 100%
			left 50%
			width 100%
			max-width 330px
			height 2px
			background-color $white
			opacity .5
			transform(translateX(-50%))
	&__logo
		position relative
		height 50px
		display block
		cursor pointer
		object
			width 122px
			transition(.3s)
			&:last-child
				position absolute
				top 0
				left 0
				opacity 0
	&__nav
		position fixed
		top 0
		bottom 0
		width 280px
		background-color $white
		right 0
		transform(translate3d(280px, 0, 0))
		transition(.3s)
		display flex
		flex-direction column
		justify-content center
		align-items center
		z-index 1
		&--active
			transform(translate3d(0, 0, 0))
		a
			font-size 16px
			font-weight 600
			color $title-clr
			margin-bottom 20px
			&:last-child
				margin-bottom 0
	&__social
		display flex
		flex-direction row
		justify-content center
		align-items center
		a
			margin 0 5px
			font-size 18px
	&__btn
		width 130px
		height 40px
		line-height 40px
		color $white
		font-size 14px
		font-weight 500
		border-radius(3px)
		text-align center
		background-image -moz-linear-gradient( 90deg, rgb(31,141,198) 0%, rgb(46,129,160) 48%, rgb(60,116,122) 100%)
		background-image -webkit-linear-gradient( 90deg, rgb(31,141,198) 0%, rgb(46,129,160) 48%, rgb(60,116,122) 100%)
		background-image -ms-linear-gradient( 90deg, rgb(31,141,198) 0%, rgb(46,129,160) 48%, rgb(60,116,122) 100%)
		background-image linear-gradient( 90deg, rgb(31,141,198) 0%, rgb(46,129,160) 48%, rgb(60,116,122) 100%)
		margin-right 60px
		&:hover
			color $white
	&__menu
		position absolute
		width 29px
		height 18px
		display block
		right 0
		top 50%
		transform(translateY(-50%))
		cursor pointer
		z-index 2
		span
			display block
			position absolute
			width 100%
			height 2px
			left 0
			background-color $white
			transition(.3s)
			opacity 1
			&:first-child
				top 0
			&:nth-child(2)
				top 50%
				margin-top -1px
			&:last-child
				top 100%
				margin-top -2px
		&--active
			span
				background-color $title-clr
				&:nth-child(2)
					opacity 0
				&:first-child
					transform(rotate(-45deg))
					top 50%
					margin-top -2px
				&:last-child
					transform(rotate(45deg))
					top 50%
	&--active
	&--white
		background-color $white
		box-shadow(0 2px 6px 0 rgba(0, 0, 0, 0.08))
		.header__menu
			span
				background-color $title-clr
		.header__content
			&:before
				display none
		.header__logo
			object
				&:first-child
					opacity 0
				&:last-child
					opacity 1
	@media (min-width: 480px)
		.container
			padding-right 30px
			padding-left 30px
	@media (min-width: 768px)
		.container
			padding-right 15px
			padding-left 15px
		&__content
			&:before
				display none
		&__menu
			display none
		&__btn
			margin 0
			width 160px
		&__logo
			height 64px
			margin-left -8px
			object
				width 160px
		&__nav
			position absolute
			flex-direction row
			align-items center
			width auto
			transform(translate3d(0, 0, 0))
			padding 0
			right 220px
			top 50%
			transform(translateY(-50%))
			background-color transparent
			a
				margin 0 0 0 55px
				color $white
				&:hover
					color $white
		&__social
			display none
		&--active
		&--white
			.header__nav
				a
					color $title-clr
					&:hover
						color $title-clr
		&--white
			.header__nav
				right 0
	@media (min-width: 1200px)
		&__content
			padding 0 65px
		&__nav
			right 285px
		&--white
			.header__content
				padding 0 95px
			.header__nav
				right 95px

/*==============================
	Home
==============================*/
.home
	display block
	position relative
	background url('../img/home/home-bg--mobile.jpg') no-repeat center top
	height 500px
	background-attachment fixed
	&__content
		display block
		position absolute
		background-color $white
		box-shadow(0 10px 10px .1px rgba($black, .08))
		border-radius(10px)
		padding 50px 40px
		top 425px
		left 15px
		right 15px
		z-index 1
	&__btn
		display block
		text-align center
		width 100%
		height 62px
		line-height 62px
		color $white
		font-size 16px
		font-family 'Montserrat', sans-serif
		border-radius(5px)
		background-image -moz-linear-gradient( 90deg, rgb(35,67,105) 0%, rgb(22,36,63) 36%, rgb(8,5,20) 100% )
		background-image -webkit-linear-gradient( 90deg, rgb(35,67,105) 0%, rgb(22,36,63) 36%, rgb(8,5,20) 100% )
		background-image -ms-linear-gradient( 90deg, rgb(35,67,105) 0%, rgb(22,36,63) 36%, rgb(8,5,20) 100% )
		background-image linear-gradient( 90deg, rgb(35,67,105) 0%, rgb(22,36,63) 36%, rgb(8,5,20) 100% )
		&:hover
			color $white
	@media (min-width: 480px)
		&__content
			left 0
			right 0
	@media (min-width: 481px)
		background url('../img/home/home-bg.jpg') no-repeat center / cover
		background-attachment fixed
	@media (min-width: 768px)
		height 700px
		&__wrap
			display block
			position relative
			height 700px
		&__content
			width 410px
			padding 40px
			left 0
			right auto
			top auto
			bottom 60px
	@media (min-width: 1200px)
		height 870px
		&__wrap
			height 870px
		&__content
			left 65px
			bottom 70px

/*==============================
	Section
==============================*/
.section
	position relative
	padding 65px 0
	&__title
		font-size 28px
		line-height 42px
		display block
		color $title-clr
		margin-top 0
		padding-bottom 26px
		position relative
		font-family 'Montserrat', sans-serif
		font-weight 400
		margin-bottom 26px
		&:before
			content ''
			position absolute
			display block
			width 86px
			height 3px
			bottom 0
			left 0
			border-radius(2px)
			background rgb(131,186,218)
			background -moz-linear-gradient(left, rgb(131,186,218) 0%, rgb(131,186,218) 47%, rgb(31,141,198) 52%, rgb(31,141,198) 100%)
			background -webkit-linear-gradient(left, rgb(131,186,218) 0%,rgb(131,186,218) 47%,rgb(31,141,198) 52%,rgb(31,141,198) 100%)
			background linear-gradient(to right, rgb(131,186,218) 0%,rgb(131,186,218) 47%,rgb(31,141,198) 52%,rgb(31,141,198) 100%)
		&--white
			color $white
	&__text
		display block
		font-size 14px
		color $text-clr
		line-height 24px
		margin-bottom 30px
		&--white
			color rgba($white, .5)
	@media (min-width: 768px)
		&__title
			font-size 32px
			line-height 46px
			&--center
				text-align center
				&:before
					left 50%
					transform(translateX(-50%))
		&__text
			&--center
				text-align center
	@media (min-width: 1200px)
		padding 100px 0

/*==============================
	Experience
==============================*/
.experience
	padding-top 415px
	background url('../img/experience/pattern--mobile.png') repeat top center $white
	&__wrap
		display flex
		flex-direction column
		justify-content center
		align-items center
		position relative
		&:before
			content ''
			position absolute
			display block
			height 450px
			left -15px
			right -15px
			top 50%
			transform(translateY(-50%))
			border-radius(5px)
			background-image -moz-linear-gradient( 180deg, rgb(242,243,245) 0%, rgb(229,239,250) 35%, rgb(216,234,254) 100%)
			background-image -webkit-linear-gradient( 180deg, rgb(242,243,245) 0%, rgb(229,239,250) 35%, rgb(216,234,254) 100%)
			background-image -ms-linear-gradient( 180deg, rgb(242,243,245) 0%, rgb(229,239,250) 35%, rgb(216,234,254) 100%)
			background-image linear-gradient( 180deg, rgb(242,243,245) 0%, rgb(229,239,250) 35%, rgb(216,234,254) 100%)
			z-index 1
	&__box
		padding 25px 0 35px
		margin 25px 0
		display flex
		flex-direction column
		justify-content center
		align-items center
		border-radius(5px)
		background-image -moz-linear-gradient( 180deg, rgb(61,65,77) 0%, rgb(35,35,49) 36%, rgb(8,5,20) 100% )
		background-image -webkit-linear-gradient( 180deg, rgb(61,65,77) 0%, rgb(35,35,49) 36%, rgb(8,5,20) 100% )
		background-image -ms-linear-gradient( 180deg, rgb(61,65,77) 0%, rgb(35,35,49) 36%, rgb(8,5,20) 100% )
		background-image linear-gradient( 180deg, rgb(61,65,77) 0%, rgb(35,35,49) 36%, rgb(8,5,20) 100% )
		position relative
		z-index 2
		max-width 380px
		img
			border-radius(5px)
			margin-bottom 30px
		h3
			color $white
			font-size 16px
			line-height 24px
			font-family 'Montserrat', sans-serif
			font-weight 400
			display block
			text-align center
			padding 0 30px
			margin 0
		a
			width 240px
			height 50px
			line-height 50px
			border-radius(5px)
			font-size 15px
			font-family 'Montserrat', sans-serif
			font-weight 400
			color $white
			background-color #1f8dc6
			text-align center
			margin-top 20px
	@media (min-width: 480px)
		&__wrap
			&:before
				left -30px
				right -30px
	@media (min-width: 768px)
		padding-top 65px
		background url('../img/experience/pattern.png') repeat top center $white
		&__wrap
			&:before
				left 120px
				right 120px
	@media (min-width: 992px)
		&__wrap
			flex-direction row
			&:before
				height 410px
				left 20px
				right 20px
				top 110px
				transform(translateY(0))
		&__box
			margin 30px 40px 60px
			max-width 360px
			width 360px
	@media (min-width: 1200px)
		padding-top 100px
		&__box
			margin 35px 60px 60px
		&__wrap
			&:before
				left 40px
				right 40px

/*==============================
	Rating
==============================*/
.rating
	display block
	background url('../img/rating/rating-bg.jpg') no-repeat top center / cover
	overflow hidden
	&__slider
		display block
		margin 0 auto 35px
		position relative
		z-index 2
		width 100%
		max-width 380px
		&:before
		&:after
			content ''
			position absolute
			display block
			background-color $white
			box-shadow(0 14px 50px 9px rgba($black, .08))
			top 25px
			width 20px
			height 340px
			z-index -1
		&:before
			left -15px
			border-radius(5px 0 0 5px)
		&:after
			right -15px
			border-radius(0 5px 5px 0)
		.owl-carousel
			position relative
			z-index 3
			box-shadow(0 14px 50px 9px rgba($black, .08))
			border-radius(5px)
			background-color $white
	&__slide
		display flex
		flex-direction column
		justify-content flex-start
		align-items flex-start
		padding 20px 20px 0
		height 500px
		img
			display none !important
			border-radius(5px)
			margin-bottom 30px
			&:first-child
				display block !important
		h3
			font-size 18px
			font-weight 600
			color $title-clr
			margin-top 0
			margin-bottom 20px
			padding-bottom 20px
			position relative
			display block
			&:before
				content ''
				position absolute
				display block
				width 52px
				height 5px
				bottom 0
				left 0
				border-radius(4px)
				background rgb(131,186,218)
				background -moz-linear-gradient(left, rgb(131,186,218) 0%, rgb(131,186,218) 47%, rgb(31,141,198) 52%, rgb(31,141,198) 100%)
				background -webkit-linear-gradient(left, rgb(131,186,218) 0%,rgb(131,186,218) 47%,rgb(31,141,198) 52%,rgb(31,141,198) 100%)
				background linear-gradient(to right, rgb(131,186,218) 0%,rgb(131,186,218) 47%,rgb(31,141,198) 52%,rgb(31,141,198) 100%)
		p
			display block
			margin 0
			font-size 14px
			line-height 24px
			color $text-clr
			padding-right 100px
	&__btn
		display block
		position absolute
		height 70px
		width 70px
		border-radius(50%)
		border 1px solid #d6d6d6
		box-shadow(0px 17px 51px 0 rgba(0, 0, 0, 0.13))
		cursor pointer
		bottom -35px
		right 45px
		z-index 4
		background url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAWCAMAAADkSAzAAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAV1BMVEUPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCMPFCP///+nP0wTAAAAG3RSTlMAQb1Z/mJjZGU2WLYxNf0uMlSzYWBfXV4+t1VQmAF3AAAAAWJLR0QcnARBBwAAAAd0SU1FB+ICGRIWF0BgHFIAAABiSURBVCjPrdDJDoAgDEXRWgqI8zzx//9pY2KMCWWB3l1zNi8FeJehAjH0pEVUFFP9QQ2rSVTLakXNb3VFoNJf6sgLUQW1iE0L0PWBBrZRHhS1KdHmn21hW6WvYsRg24/nOAEvKgxXe54Q+gAAAABJRU5ErkJggg==') no-repeat center $white
		background-size 28px 22px
	@media (min-width: 480px)
		&__slider
			&:before
				left -20px
			&:after
				right -20px
	@media (min-width: 1200px)
		&__slider
			max-width 570px
			&:before
			&:after
				height auto
				bottom 25px
				width 25px
			&:before
				left -25px
			&:after
				right -25px
		&__slide
			height 390px
			flex-direction row
			justify-content center
			align-items center
			padding 0 0 0 40px
			img
				margin 0 30px 0 0
				display block !important
				width 290px !important
				&:first-child
					display none !important
			p
				padding-right 25px
				width 180px
		&__btn
			right 115px
		.section__title
			margin-top 50px

/*==============================
	Platform
==============================*/
.platform
	padding 0 0 65px
	background-color $black
	&__img
		display block
		width 100%
		height 300px
		margin-bottom 65px
		background url('../img/platform/platform-bg.jpg') no-repeat center left / cover
	&__btn
		display block
		width 100%
		max-width 320px
		height 60px
		line-height 60px
		border-radius(5px)
		font-size 16px
		font-family 'Montserrat', sans-serif
		font-weight 400
		color $white
		background-color #1f8dc6
		text-align center
		&:hover
			color $white
	@media (min-width: 992px)
		padding 65px 0
		background url('../img/platform/platform-bg.jpg') no-repeat center left -400px
		background-attachment fixed
		&__img
			display none
	@media (min-width: 1200px)
		padding 100px 0
		background-position center left -200px
	@media (min-width: 1600px)
		background-position center left -100px
	@media (min-width: 1800px)
		background-position center left

/*==============================
	Service
==============================*/
.service
	.section__text
		&:last-child
			margin 0
	&__img
		display block
		margin 0 auto 30px
		max-width 100%
		border-radius(5px)
		box-shadow(0 7px 29px 6px rgba($black, .08))
	@media (min-width: 768px)
		&__img
			margin 0 auto
	@media (min-width: 1200px)
		.section__text
		.section__title
			margin-left 65px
		.section__text
			&:last-child
				margin 0 0 0 65px

.bg-wrap
	display block
	position relative
	background-image -moz-linear-gradient( 130deg, rgb(23,31,45) 0%, rgb(13,17,28) 34%, rgb(3,3,10) 100%)
	background-image -webkit-linear-gradient( 130deg, rgb(23,31,45) 0%, rgb(13,17,28) 34%, rgb(3,3,10) 100%)
	background-image -ms-linear-gradient( 130deg, rgb(23,31,45) 0%, rgb(13,17,28) 34%, rgb(3,3,10) 100%)
	background-image linear-gradient( 130deg, rgb(23,31,45) 0%, rgb(13,17,28) 34%, rgb(3,3,10) 100%)
	z-index 1

/*==============================
	Values
==============================*/
.values
	position relative
	z-index 3
	padding 65px 0
	&__img
		position relative
		left 50%
		transform(translateX(-50%))
		margin-bottom 40px
		width 300px
	&__box
		position relative
		display block
		padding-left 80px
		margin 55px auto 0
		width 100%
		max-width 360px
		object
			position absolute
			left -25px
			transform(translateX(0))
			margin 0
			top -20px
		h3
			display block
			font-size 20px
			color $white
			font-family 'Montserrat', sans-serif
			font-weight 400
			margin-top 0
			margin-bottom 15px
		p
			display block
			color rgba($white, .5)
			font-size 14px
			line-height 22px
			margin 0
	.section__title
		text-align center
		&:before
			left 50%
			transform(translateX(-50%))
	@media (min-width: 768px)
		&__box
			padding-left 0
			padding-top 100px
			max-width 270px
			margin 50px auto 0
			object
				top 0
				left -40px
	@media (min-width: 992px)
		padding 80px 0
	@media (min-width: 1200px)
		padding 100px 0 120px

/*==============================
	Footer
==============================*/
.footer
	display block
	position relative
	&__line
		display block
		width 100%
		height 1px
		opacity .08
		margin-bottom 150px
		background-image -moz-linear-gradient( -35deg, rgb(158,129,255) 0%, rgb(140,106,250) 100%)
		background-image -webkit-linear-gradient( -35deg, rgb(158,129,255) 0%, rgb(140,106,250) 100%)
		background-image -ms-linear-gradient( -35deg, rgb(158,129,255) 0%, rgb(140,106,250) 100%)
		background-image linear-gradient( -35deg, rgb(158,129,255) 0%, rgb(140,106,250) 100%)
	&__title
		display block
		font-size 16px
		color rgba($white, .52)
		font-family 'Montserrat', sans-serif
		font-weight 500
		&--connect
			text-align center
	&__list
		margin-bottom 35px
		li
			display block
		a
			display inline-block
			margin-top 15px
			font-size 12px
			color rgba($white, .6)
			text-decoration none
			&:hover
				color $white
	&__text
		font-size 12px
		line-height 26px
		color rgba($white, .6)
		margin-top 5px
		a
			text-decoration none
			color rgba($white, .6)
			&:hover
				color $white
	&__logo
		display inline-block
		position absolute
		bottom 100%
		margin-bottom 40px
		object
			width 126px
	&__social
		li
			display inline-block
			float left
			width 25%
			margin-top 30px
		a
			display block
			text-align center
			opacity .52
			&:hover
				opacity 1
	&__copyright
		position relative
		display block
		padding 35px 0
		margin-top 50px
		&:before
			content ''
			position absolute
			display block
			width 100%
			height 1px
			opacity .05
			top 0
			left 0
			background-image -moz-linear-gradient( -35deg, rgb(158,129,255) 0%, rgb(140,106,250) 100%)
			background-image -webkit-linear-gradient( -35deg, rgb(158,129,255) 0%, rgb(140,106,250) 100%)
			background-image -ms-linear-gradient( -35deg, rgb(158,129,255) 0%, rgb(140,106,250) 100%)
			background-image linear-gradient( -35deg, rgb(158,129,255) 0%, rgb(140,106,250) 100%)
	&__rights
		display none
	&__small
		font-size 12px
		display inline-block
		float left
		color rgba($white, .52)
		line-height 18px
		opacity .52
		svg
			display inline-block
			float left
			margin-right 3px
	&__link
		display inline-block
		float right
		font-size 12px
		color rgba($white, .52)
		line-height 18px
		opacity .52
		&:hover
			color $white
	@media (min-width: 768px)
		&__title
			&--connect
				text-align left
		&__social
			a
				text-align left
				display inline-block
		&__rights
			display inline-block
			float left
			margin-left 40px
			font-size 12px
			color rgba($white, .52)
			line-height 18px
			opacity .52
		&__copyright
			padding 40px 0
			margin-top 15px
	@media (min-width: 992px)
		&__logo
			position relative
			bottom auto
			margin-top -20px
			margin-bottom 30px
		&__line
			margin-bottom 100px
		&__social
			li
				margin-top 20px
		&__title
			&--connect
				margin-bottom 10px
	@media (min-width: 1200px)
		&__line
			margin-bottom 120px
		&__copyright
			padding 50px 0

/*==============================
	Sign
==============================*/
.sign
	display block
	padding 45px 0
	margin-top 88px
	background url('../img/pattern.png') repeat center $white
	&__content
		background-color $white
		box-shadow(0 3px 7px 0.3px rgba($black,.05))
		border-radius(10px)
		padding 25px 15px
		position relative
	&__ok
		display block
		border 1px solid rgb(231, 231, 231)
		border-radius(4px)
		background-color $white
		box-shadow(0 3px 7px 0.3px rgba(0, 0, 0, 0.05))
		height 56px
		width 204px
		line-height 54px
		text-align center
		font-size 16px
		color #626262
		font-family 'Montserrat', sans-serif
		font-weight 400
		&:hover
			color #626262
	&__welcome-mob
		margin-bottom 15px
	&__welcome-desk
		display none
	&__dots
		display flex
		flex-direction row
		justify-content flex-start
		align-items center
		margin-bottom 30px
		span
			display block
			position relative
			width 9px
			height 9px
			background-color rgba(#271414, .24)
			border-radius(50%)
			margin-right 9px
			&:last-child
				margin-right 0
			&.active
				background-color #271414
	&__label
		display block
		font-size 14px
		color #6b6b6b
		font-weight normal
		padding 0
		margin-bottom 5px
	&__input
		display block
		height 52px
		border 1px solid #e7e7e7
		width 100%
		border-radius(5px)
		padding 0 25px
		margin-bottom 20px
		font-size 16px
		font-family 'Montserrat', sans-serif
		font-weight 400
		color #a8a8a8
	&__btn
		display block
		height 56px
		width 100%
		max-width 320px
		color $white
		font-size 16px
		border-radius(5px)
		font-family 'Montserrat', sans-serif
		font-weight 400
		background-color #1f8dc6
		margin-top 30px
		cursor pointer
	&__already
		display block
		color #626262
		font-size 14px
		font-weight 400
		margin 20px 0 0 0
		a
			color #626262
			font-weight 600
			text-decoration underline
			&:hover
				color #626262
				text-decoration none
	.container
		padding-left 15px
		padding-right 15px
	.section__title
		font-size 32px
	@media (min-width: 480px)
		&__content
			padding 45px 35px
	@media (min-width: 992px)
		&__welcome-mob
			display none
		&__welcome-desk
			display block
			position absolute
			top 50%
			right 100px
			transform(translateY(-50%))
		&__content
			padding 45px 60px
	@media (min-width: 1200px)
		padding 70px 0
		&__content
			padding 60px 90px

