.nav {
    li.nav-item:not(:last-child) {
        margin-right: 1rem;
    }

    a {
        &:focus, &:focus-within, &:visited {
            background-color: $qudos-darkblue;
            transform: translateY(0);
            -webkit-box-shadow: 0px 10px 20px 0px rgba($qudos-blue, .2);
            -moz-box-shadow: 0px 10px 20px 0px rgba($qudos-blue, .2);
            box-shadow: 0px 10px 20px 0px rgba($qudos-blue, .2);
        }
    }

    &-icon {
        width: 16rem;
        height: 16rem;
        background-color: $qudos-blue;
        border-radius: 1rem;
        transition: all .2s;
        // -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
        // -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
        // box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);

        &.active {
            background-color: $qudos-darkblue;
            transform: translateY(0);
            -webkit-box-shadow: 0px 10px 20px 0px rgba($qudos-blue, .2);
            -moz-box-shadow: 0px 10px 20px 0px rgba($qudos-blue, .2);
            box-shadow: 0px 10px 20px 0px rgba($qudos-blue, .2);
        }

        &:hover {
            background-color: rgba($qudos-darkblue, .9);
            transform: translateY(-.5rem);
            -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
        }
    }

    &-pills {
        .nav-link {
            height: 3.5rem;
            color: black;
            border-right: 5px solid $qudos-lightgrey;
            border-radius: 0;
            font-size: 1.5rem;
            &--no-border {
                border: none;
            }
        }

        .nav-link.active {
            color: $qudos-blue;
            border-right: 5px solid $qudos-blue;
            box-shadow: none;
            background-color: white;
            font-size: 1.8rem;
        }

        .nav-link.nav-link--no-border.active {
            border: none;
        }
    }
}