body {
    overflow-x: hidden !important;
}

span.qudos_blue {
    color: #228ec8;
}

ul.qudos_blue {
    color: #0091cc;
    font-size: 18px;
    list-style-type: inherit;
    margin-left: 20px;
}

h4,
p {
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none
}

.au-qudos-divider {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 3px;
    width: 100px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, rgb(131, 185, 218)), color-stop(50%, rgb(131, 185, 218)), color-stop(59%, rgb(255, 255, 255)));
    background-image: -o-linear-gradient(left, rgb(131, 185, 218) 10%, rgb(131, 185, 218) 50%, rgb(255, 255, 255) 59%);
    background-image: linear-gradient(90deg, rgb(131, 185, 218) 10%, rgb(131, 185, 218) 50%, rgb(255, 255, 255) 59%);
    border-radius: 1em;
}

.banner {
    position: inherit;
    background: #fff url("../img/promonyc_wave--mirrored.png") no-repeat center center;
    background-size: cover;
    padding-top: 100px;
}

.banner .container {
    padding: 0px 0px 0px;
}

.card-header {
    background: #fff;
}

.card-header {
    cursor: pointer;
    padding: 20px 30px 20px 30px;
    width: 100%;
    border-top: solid rgba(0, 0, 0, 0) 1px;
    border-left: solid rgba(0, 0, 0, 0) 1px;
    border-right: solid rgba(0, 0, 0, 0) 1px;
    border-bottom: 0;
    border-radius: 1em;
}

.card-header:first-child {
    border-radius: 1em 1em 0 0;
}

.card-body {
    padding: 0px 30px 10px 30px;
    border-top: 0;
    border-left: solid rgba(0, 0, 0, 0.1) 1px;
    border-right: solid rgba(0, 0, 0, 0.1) 1px;
    border-bottom: solid rgba(0, 0, 0, 0.1) 1px;
    border-radius: 0 0 1em 1em;
}

.card {
    width: 100%;
    border: 0;
}

.desktop-hidden {
    display: none;
}

.first_section_blurb {
    text-align: center;
}

.footer {
    background: #0d111c !important;
    padding: 70px 0 0;
    font-size: 24px;
}

.footer h2 {
    color: white;
    border: 1px solid white;
}

.footer h2 span {
    color: white;
}

.footer_content {
    color: white;
}

.header_blurb {
    position: relative;
    left: 10px;
    bottom: 10px;
}

.img-side {
    position: absolute;
    bottom: 145px;
    left: 45%;
}

.img_content_headingimg {
    position: relative;
    right: 60px;
}

.img_content_headingimg img {
    height: auto;
    max-width: 100%;
}

.img_content_second-section img {
    position: relative;
    z-index: 9;
    left: 35px;
}

.nav-tabs {
    border-bottom: 0;
}

.nav-tabs .nav-link {
    padding: 10px 30px;
    font-weight: 700;
    margin-right: 2px;
    font-size: 20px;
    color: #676767;
    background-color: #ebf0f7;
}

.nav-tabs .nav-link.active {
    color: black;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(33, 142, 199, 0.55);
            box-shadow: 0px 3px 5px 0px rgba(33, 142, 199, 0.55);
}

.qleft {
    float: left;
}

.qright {
    float: right;
}

.qudos_content {
    padding: 20px 20px 0px;
}

.qudos_content.left-side p,
.qudos_content.right-side p {
    font-size: 18px;
    margin-bottom: 0;
}

.qudos_content span.bold {
    font-weight: 700;
}

.qudos_content.left-side {
    color: #fff;
}

.qudos_content.right-side {
    color: #000;
}

.qudos_button a {
    line-height: 50px;
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, right top, from(#254870), color-stop(36%, #142f51), color-stop(99%, #021532));
    background-image: -o-linear-gradient(left, #254870 0%, #142f51 36%, #021532 99%);
    background-image: linear-gradient(90deg, #254870 0%, #142f51 36%, #021532 99%);
    padding: 20px 40px;
}

.qudos_button a:hover {
    background: #021532;
    background: -webkit-gradient(linear, left top, right top, from(#021532), to(#254870));
    background: -o-linear-gradient(left, #021532 0%, #254870 100%);
    background: linear-gradient(to right, #021532 0%, #254870 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#021532', endColorstr='#254870', GradientType=1);
    /* IE6-9 */
}

.qudos_button {
    margin-top: 20px;
    -webkit-transition: 1.3s;
    -o-transition: 1.3s;
    transition: 1.3s;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters>[class^="col-"],
.row.no-gutters>[class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

.section_one__amy-info--right h1,
.section_three__tina-info--right h1,
.section_five__donna-info--right h1 {
    font-size: 40px;
    font-weight: 700;
}

.section_one__amy-info--right .tab-content,
.section_three__tina-info--right .tab-content,
.section_five__donna-info--right .tab-content {
    left: 1px;
}

.section_one__amy-info--right .right-side p,
.section_three__tina-info--right .right-side p,
.section_five__donna-info--right .right-side p {
    font-size: 24px;
}

.section_one__amy-info--right .right-side h2,
.section_three__tina-info--right .right-side h2,
.section_five__donna-info--right .right-side h2 {
    font-size: 30px;
    font-weight: 400;
}

.section_two__james-info--left p,
.section_four__john-info--left p {
    font-size: 24px;
}

.section_two__james-info--left h1,
.section_four__john-info--left h1 {
    font-size: 40px;
    font-weight: 700;
}

.white-text {
    color: white;
}

.section_two__james-info--left h2,
.section_four__john-info--left h2 {
    font-size: 30px;
    font-weight: 400;
}

.speech-bubble-header {
    position: relative;
    background: #fff;
    border-radius: .4em;
}

.speech-bubble-header:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 29px solid transparent;
    border-color: transparent transparent #ffffff #ffffff;
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
    -webkit-box-shadow: -4px 3px 2px 0px rgba(33, 142, 199, 0.18);
            box-shadow: -4px 3px 2px 0px rgba(33, 142, 199, 0.18);
    margin-top: 45px;
    margin-right: -55px;
}

.speech-bubble {
    position: relative;
    background: #fff;
    border-radius: .4em;
}

.second_section_blurb {
    margin-right: 20px;
    margin-left: 10px;
    text-align: center;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-color: transparent transparent #ffffff #ffffff;
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
    -webkit-box-shadow: -8px 6px 6px 0px rgba(33, 142, 199, 0.27);
            box-shadow: -8px 6px 6px 0px rgba(33, 142, 199, 0.27);
    margin-top: 30px;
    margin-right: -40px;
}

.speech-bubble-right {
    position: relative;
    background: #fff;
    border-radius: .4em;
    /*box-shadow: 1px 3px 10px rgba(0,0,0,.1);*/
}

.speech-bubble-right:after {
    content: '';
    position: absolute;
    left: 0;
    top: 4%;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-color: transparent transparent #ffffff #ffffff;
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: -3px 3px 6px 0px rgba(33, 142, 199, 0.22);
            box-shadow: -3px 3px 6px 0px rgba(33, 142, 199, 0.22);
    margin-top: 20px;
    margin-left: 5px;
}

.section_one,
.section_five {
    padding: 100px 0px 100px;
}

.section_two {
    padding: 100px 0px;
    background: #228ec8;
}

.section_three {
    padding: 100px 0px 100px;
    background: #f4f9fe;
    background-size: cover;
}

.section_four {
    padding: 100px 0px 100px;
    background: #0d111c url("../img/diamond_bg.jpg") repeat center center;
    background-size: cover;
}

.section-card {
    background: #fff;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(33, 142, 199, 0.55);
            box-shadow: 0px 1px 5px 0px rgba(33, 142, 199, 0.55);
    border-radius: 1em;
    /* padding: 20px 60px; */
}

.section-card-main {
    position: relative;
    padding: 32px;
}

.tab-content {
    min-height: 200px;
    position: relative;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(33, 142, 199, 0.55);
            box-shadow: 0px 5px 5px 0px rgba(33, 142, 199, 0.55);
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tab-content .tab-pane p {
    font-size: 18px;
}

.third_section_blurb {
    text-align: center;
}

.triangle-right {
    display: none;
    position: inherit;
    margin-right: -200px;
    margin-top: 200px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 70px;
    height: 80px;
    background: #fff;
    z-index: 8;
}


/* Footer ng ina nyo lahat*/
.floater {
    padding: 90px 0px 0px;
}

.clouds_transitions {
    position: relative;
}

img.clouds_transitions.cloud1 {
    position: absolute !important;
    bottom: 15%;
    left: -5%;
}

img.clouds_transitions.cloud2 {
    position: absolute !important;
    top: 20%;
    bottom: 0;
    left: 25%;
}

img.clouds_transitions.cloud3 {
    position: absolute !important;
    top: 60%;
    bottom: 0;
    left: 75%;

}

img.planes_transitions.plane {
    position: absolute !important;
    bottom: 15%;
    right: -5%;
    z-index: 10;
    width: 50%;
}

img.planes_transitions.plane2 {
    position: absolute !important;
    top: 15%;
    bottom: 0;
    left: 35%;
}


img.clouds_transitions.cloud1_footer {
    position: absolute !important;
    bottom: 22%;
    left: 25%;
}

img.clouds_transitions.cloud2_footer {
    position: absolute !important;
    top: 35%;
    bottom: 0;
    left: 29%;
}

img.clouds_transitions.cloud3_footer {
    position: absolute !important;
    top: 70%;
    bottom: 0;
    right: 31%;
}

@media only screen and (max-width: 2560px) and (min-width: 1240px) {
    .header_blurb {
        margin-top: 75px;
    }
}

@media (max-width: 1440px) {
    .footer_content {
        margin-top: 0px;
    }
}

@media (max-width: 1024px) {
    .qudos-divider {
        margin: 10px 0;
    }

    .mobile-show {
        display: none;
    }

    .floater {
        padding: 50px 0px 0px;
    }
}

@media (max-width: 800px) {

    div.content-order h1 {
        font-weight: 900;
        font-size: 40px;
    }

    div.content-order h2 {
        font-weight: 400;
        font-size: 24px;
    }

    div.content-order p {
        font-size: 18px;
    }

    img.clouds_transitions.cloud1 {
        position: absolute !important;
        top: 60%;
        bottom: 0;
        left: 10%;
        width: 50px;
    }

    img.clouds_transitions.cloud2 {
        position: absolute !important;
        top: 30%;
        bottom: 0;
        left: 10%;
        width: 100px;
    }

    img.clouds_transitions.cloud3 {
        position: absolute !important;
        top: 65%;
        bottom: 0;
        left: 60%;
        width: 70px;
    }

    .clouds_transitions {
        position: relative;
    }

    .tablet-hidden {
        display: none !important;
    }

    .footer__line {
        margin-bottom: 75px;
    }

    .footer_content {
        font-size: 16px;
        margin-top: 30px;
    }

    .footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .footer .col-sm-12.col-lg-6.col-md-6.mobile-hidden {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }

    .footer .floater.mobile-hidden {
        display: none;
    }

    .header_blurb {
        margin: 0;
        left: 20px;
        bottom: 35px;
    }

    .img_content_headingimg {
        right: 20px;
    }

    .img_content_second-section img {
        left: 10px;
    }

    .nav-item {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
    }

    .nav-tabs .nav-link {
        font-size: 16px;
    }

    .qudos-divider {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .section_one,
    .section_two,
    .section_three,
    .section_four,
    .section_five {
        padding-top: 50px;
    }

    .section_one__amy-info--right h1,
    .section_two__james-info--left h1,
    .section_three__tina-info--right h1,
    .section_four__john-info--left h1,
    .section_five__donna-info--right h1 {
        font-weight: 900;
        text-align: center;
    }

    .section_one__amy-info--right h2,
    .section_two__james-info--left h2,
    .section_three__tina-info--right h2,
    .section_four__john-info--left h2,
    .section_five__donna-info--right h2 {
        font-size: 24px;
        font-weight: 400;
        text-align: center;
    }

    .section_two__james-info--left .au-qudos-divider,
    .section_four__john-info--left .au-qudos-divider {
        margin-left: auto;
        margin-right: auto;
    }

    .section_two__james-info--left .mb-5,
    .section_four__john-info--left .mb-5 {
        margin-bottom: 2rem !important;
    }

    .section_one__amy-info--right .mb-5 p,
    .section_two__james-info--left .mb-5 p,
    .section_three__tina-info--right .mb-5 p,
    .section_four__john-info--left .mb-5 p,
    .section_five__donna-info--right .mb-5 p {
        font-size: 18px;
        text-align: center;
    }

    .section-card {
        padding: 30px;
        text-align: center;
    }

    .section-card-main {
        padding: 20px 30px;
    }

    .speech-bubble-header:after {
        content: '';
        position: absolute;
        bottom: 0;
        margin-top: 90px;
        left: 99%;
        width: 0;
        height: 0;
        border: 30px solid transparent;
        border-color: transparent transparent #ffffff #ffffff;
        -webkit-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
                transform-origin: 0 0;
        -webkit-transform: rotate(-135deg);
            -ms-transform: rotate(-135deg);
                transform: rotate(-135deg);
        -webkit-box-shadow: -4px 3px 2px 0px rgba(33, 142, 199, 0.18);
                box-shadow: -4px 3px 2px 0px rgba(33, 142, 199, 0.18);
        margin-top: 45px;
    }

    .text-left,
    .text-right {
        text-align: center !important;
        margin-bottom: 30px;
    }
}

@media (max-width: 640px) {
    strong {
        font-size: 28px;
    }
    .header_blurb {
        left: 0px;
        bottom: 60px;
    }
    .speech-bubble-header:after {
        content: '';
        position: absolute;
        bottom: 0;
        margin-top: 90px;
        left: 50%;
        width: 0;
        height: 0;
        border: 30px solid transparent;
        border-color: transparent transparent #ffffff #ffffff;
        -webkit-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
                transform-origin: 0 0;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        -webkit-box-shadow: -3px 3px 3px 0px rgba(33, 142, 199, 0.26);
                box-shadow: -3px 3px 3px 0px rgba(33, 142, 199, 0.26);
        margin-left: -35px;
    }
}

@media (max-width: 480px) {

    h1,
    h2 {
        font-size: 1.5em;
    }

    h3,
    h4 {
        font-size: 1em;
    }

    img.clouds_transitions.cloud1 {
        position: absolute !important;
        top: 60%;
        bottom: 0;
        left: 10%;
        width: 15%;
    }

    img.clouds_transitions.cloud2 {
        position: absolute !important;
        top: 28%;
        bottom: 0;
        left: 5%;
        width: 25%;
    }

    img.clouds_transitions.cloud3 {
        position: absolute !important;
        top: 50%;
        bottom: 0;
        left: 55%;
        width: 15%;
    }

    img.clouds_transitions.cloud1_footer {
        position: absolute !important;
        top: 80%;
        bottom: 0;
        left: 10%;
        width: 15%;
    }

    img.clouds_transitions.cloud2_footer {
        position: absolute !important;
        top: 55%;
        bottom: 0;
        left: 20%;
        width: 20%;
    }

    img.clouds_transitions.cloud3_footer {
        position: absolute !important;
        top: 80%;
        bottom: 0;
        left: 60%;
        width: 13%;
    }

    ul.qudos_blue {
        font-size: 1em !important;
        text-align: center;
        list-style-type: none;
    }

    .banner {
      
        background-size: cover;
        padding-top: 100px;
    }

    .banner .container {
        padding-top: 0 !important;
    }

    .card-body {
        padding: 0px 20px 10px 20px;
    }

    .card-header {
        padding: 20px 20px 20px 20px;
    }

    .clouds_transitions {
        position: relative;
    }

    .desktop-hidden {
        display: contents !important;
    }

    .header_blurb {
        margin: 0;
        left: 0px;
        bottom: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .fourth_section_blurb {
        margin-right: 0px;
        margin-bottom: 75px;
        margin-left: 0px;
        margin-top: 0px;
        padding: 45px;
    }

    .footer {
        text-align: center;
        padding: 30px 0px 0px;
        font-size: 15px;
    }

    .found {
        display: contents !important;
        width: 100% !important;
    }

    .footer__small {
        margin-left: 30px;
    }

    .footer__link {
        margin-right: 30px;
    }

    .footer h2 {
        width: 50%;
        font-size: 18px;
    }

    .header__logo {
        height: 50px;
        margin-left: -5px;
        margin-right: 10px;
    }

    .header__btn {
        margin-right: 40px;
    }

    .img_content_second-section img {
        position: relative;
        z-index: 9;
    }

    .img_content_headingimg img {
        max-width: 110%;
        height: auto;
        margin-left: 60px;
    }

    .img_content_starwoman img {
        margin-left: -5px;
    }

    .img_content_headingimg {
        margin-top: 50px;
        right: 80px;
    }

    .first_section_blurb,
    .third_section_blurb,
    .mobile-hidden {
        display: none !important;
    }

    .qright,
    .qleft {
        width: 100% !important;
    }

    .mobile-show {
        display: contents !important;
    }

    .second_section_blurb {
        margin-right: 0px;
        margin-bottom: 75px;
        margin-left: 0;
        margin-top: 0px;
    }

    .speech-bubble {
        position: relative;
        background: #cbcbcb;
        border-radius: .4em;
    }

    .speech-bubble-header {
        position: relative;
        border-radius: .4em;
    }

    .speech-bubble-header:after {
        margin-top: 85px;
    }

    .speech-bubble:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        margin-left: 0.2em;
        left: 40%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border: 30px solid black;
        border-color: transparent transparent #ffffff #ffffff;
        -webkit-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
                transform-origin: 0 0;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        -webkit-box-shadow: -3px 3px 3px 0px rgba(33, 142, 199, 0.24);
                box-shadow: -3px 3px 3px 0px rgba(33, 142, 199, 0.24);
        margin-top: 60px;
    }

    .speech-bubble-right {
        position: relative;
        background: #cbcbcb;
        border-radius: .4em;
    }

    .speech-bubble-right:after {
        content: '';
        position: absolute;
        bottom: 0;
        margin-top: 95px;
        left: 50%;
        width: 0;
        height: 0;
        border: 50px solid transparent;
        border-top-color: #fff;
        border-bottom: 0;
        margin-left: -50px;
        margin-bottom: -50px;
    }

    .section_one,
    .section_two,
    .section_three,
    .section_four {
        padding: 75px 0px;
    }

    .qudos_content span.bold {
        font-size: 20px
    }

    section.section_three .qudos_content.right-side {
        margin-top: 35px;
    }

    section.section_four .qudos_content.left-side {
        margin-top: 35px;
    }
}

@media (max-width: 480px) {
    .section_three .text-left {
        margin-bottom: 0;
    }
}

@media (max-width: 425px) {

    .speech-bubble-header:after {
        margin-top: 95px;
    }
}

@media (max-width: 384px) {
    .nav-tabs .nav-link {
        font-size: 14px;
    }
}

@media (max-width: 360px) {
    .nav-tabs .nav-link {
        font-size: 12px;
    }
}

@media (max-width: 320px) {

    h1 {
        font-size: 22px;
    }

    h4 {
        font-size: 14px;
    }

    .nav-tabs .nav-link {
        font-size: 9px;
    }

    .speech-bubble-header:after {
        margin-top: 88px;
    }

    .tab-content .tab-pane p {
        font-size: 14px;
    }

    .footer__small {
        margin-left: 25px;
    }

    .footer__link {
        margin-right: 25px;
    }

    .section-card {
        padding: 20px;
    }
}