.wrapper {
  width: 100%;
  padding-top: 2rem;
  text-align: center;
  position: relative;

  &>img {
    pointer-events: none;
    position: absolute;
    right: -11rem;
    top: 11.5rem;
    z-index: 25;
    width: 36%;
  }
}

.carousel {

  [type=button]:not(:disabled),
  button:not(:disabled) {
    cursor: pointer;
    display: none !important;
  }

  [id^="carousel__"] {
    cursor: pointer;
  }

  z-index: 19;
  width: 90%;
  margin: 0 auto;
}

.slick {
  &-list {
    top: 10rem;
    left: 5rem;
    width: 100rem;
  }

  &-slide {
    transition: all .2s;
    margin: 1rem;
    width: 23rem !important;
    height: 45rem;
    transform: scale(.7);
    opacity: .75;
    filter: blur(.8px);
    -webkit-filter: blur(.8px);

    &.slick-active {
      transform: scale(.8);

      &.slick-current.slick-center {
        transform: scale(1);
        opacity: 1;
        filter: blur(0);
        -webkit-filter: blur(0);
      }
    }

    img {
      width: 100%;
      border-radius: 3px;
    }
  }
}

@media (max-width: 1199px) {
  .slick {
    &-slide {
      &.slick-active {
        margin-left: -5rem;
        margin-right: 5rem;

        &.slick-current.slick-center {
          margin-left: -5rem;
        }
      }
    }
  }
}