.checkbox {

    &-custom {
        display: block;
        position: relative;
        padding: 8px 0 0 4.5rem;
        margin-bottom: 1.2rem;
        cursor: pointer;
        font-size: 2.2rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:after {
            left: 12px;
            top: 7px;
            width: 7px;
            height: 1.5rem;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        input:checked~.checkmark,
        input:checked~.checkmark-nueu {
            background-color: $qudos-checkbox-green;
            border-color: $qudos-checkbox-green;
        }

        input:checked~.checkmark:after,
        input:checked~.checkmark-nueu:after {
            display: block;
        }

        .checkmark-nueu:after {
            left: 7px;
            top: 3px;
        }
    }
}

.new-custom {
    color: #a8a8a8;
    font-size: 1.4rem;
    padding: 4px 0 0 3.5rem;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 3.5rem;
    width: 3.5rem;
    border: 2px solid #dbdbdb;
    border-radius: 50%;

    &-nueu {
        position: absolute;
        top: 0;
        left: 0;
        height: 2.5rem;
        width: 2.5rem;
        border: 1px solid #dbdbdb;
        border-radius: 5px;

        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 1.2rem;
            top: 7px;
            width: 7px;
            height: 1.5rem;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    &:after {
        content: "";
        position: absolute;
        display: none;
    }
}