.image-box {
    &-container {}

    &-shaper {
        background-color: #e6e7e8;
        width: 15rem;
        height: 15rem;
        border-radius: 15px;
        position: relative;

        img {
            position: absolute;
            top: -1rem;
            left: 1rem;
        }

        p {
            position: absolute;
            bottom: -6.8rem;
            margin-bottom: 0;
            text-align: center;
            left: 50%;
            transform: translateX(-50%);
            line-height: 1.8rem;
            width: 16rem;
        }

        &:not(:last-child) {
            margin-right: 3.5rem;

            img {
                top: -1rem;
                left: -1rem;
            }

            p {
                position: absolute;
                bottom: -5rem;
                margin-bottom: 0;
                text-align: center;
                left: 50%;
                transform: translateX(-50%);
                line-height: 1.8rem;
                width: 12rem;
            }
        }
    }
}

@media (max-width: 1024px) {
    .image-box-shaper {
        height: 13rem;
    }
}