/*==============================
  Popup
==============================*/
.popup-main-content .popup-main-content select.country {
    background: url(../img/dropdown.png) 20px 25px no-repeat;
    color: #6b6b6b;
    height: 59px;
    text-indent: 36px;
}


.popup {
    &-main-content {
        position: relative;
        float: left;
        width: 100%;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        overflow: hidden;

        .btn--next {
            p {
                a:not([href]):not([tabindex]) {
                    color: #626262;
                    font-weight: bold;
                }
            }
        }

        .right-align {
            a:not([href]):not([tabindex]) {
                color: #626262;
                font-weight: bold;
            }
        }

        .a-color {
            a:not([href]):not([tabindex]) {
                color: #626262;
                font-weight: bold;
            }
        }

        .submit {
            &:focus {
                box-shadow: 0 0 0 0.2rem rgba(58, 63, 68, 0.5);
            }
        }

        a:not([href]):not([tabindex]) {
            color: #6b6b6b;
        }

        h3 {
            font-size: 3.2rem;
            margin: 0 0 1rem 0;
            padding: 0 0 2rem 0;
            position: relative;
            float: left;
            width: 100%;
            background: url(../img/bg-h3.jpg) bottom left no-repeat;
            font-family: 'Montserrat', sans-serif;
            font-weight: normal;
        }

        input {
            position: relative;
            float: left;
            width: 100%;
            padding: 1.5rem 2rem 1.5rem 5.5rem;
            border: 1px solid #e7e7e7;
            border-radius: 5px;
            margin-bottom: 2rem;
            color: #6b6b6b;
            font-size: 1.6rem;
            font-family: 'Montserrat', sans-serif;

            &.email-add {
                background: url(../img/mail.png) 20px 20px no-repeat;
            }

            &.mobile {
                background: url(../img/mobile.png) 2rem 1.5rem no-repeat;
                padding-left: 8rem;
            }

            &.user-input {
                background: url(../img/user.png) 2rem 1.8rem no-repeat;
            }

            &.password {
                background: url(../img/key.png) 2rem 1.5rem no-repeat;
            }

            &.zip {
                background: url(../img/spot.png) 2rem 1.8rem no-repeat;
            }
        }

        label {
            position: relative;
            float: left;
            width: 100%;
            font-weight: normal;
            font-size: 1.4rem;
            color: #6b6b6b;
        }

        select {
            position: relative;
            float: left;
            width: 100%;
            border: 1px solid #e7e7e7;
            border-radius: 5px;
            margin-bottom: 2rem;
            color: #6b6b6b;
            font-size: 1.6rem;
            font-family: 'Montserrat', sans-serif;
        }

        .submit {
            position: relative;
            margin-right: 1.5rem;
            float: left;
            width: 48%;
            background: $qudos-blue;
            border-radius: 5px;
            text-align: center;
            color: #fff;
            padding: 1.5rem 0 1.5rem 0;
        }

        .signup_btn {
            position: relative;
            float: left;
            width: 48%;
            background: $qudos-blue;
            border-radius: 5px;
            text-align: center;
            color: #fff;
            padding: 1.5rem 0 1.5rem 0;
            background-image: linear-gradient(90deg, #234369 0%, #16243f 36%, #080514 100%);
        }
    }
}

#signup-modal {
    .popup-main-content {
        input {
            padding-left: 5rem;
        }
    }
}

@media screen and (max-width:768px) {
    .popup-main-content {
        .submit {
            width: 100%;
        }

        .signup_btn {
            width: 100%;
        }
    }
}

@media screen and (max-width: 500px) {
    .popup-main-content {
        padding: 2rem;
    }
}