/* Copyrights-Developed by Qudos Technologies INC. */
@media (min-width: 1280px) {
    .container {
        width: 1270px !important;
    }
    .modal-dialog {
        width: 750px;
    }
}

@media (max-width: 1400px) {
    .menu a {
        height: 2.8rem !important;
    }
    .sliders {
        background-position-x: 40%;
    }
    .glimpse {
        padding-top: 10vh!important;
    }
}


/* Full HD Screens */

@media (min-width: 1500px) and (max-width: 1530px) {
    .homepage-features__wrapper {
        margin-left: 25% !important;
        transform: scale(0.8);
    }
}

@media (min-width: 1500px) {
    .menu {
        height: 45vh;
        margin-top: -15px;
        padding: 20px 20px 0;
    }
    .whyDriveContent h5 {
        margin-top: 3vh;
    }
    .whyDriveImg {
        max-width: 35vw;
    }
}


/* Big Screens than phones */

@media (max-width: 750px) {
    .skrollrHelper {
        display: none
    }
}

@media (min-width: 700px) {
    .sliders {
        background-attachment: fixed;
    }
    #carousel-control-prev, #carousel-control-next {
        /*visibility: hidden;*/
    }
}


/* Mac Air/Pro */

@media (min-width: 1410px) and (max-width: 1470px) {
    .homepage-features {
        height: 110vh !important;
    }
    .copyrightDiv {
        margin-top: 40vh;
    }
}


/* Normal Screens */

@media (min-width: 1000px) and (max-width: 1200px) {
    .homepage-features__background, .homepage-features__preview {
        top: 25px !important;
        transform: scale(0.8)!important;
    }
    .homepage-features__preview {
        left: -10%!important;
    }
    .homepage-features__content {
        margin-left: 40%!important;
    }
    .homepage-features__wrapper {
        margin-left: 20% !important;
    }
    .glimpse {
        width: 100%!important;
    }
    .contentSections {
        height: 270vh!important;
    }
    .whyDrive {
        height: 85vh;
        display: flex;
    }
    .whyDriveContent {
        /*margin-right: 10%;*/
    }
    .glimpse {
        padding-top: 14vh!important;
    }
    .whiteBGGlimpse {
        width: 12%!important;
    }
    .glimpseDiv {
        width: 88%!important;
    }
    .footerBgBack {
        /* background: url(../img/SVG/city_bg.svg) 0 100%/47% 58%; */
        background: url(../img/SVG/city_bg.svg) 0 80%/50% 25%;
        background-repeat: repeat-x;
    }
    .footerBgFront {
        background: url(../img/SVG/car_bg.svg) 0 100%/100% 66%;
        margin-top: -50vh;
        background-repeat: repeat-x;
    }
    .contactLinks a {
        /*padding-right: 20%!important;*/
    }
}

@media (min-width: 1340px) and (max-width: 1375px) {
    .glimpseDiv {
        padding: 5vh 15vh 5vh 30vh !important;
    }
    .mainContainer {
        max-height: 300vh;
    }
    .contentSections {
        height: 270vh;
    }
    .whyDriveDiv {
        /*margin-top: 70px!important;*/
    }
    .copyrightDiv {
        margin-top: 4vh!important;
    }
    .homepage-features {
        padding-top: 20vh;
    }
    .homepage-features__background, .homepage-features__preview {
        top: 10px !important;
    }
    .homepage-features .carousel-content {
        top: 150px!important;
    }
}

@media (min-width: 1300px) and (max-width: 1360px) {
    /*.copyrightDiv {
        margin-top: 8vh !important;
    }*/
    .homepage-features {
        padding-top: 20vh;
    }
    .homepage-features__background, .homepage-features__preview {
        top: 10px !important;
    }
    .homepage-features .carousel-content {
        top: 150px!important;
    }
    .whyDriveDiv {
        /*margin-top: 70px!important;*/
    }
    .whyDriveImg:before {
        /*bottom: 1.5rem!important;*/
    }
    .contentSections {
        height: 275vh!important;
    }
    .glimpseDiv {
        padding: 5vh 15vh 5vh 30vh !important;
    }
    .mainContainer {
        max-height: 300vh;
    }
    .contentSections {
        height: 260vh;
    }
    .car {
        height: 110vh;
    }
    .carDiv {
        margin-top: 20vh;
    }
    .footerBgFront {
        background: url(../img/SVG/car_bg.svg) 0 100%/100% 84%;
        margin-top: -50vh;
        background-repeat: repeat-x;
    }
}

@media (min-width: 1365px) and (max-width: 1390px) {
    .whyDriveImg:before {
        /*bottom: -2.5rem!important;*/
    }
}

@media (min-width: 1200px) and (max-width: 1275px) {
    .homepage-features__background, .homepage-features__preview {
        top: 25px !important;
        transform: scale(0.8)!important;
    }
    .homepage-features__preview {
        left: -10%!important;
    }
    .homepage-features__content {
        margin-left: 40%!important;
    }
    .whyDriveContent h5 {
        margin: 2vh auto 2vh;
    }
    .footerBgFront {
        background: url(../img/SVG/car_bg.svg) 0 100%/100% 75%;
        margin-top: -50vh;
        background-repeat: repeat-x;
    }
    .mainContainer {
        max-height: 250vh;
    }
    .contentSections {
        height: 275vh;
    }
}

@media (min-width: 900px) and (max-width: 1000px) {
  .menu{
    height: 45vh!important;
  }
}
@media (min-width: 1280px) and (max-width: 1300px) {
    .whyDriveImg:before {
        /*bottom: 14rem!important;*/
        /*top: 55%;*/
    }
    .glimpse {
        padding-top: 20vh !important;
        /*height: 85vh !important;*/
    }
    .mainContainer {
        max-height: 260vh;
    }
    .contentSections {
        height: 300vh;
        margin-bottom: 7vh;
    }
    .menu {
        height: 45vh;
        margin-top: -17px;
    }
    .carDiv {
        /*margin-top: 10vh;*/
    }
    .car {
        /*height: 95vh;*/
    }
    .sliders {
        /*background-position-x: 50%;*/
    }
    .homepage-features__wrapper {
        margin-left: 25% !important;
        transform: scale(0.8);
    }
    .whyDriveContent h5 {
        margin: 2vh auto 2vh;
    }
    .copyrightDiv {
        text-align: center;
        margin-top: 39vh;
    }
    .footerBgFront {
        background: url(../img/SVG/car_bg.svg) 0 100%/100% 75%;
        margin-top: -50vh;
        background-repeat: repeat-x;
    }
}

@media (min-width: 1300px) and (max-width: 1410px) {
    .menu {
        height: 50vh !important;
        padding-left: 10px !important;
    }
    .whyDriveContent h5 {
        margin: 5vh auto 2vh;
    }
    .homeDiv {
        padding-top: 45vh;
    }
    .homepage-features {
        height: 115vh !important;
    }
    .copyrightDiv {
        margin-top: 40vh;
    }
    .whyDrive {
        height: 85vh;
    }
    .whyDriveImg:before {
        /*top:66%;*/
        /*bottom: 11.8em;*/
    }
    .glimpse {
        padding-top: 10vh;
        height: 80vh !important;
    }
    .carDiv {
        margin-top: 15vh;
    }
    .car {
        /*height: 100vh;*/
    }
    .footerBgFront {
        background: url(../img/SVG/car_bg.svg) 0 100%/100% 76%;
        margin-top: -50vh;
        background-repeat: repeat-x;
    }
    .homepage-features__content {
        margin-left: 43%!important;
    }
    .homepage-features__background, .homepage-features__preview {
        transform: scale(0.8)!important;
    }
    .homepage-features__preview {
        left: -7%!important;
    }
}


/* Mobile Screens - Portrait */

@media (min-width: 300px) and (max-width: 350px) {
    .homeDiv {
        padding-top: 10vh!important;
    }
}

@media (min-width: 300px) and (max-width: 600px) {
    .homepage-features__wrapper {
      height: calc(115vh - 70px)!important;
    }
    .page-loader .loaderDiv p {
        font-size: 2.2rem;
        line-height: 2.4rem;
    }
    .subscribeHeader {
        margin: 7% auto 5%;
        font-size: 1.5rem;
        line-height: 1.7rem;
    }
    .modal-dialog {
        margin-top: 15vh;
    }
    .form-control {
        height: 45px;
    }
    .subBtn {
        font-size: 20px;
    }
    .modal-body h4, .subHeader {
        line-height: 1.5rem;
        font-size: 1.3rem;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
    }
    .mailIcon {
        margin-right: -30%!important;
    }
    .header__logo img {
        height: 2.2rem;
    }
    .glimpse {
        display: none!important;
    }
    .page-down {
        width: 40px !important;
        height: 40px !important;
        font-size: 25px !important;
        opacity: 0.6 !important;
        right: 20px !important;
        padding-top: 8px !important;
    }
    .whiteBGGlimpse {
        display: none;
    }
    .iframeDiv:before {
        left: 5%;
    }
    .iframeDiv:after {
        right: 5%;
    }
    .whyDrive, .homepage-features, .glimpse {
        /*width: calc(100% - 20px)!important;*/
    }
    .whyDrive {
        padding-top: 7vh;
        height: 120vh;
    }
    .glimpseDiv {
        padding: 10px !important;
        text-align: center;
        height: 100%;
    }
    .page-down {
        bottom: 20px !important;
        padding-top: 10px !important;
    }
    .back-top {
        bottom: 20px !important;
        padding-top: 7px !important;
    }
    .sliders {
        overflow-x: hidden;
    }
    html {
        overflow-x: hidden;
    }
    body {
        overflow-y: scroll;
        -webkit-overflow-scrolling:touch;
        width: 100%;
        overflow-x: hidden;
        background-color: rgba(0, 0, 0, 0.7);
    }
    nav.menuHidden {
        height: 100vh
    }
    .bx-wrapper img {
        width: 100% !important;
        height: auto !important;
    }
    .site-pusher {
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    .site-content {
        position: absolute;
        top: 66px;
        right: 0;
        left: 0;
        bottom: 0;
        padding-top: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .header {
        position: static;
    }
    .header___close, .header__icon {
        position: relative;
        display: block;
        float: right;
        width: 50px;
        height: 66px;
        right: 5%;
        cursor: pointer;
    }
    .header__icon img {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        height: 35px;
        float: right;
        margin-top: 15px;
    }
    /*.header___close:before{*/
    /*transform:rotate(-45deg);*/
    /*}*/
    /*.header___close:after{*/
    /*transform:rotate(45deg);*/
    /*}*/
    /*.header___close:before,.header___close:after{*/
    /*content: '';*/
    /*position: absolute;*/
    /*display: block;*/
    /*width: 2rem;*/
    /*height: 3px;*/
    /*top: 16px;*/
    /*left: 15px;*/
    /*margin-top: 10px;*/
    /*background: #fff;*/
    /*}*/
    /*.header__icon:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*display: block;*/
    /*width: 1rem;*/
    /*height: 0;*/
    /*top: 16px;*/
    /*left: 15px;*/
    /*box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;*/
    /*}*/
    .menuShow {
        -webkit-transform: translateX(0px) !important;
        transform: translateX(0px) !important;
        -webkit-transition: all 0.30s linear;
        -moz-transition: all 0.30s linear;
        -ms-transition: all 0.30s linear;
        -o-transition: all 0.30s linear;
    }
    .menuHidden {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.99);
        /*    overflow-y: scroll;
        -webkit-overflow-scrolling: touch;*/
        /*width: 250px;*/
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: all 0.30s linear;
        -moz-transition: all 0.30s linear;
        -ms-transition: all 0.30s linear;
        -o-transition: all 0.30s linear;
    }
    .menuHidden img {
        width: 60%;
        bottom: 25px;
        position: absolute;
        margin: 0 -30%;
        opacity: 0.7;
    }
    .menu {
        display: none
    }
    .menuHidden a {
        clear: both;
        display: block;
        height: 50px;
        width: 100%;
        text-align: center;
        line-height: 50px;
        font-family: Raleway;
        font-size: 1.2rem;
        color: white;
        text-decoration: none;
        /*border-bottom: 1px solid rgba(255,255,255,0.4);*/
    }
    .menuItems:hover {
        background-color: #505050;
    }
    .with--sidebar .site-pusher {
        -webkit-transform: translateX(250px);
        transform: translateX(250px);
    }
    .with--sidebar .site-cache {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }
    .header {
        background:lightslategrey;
    }
    .header .container {
        padding: 0;
        margin: 0 !important;
        width: 100% !important;
    }
    /*.mainContainer{
        max-height: 285vh;
        overflow-x: hidden;
    }*/
    .header__logo {
        padding: 15px !important;
        height: 66px;
    }
    .site-pusher, .site-container {
        width: 100%;
        position: fixed;
        z-index: 11111;
    }
    .sliders {
        background-position-x: 50%;
    }
    .contentSections {
        width: 100%;
    }
    .whiteBG, .menu1 {
        display: none !important;
    }
    .mainDiv {
        margin-left: 0 !important;
        margin-top: 50vh;
    }
    .homeDiv {
        width: 100%;
        padding: 15vh 10px 0 10px;
        text-align: center;
    }
    .homeDiv h2 {
        font-size: 1.8rem;
        line-height: 2rem;
    }
    .forward {
        margin-top: 2vh;
        margin-bottom: 5vh;
        text-align: center;
    }
    .becomeDriver {
        margin: 1.5rem auto;
        /* padding: 0 1.5rem; */
        width: 13rem;
        height: 3.5rem;
    }
    .homeDiv p {
        display: none;
        /*font-size: 1rem;*/
    }
    .homepage-features {
        height: 200vh;
    }
    .mainContainer {
        /*max-height: 345vh;*/
    }
    .homepage-features .carousel-controls {
        bottom: 20px !important;
        left: 5px !important;
    }
    .homepage-features__wrapper {
        padding-top: 0 !important;
        width: 100% !important;
    }
    .homepage-features__wrapper {
        margin-left: 0 !important;
        /*display: none;*/
    }
    .splited-line__wrapper {
        text-align: center;
        font-size: 1.25rem!important;
    }
    .homepage-features__preview {
        display: block!important;
        transform: scale(0.6)!important;
        left: 0!important;
        width: 100%!important;
    }
    .customePager {
        text-align: center;
        width: 30%;
    }
    .homepage-features .carousel-preview {
        /*margin-left: 15.5%!important;*/
        margin-left: 15.75%!important;
    }
    .homepage-features__content p {
        margin-bottom: 0!important;
    }
    .homepage-features .carousel-content {
        width: 100%!important;
        padding: 15px;
    }
    .homepage-features__content p {
        line-height: 1.1rem!important;
        font-size: 1rem!important;
    }
    .homepage-features {
        /*padding: 10vh 7px 0;*/
        padding: 20vh 7px 0;
        text-align: center;
    }
    .homepage-features__content h2 {
        margin-bottom: 0!important;
    }
    .whyDriveImg img {
        box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.3);
    }
    .whyDriveImg {
        height: auto !important;
        width: 100% !important;
        z-index: 1;
        margin: 0 !important;
        max-width: 100% !important;
    }
    .whyDriveDiv {
        margin-top: 40px;
        width: 100% !important;
    }
    .whyDriveContent h3 {
        display: block;
        width: 100%;
        margin: 3vh 0 1vh 0;
    }
    .whyDriveContent h6 {
        padding-left: 0;
    }
    .whiteStripes, .whyDriveContent h2 {
        display: none;
    }
    .whyDriveContent {
        width: 100%;
        text-align: center;
    }
    .glimpseDiv h2, .contentSections h2 {
        font-size: 2.2rem;
        line-height: 2.5rem;
    }
    .whyDriveContent h5 {
        margin: 2vh auto 2vh;
        font-size: 1.3rem;
        line-height: 1.6rem;
    }
    .glimpse {
        display: none;
        padding: 0 !important;
        height: 65vh !important;
        width: auto!important;
    }
    .iframeDiv {
        width: 100%;
    }
    .glimpseDiv img, .glimpseDiv iframe {
        /*max-width: 100%;*/
        width: 95%;
        height: 30vh;
        /*margin-top: 5vh;*/
        /*margin-left: -5%;*/
    }
    .copyrightDiv {
        display: none;
    }
    .copyrightDivMobile {
        display: block;
        height: 10vh;
        padding-top: 5vh;
    }
    .contactLogo {
        float: none !important;
    }
    .glimpseHeader {
        margin-top: 5vh !important;
    }
    .carDiv {
        padding-top: 5vh;
        text-align: center;
        margin: 11vh 5% 7vh 5%;
    }
    .carDiv p {
        font-size: 1rem;
    }
    /*.contentSections{*/
    /*width: calc(100% - 40px)!important;*/
    /*}*/
    .car {
        height: 105vh;
    }
    .carDiv h2 {
        font-size: 2.2rem;
        line-height: 2.5rem;
    }
    li.sliderImgCar {
        /*width: calc(100vw - 2.5%)!important;*/
        width: 15.5% !important;
        margin: 0 1% 0 0;
    }
    .bx-wrapper .bx-pager.bx-default-pager a {
        /*width: 95%!important;*/
    }
    .bx-pager-item {
        width: 23% !important;
    }
    .qFooter, .qFooter .container {
        height: auto;
        /*display: table;*/
    }
    .footerBgBack, .footerBgFront {
        display: none;
    }
    .qFooter .container {
        margin-top: 0 !important;
        padding: 7vh 10px 0;
    }
    .contentSections {
        margin-top: 0 !important;
        padding: 0;
    }
    .storeImg {
        height: 2.6rem;
        margin: 0 5px 10px 5px;
    }
    .contactLinks, .socialLinks, .appLinks {
        text-align: center;
    }
    .footerImages img {
        margin: 10px;
        height: 25px;
    }
    .contactLabel {
        line-height: 1.5rem;
        text-align: center !important;
        height: 36px;
    }
    .contactLabel img {
        margin: -3px 4px -6px 20px;
    }
    .aboutLinks, .rideLinks {
        text-align: center
    }
    /*.aboutLinks{margin-left: 33.33%}*/
    .mobileContact {
        display: block;
        text-align: center;
        display: none;
    }
    .mobileContact label, .mobileContact label a {
        /*width: 100%;*/
        text-align: center;
        font-family: 'Raleway';
        font-size: 0.9rem;
        display: block;
        text-decoration: none;
        /*margin: 0 auto 10px;*/
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        opacity: 0.9;
    }
    /*max-width:300px;text-align: left;*/
    .contactLinks, .socialLinks .footerHeader, .copyrightDivMobile {
        /*display: none*/
    }
    .user, .user1 {
        display: block
    }
    .user:hover ul {
        display: block;
        opacity: 1;
        padding: 4px 0 6px;
    }
    .user ul {
        display: none;
        opacity: 0;
        position: absolute;
        top: -500%;
        /*left: 0;*/
        right: 35%;
        width: 55vw;
        border: 1px solid;
        z-index: 12212;
        /*border-color: #777 #6c6c6c #666;*/
        border-radius: 5px;
        -webkit-transition-property: opacity, padding, visibility;
        -moz-transition-property: opacity, padding, visibility;
        -ms-transition-property: opacity, padding, visibility;
        -o-transition-property: opacity, padding, visibility;
        transition-property: opacity, padding, visibility;
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        -ms-transition: 0.2s ease-out;
        -o-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        background-color: #ffffff;
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9), 0 1px 2px rgba(0, 0, 0, 0.1);
    }
    .user ul:before, .user ul:after, .user li:first-child:after {
        display: block;
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        right: 3px;
        z-index: 12214;
        transform: scaleY(-1);
        border: 7px outset transparent;
    }
    .user ul:before {
        border-bottom: 7px solid #fff;
        top: 100%;
    }
    .user li:first-child:after {
        border-bottom: 7px solid #fff;
        top: 100%;
    }
    .user ul:after {
        border-bottom: 7px solid #ffffff;
        top: 100%;
    }
    .user li {
        padding: 10px 12px 0;
        font-size: 15px;
        font-weight: 700;
        color: #9b9b9b;
        /* text-shadow: 0 1px #fff; */
        text-align: left;
        font-family: Raleway;
    }
    .user li.sep {
        border-top: 1px solid #b4bbce;
        padding-top: 4px;
        margin-top: 4px;
        -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.6);
        box-shadow: inset 0 1px rgba(255, 255, 255, 0.6);
    }
    .user li a {
        display: block;
        text-align: left;
        position: relative;
        margin: 0 -13px;
        padding: 0 20px 0 12px;
        color: #313a4f;
        border: 1px solid transparent;
    }
    .user li a:hover {
        color: #191919;
        text-decoration: none;
        text-shadow: 0 1px rgba(0, 0, 0, 0.3);
        background-color: rgba(0, 0, 0, 0.1);
    }
    .user li a:hover:after {
        display: block;
    }
    .user li a:after {
        display: none;
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        right: 5px;
        margin-top: -4px;
        border: 4px solid transparent;
        border-left-color: #9facd1;
        border-left-color: rgba(255, 255, 255, 0.4);
    }
    /*.header__icon img:hover .overlayMenu{display: block}*/
    /*.user1:hover ul {
        display: block;
        opacity: 1;
        padding: 4px 0 6px;
    }*/
    .user1 ul.showPopUp {
        display: block;
        opacity: 1;
        padding: 4px 0 6px;
    }
    .user1 ul.hidePopUp {
        display: none;
        opacity: 0;
    }
    .user1 ul {
        display: none;
        opacity: 0;
        position: absolute;
        top: 100%;
        /*left: 0;*/
        right: 6%;
        width: 55vw;
        z-index: 12212;
        border: 1px solid;
        /*border-color: #777 #6c6c6c #666;*/
        border-radius: 5px;
        -webkit-transition-property: opacity, padding, visibility;
        -moz-transition-property: opacity, padding, visibility;
        -ms-transition-property: opacity, padding, visibility;
        -o-transition-property: opacity, padding, visibility;
        transition-property: opacity, padding, visibility;
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        -ms-transition: 0.2s ease-out;
        -o-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        background-color: #ffffff;
        /*box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9), 0 1px 2px rgba(0, 0, 0, 0.1);*/
        box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.3);
    }
    .user1 ul:before, .user1 ul:after, .user1 li:first-child:after {
        display: block;
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        right: 3px;
        z-index: 12213;
        /*transform: scaleY(-1);*/
        border: 7px outset transparent;
    }
    .user1 ul:before {
        border-bottom: 7px solid #fff;
        top: -7%;
    }
    .user1 li:first-child:after {
        border-bottom: 7px solid #fff;
        top: -7%;
    }
    .user1 ul:after {
        border-bottom: 7px solid #fff;
        top: -7%;
    }
    .user1 li {
        padding: 0 12px 0;
        font-size: 15px;
        font-weight: 700;
        color: #9b9b9b;
        /* text-shadow: 0 1px #fff; */
        text-align: left;
        font-family: Raleway;
    }
    .user1 li.sep {
        border-top: 1px solid #b4bbce;
        padding-top: 4px;
        margin-top: 4px;
        -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.6);
        box-shadow: inset 0 1px rgba(255, 255, 255, 0.6);
    }
    .user1 li a {
        display: block;
        text-align: left;
        position: relative;
        margin: 0 -13px;
        padding: 0 20px 0 12px;
        color: #313a4f;
        border: 1px solid transparent;
    }
    .user1 li a:hover {
        color: #191919;
        text-decoration: none;
        text-shadow: 0 1px rgba(0, 0, 0, 0.3);
        background-color: rgba(0, 0, 0, 0.1);
    }
    .user1 li a:hover:after {
        display: block;
    }
    .user1 li a:after {
        display: none;
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        right: 5px;
        margin-top: -4px;
        border: 4px solid transparent;
        border-left-color: #9facd1;
        border-left-color: rgba(255, 255, 255, 0.4);
    }
    .howWorksMobile {
        /*display: block*/
    }
    .mobileHow {
        /*display: block;
        height: 65vh;
        margin: 7vh 0 2vh;
        background: url("../img/iphone-mobile.png")top no-repeat/100%;
        background-position-x: -10%;*/
        display: block;
        height: 80vh;
        margin: 7vh 0 2vh;
        background: url(../img/SVG/iphone.svg) top /98% 78%;
        background-position-x: 0;
        background-repeat: no-repeat;
    }
    .howWorksMobile p {
        letter-spacing: 1px;
        font-family: Raleway;
        font-size: 0.9rem;
        margin: 15px 0;
        text-align: center;
        line-height: 1.2rem;
        font-weight: bolder;
        color: #191919;
        width: 80%;
        margin-left: 10%;
    }
    /*.mainContainer, .contentSections, .homepage-features {*/
    /*height: auto;*/
    /*max-height: none;*/
    /*}*/
    .mainContainer {
        max-height: 240vh;
    }
    .contentSections {
        height: 240vh;
    }
    .homepage-features {
        height: 135vh;
    }
    .mobileHow img {
        width: 51%;
        margin-top: 15%;
        margin-left: -2.2142%;
        border: 2.75px solid #e1e1e1;
    }
}


/* Big Mobile Screens - Landscape */

@media screen and (max-height: 33.31rem) and (min-width: 600px) and (orientation: landscape) {
    .glimpse {
        display: none!important;
    }
    .menu {
        display: none !important;
    }
    .contentSections {
        height: 340vh !important;
    }
    .homepage-features .carousel-controls button {
        padding: 28px!important;
    }
    /*.featureArrow{*/
    /*margin: -21px 0 0 -10px;*/
    /*}*/
    .homepage-features__preview {
        display: block !important;
        transform: scale(0.6) !important;
        /*background-position-x: 40.5%!important;*/
    }
    .homepage-features__preview, .homepage-features__content {
        width: 50%!important;
    }
    .homepage-features .carousel-content {
        width: 100%!important;
    }
    .homepage-features__wrapper {
        width: 100%!important;
        margin-left: 0!important;
    }
    .homepage-features .carousel-preview {
        margin-left: 14.75%!important;
    }
    .homeDiv h2 {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .whiteBG {
        display: none
    }
    .bx-wrapper img {
        width: 350px !important;
    }
    .whyDriveContent h5 {
        margin-top: 5vh
    }
    .menu1 {
        display: block !important;
        position: relative!important;
        left: 0!important;
    }
    .forward {
        margin-bottom: 5vh !important;
    }
    .contentSections {
        margin-top: 0 !important;
        width: 100% !important;
    }
    .whiteStripes {
        display: none;
    }
    .homepage-features .carousel-controls {
        bottom: 130px !important;
        left: 0 !important;
        width: 50%!important;
        text-align: right;
    }
    .homepage-features, .glimpse {
        height: 115vh !important;
        padding: 10vh;
    }
    .homepage-features .carousel-controls.animate-scroll {
        opacity: 1;
        visibility: visible;
    }
    .whiteBGGlimpse {
        height: 0px;
    }
    .whyDrive {
        height: 110vh !important;
        padding-top: 10vh;
    }
    .mainContainer {
        max-height: 365vh !important;
    }
    .contentSections {
        height: 260vh !important;
    }
    .whyDriveDiv {
        margin: 10px 0 40px auto;
        height: calc(110vh - 200px);
    }
    .whyDriveImg {
        margin-left: 0 !important;
    }
    .glimpse {
        margin-right: 0 !important;
    }
    .glimpseDiv {
        padding: 10vh!important;
    }
    .carDiv {
        /*margin: 10vh 10%;*/
        margin: 30vh 10% 10vh;
    }
    .qFooter {
        height: 60vh;
    }
    .footerBgFront {
        margin-top: -60vh;
        background: url(../img/SVG/car_bg.svg) 0 100%/18% 19% !important;
        background-repeat: repeat-x !important;
    }
    .qFooter .container {
        padding: 7vh 7px 0 7px;
        margin-top: -60vh;
        /*display: flex;*/
    }
    .footerHeader {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
    .contactLabel img {
        margin-bottom: -5px
    }
    .contactLabel {
        line-height: 1.3rem
    }
    .footerLinks {
        font-size: 1.1rem;
    }
    .socialLinks {
        padding: 0 7px;
    }
    .iframeDiv {
        margin-left: 0!important;
    }
    .bx-pager-item {
        width: 20%;
    }
    .contactLabel {
        width: 100%!important;
    }
    .qFooter {
        height: 150vh!important;
    }
    .qFooter .container {
        margin-top: -150vh!important;
        height: 150vh!important;
    }
    .contactLinks, .contactLabel {
        text-align: center;
    }
    .contactLabel:last-child img {
        margin-right: -110px!important;
    }
    .contactLabel a {
        padding-right: 0;
        width: calc(100% - 145px)!important;
    }
    .contactLogo {
        float: none !important;
    }
    .copyrightDivMobile {
        margin-top: 26vh!important;
        display: block;
    }
    .copyright {
        margin-top: 9vh;
    }
    .bx-pager-item {
        width: 20%;
    }
    .footerBgFront {
        background: url(../img/SVG/car_bg.svg) 0 100%/100% 32%!important;
        margin-top: -150vh!important;
        background-repeat: repeat-x!important;
    }
    .contactLinks {
        margin-bottom: -4vh;
    }
    .footerBgBack {
        background: url(../img/SVG/city_bg.svg) 0 90%/77% 15%!important;
        background-repeat: repeat-x!important;
    }
    .footerImages img {
        margin: 15px;
        height: 25px;
    }
    .socialLinks .footerHeader, .copyrightDiv {
        display: none
    }
    .aboutLinks, .rideLinks {
        width: 30%;
    }
    .appLinks {
        width: 40%;
    }
    .glimpseDiv iframe {
        height: 82vh!important;
    }
}


/* 6 Plus Mobile Screen - Landscape */

@media screen and (max-height: 33.31rem) and (min-width: 700px) and (orientation: landscape) {
    .glimpse {
        display: none!important;
    }
    .copyrightDivMobile {
        margin-top: 35vh !important;
        display: block;
    }
    .homepage-features .carousel-preview {
        margin-left: 18.1%!important;
    }
    .homepage-features {
        padding-top: 15vh;
    }
    .homepage-features, .glimpse {
        height: 135vh !important;
    }
    #homepage-features .homepage-features__preview {
        display: block !important;
        transform: scale(0.7) !important;
        background-position-x: 50%!important;
        left: 5%!important;
    }
}


/* Normal Mobile Screens - Landscape */

@media screen and (max-height: 575px) and (min-width: 23.0rem) {
    #homeDiv {
        padding-top: 12vh !important;
    }
}

@media screen and (max-height: 33.31rem) and (min-width: 23.0rem) {
    .glimpse {
        display: none!important;
    }
    .menuHidden img {
        width: 15%;
        margin: 0 -8%;
    }
    .mainDiv {
        margin-top: 15vh;
        margin-left: 5%!important;
    }
    .forward {
        margin-bottom: 5vh;
    }
    .whiteBG {
        display: none
    }
    .bx-wrapper img {
        width: 300px !important;
    }
    body {
        overflow-x: hidden;
    }
    .homeDiv {
        padding-top: 25vh !important;
    }
    .homepage-features__preview {
        display: block!important;
        transform: scale(0.6)!important;
        left: 0!important;
    }
    .homeDiv p {
        font-size: 0.9rem !important;
        line-height: 1rem !important;
    }
    .contentSections {
        width: 100%;
    }
    /*.homepage-features__preview{
        background: url(../img/SVG/iphone.svg) no-repeat top/ auto 85%;
        background-size: contain!important;
        width: 23%!important;
        margin-right: 15%;
        margin-top: -10%;
    }
    .carousel-preview{
        margin-left: 1.5%!important;
    }*/
    .homepage-features__preview, .homepage-features__content {
        width: 50%!important;
    }
    .homepage-features__content {
        float: left;
    }
    .homepage-features__preview {
        float: right;
        position: relative!important;
        margin-top: -30%;
    }
    .homepage-features .carousel-controls {
        bottom: 90px !important;
        left: -25% !important;
    }
    .homepage-features .carousel-preview {
        margin-left: 12.25%;
    }
    .customePager {
        text-align: center;
        width: 30%;
        margin-top: 20vh;
    }
    .homepage-features__wrapper {
        padding-top: 20px !important;
    }
    .mainContainer {
        max-height: 388vh !important;
    }
    .copyrightDivMobile {
        height: 15vh !important;
    }
    .contactLabel {
        width: 70%;
        margin: auto;
    }
    .contactLabel span {
        text-align: center;
    }
    .contentSections {
        height: 265vh;
    }
    .homepage-features, .glimpse {
        height: 145vh !important;
    }
    .glimpse {
        padding: 7vh;
    }
    .whyDrive {
        height: 120vh;
        padding-top: 10vh;
    }
    .glimpseDiv h2, .contentSections h2 {
        font-size: 2.7rem;
        line-height: 3rem;
    }
    .glimpseDiv {}
    .iframeDiv {
        width: 90%;
        margin-left: 5%;
    }
    .glimpseDiv img, .glimpseDiv iframe {
        width: 100%;
        height: 82vh;
    }
    .car {
        min-height: 140vh !important;
        height: auto;
    }
    .carDiv {
        text-align: center;
        margin: 17vh 5% 7vh 5%;
    }
    .slidersCar, .sliderImgCar {
        height: auto !important;
    }
    .slidersCar .bx-wrapper {
        margin-bottom: 10px;
    }
    .slidersCar .bx-viewport {
        margin-bottom: 3vh !important;
        display: table;
    }
    .whyDriveImg {
        width: 45% !important;
        margin-top: 10vh !important;
    }
    .whyDriveContent {
        width: 52%;
    }
    .whyDriveContent h3 {
        font-size: 2rem !important;
        font-weight: 400 !important;
    }
    .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
        position: relative !important;
        bottom: 0;
        width: 100%;
    }
}

@media (max-width: 600px) and (min-width: 300px) and (orientation: landscape) {
    .glimpse {
        display: none!important;
    }
    .homepage-features .carousel-preview {
        margin-left: 12.25%!important;
    }
}

@media (max-width: 400px) and (min-width: 350px) and (orientation: portrait) {
    .glimpse {
        display: none!important;
    }
    .homepage-features .carousel-preview {
        /*margin-left: 20.75%!important;*/
        margin-left: 20%!important;
    }
    .homepage-features__wrapper {
        height: calc(130vh - 70px);
    }
    .homepage-features .carousel-controls {
        bottom: 20px !important;
    }
    .homepage-features__preview {
        margin-top: 0vh;
        transform: scale(0.7)!important;
    }
    .homepage-features, #homepage-features {
        height: 150vh!important;
    }
    .user1 ul:before {
        border-bottom: 7px solid #fff;
        top: -5%;
    }
    .user1 li:first-child:after {
        border-bottom: 7px solid #fff;
        top: -5%;
    }
    .user1 ul:after {
        border-bottom: 7px solid #fff;
        top: -5%;
    }
}

@media (max-width: 450px) and (min-width: 350px) and (orientation: portrait) {
    .glimpse {
        display: none!important;
    }
    .mainContainer {
        max-height: 280vh;
    }
    .homepage-features {
        height: 130vh!important;
    }
    .contentSections {
        height: 260vh!important;
    }
}

@media (min-width: 400px) and (max-width: 450px) and (orientation: portrait) {
    .glimpse {
        display: none!important;
    }
    .homepage-features__preview {
        margin-top: 0vh;
        transform: scale(0.8) !important;
    }
    .homepage-features .carousel-preview {
        /*margin-left: 23.75%!important;*/
        margin-left: 24.25%!important;
    }
}


/* iPad Screens - Portrait */

@media screen and (min-width: 690px) and (max-width: 800px) and (orientation: portrait) and (device-aspect-ratio: 16/9) {
    .sliders {
        background-position-x: 55%;
        background: url(../img/Opt-main_bg.png)!important;
        /* background-color: #0c0c0c; */
        background-repeat: no-repeat;
        background-size: cover!important;
    }
}

@media (min-width: 690px) and (max-width: 800px) and (orientation: portrait) {
    .becomeDriver {
        width: 13rem;
    }
    body {
        overflow-x: hidden;
    }
    .sliders {
        background-position-x: 55%;
        background: url(../img/Opt-main_bg.png) top / auto 100%!important;
        /* background-color: #0c0c0c; */
        background-repeat: no-repeat;
        background-size: auto 100%;
    }
    .homeDiv {
        padding-top: 50vh;
    }
    .homeDiv h2 {
        line-height: 3rem;
        font-size: 2.2rem;
    }
    .contentSections {
        margin-top: -20vh;
        width: 90%;
        height: 243vh;
    }
    .whiteBG {
        display: none;
    }
    .whyDriveImg {
        height: auto !important;
        margin-top: 7vh;
        margin-left: 0px !important;
    }
    .glimpse {
        padding: 7vh 50px;
        float: right;
        margin-right: -11.1%;
        height: 98vh !important;
    }
    .glimpseDiv {
        padding: 10vh 10vh 10vh 10vh !important;
    }
    .glimpseDiv img, .glimpseDiv iframe {
        width: 100% !important;
    }
    .qFooter {
        height: 80vh!important;
    }
    .qFooter .container {
        margin-top: -80vh!important;
        height: 80vh!important;
    }
    .contactLinks, .contactLabel {
        text-align: center;
    }
    .contactLabel:last-child img {
        margin-right: -110px!important;
    }
    .contactLabel a {
        padding-right: 0;
        width: calc(100% - 145px)!important;
    }
    .contactLogo {
        float: none !important;
    }
    .copyrightDivMobile {
        /*margin-top: 19vh!important;*/
        margin-top: 24vh!important;
        display: block;
    }
    .bx-pager-item {
        width: 20%;
    }
    .footerBgFront {
        background: url(../img/SVG/car_bg.svg) 0 100%/100% 32%!important;
        margin-top: -80vh!important;
        background-repeat: repeat-x!important;
    }
    .contactLinks {
        margin-bottom: 5vh;
        width: 100%;
    }
    .socialLinks {
        width: 100%
    }
    .footerBgBack {
        background: url(../img/SVG/city_bg.svg) 0 90%/77% 15%!important;
        background-repeat: repeat-x!important;
    }
    .footerImages img {
        margin: 15px;
        height: 25px;
    }
    .socialLinks .footerHeader, .copyrightDiv {
        display: none
    }
    .aboutLinks, .rideLinks {
        width: 30%;
    }
    .appLinks {
        width: 40%;
    }
    .menu1 {
        position: absolute;
        left: 13%;
    }
    .homepage-features {
        padding: 25vh 5vh 5vh 5vh;
        /*height: 90vh;*/
    }
    .homepage-features__preview {
        display: block !important;
        left: 10vh !important;
    }
    .homepage-features__wrapper {
        margin-left: 0px !important;
    }
    .homepage-features .carousel-content {
        width: 52% !important;
    }
    .whyDriveDiv {
        width: 100% !important;
        /*margin: 45px 0 100px auto;*/
    }
    .whyDriveContent {
        width: 50%;
    }
    .whiteBGGlimpse {
        height: 0px !important;
    }
    .iframeDiv {
        width: 100%;
    }
    .bx-wrapper img {
        width: 95%;
        height: auto !important;
    }
    .glimpseDiv iframe {
        height: 40vh !important;
    }
    .footer-stripe {
        display: none;
    }
}


/* iPad Screens - Landscape */

@media screen and (min-width: 750px) and (max-width: 1030px) and (max-height: 800px) and (orientation: landscape) and (device-aspect-ratio: 16/9) {
    .sliders {
        background-size: cover!important;
    }
}

@media (min-width: 750px) and (max-width: 1030px) and (max-height: 800px) and (orientation: landscape) {
    .homepage-features__wrapper {
        transform: scale(0.8);
        margin: 0 !important;
        margin-left: 13%!important;
    }
    .sliders {
        background-size: auto 20%;
        background-position-x: 45%;
    }
    .whiteBGGlimpse, .whiteBG {
        display: none
    }
    .whyDriveDiv {
        width: 100% !important;
        margin: 50px 20px;
    }
    .whyDriveContent {
        width: 50%;
    }
    .glimpse {
        padding-top: 20vh !important;
    }
    .whyDriveContent h5 {
        margin-top: 2vh
    }
    .whyDriveContent h6 {
        padding-left: 5%;
    }
    .glimpseDiv {
        padding: 10vh !important;
        text-align: center;
    }
    .glimpseDiv iframe, .iframeDiv {
        width: 100%;
    }
    .footerBgBack {
        background: url(../img/SVG/city_bg.svg) 0 90%/50% 40%;
        background-repeat: repeat-x;
    }
    .footerBgFront {
        background: url(../img/SVG/car_bg.svg) 0 100%/100% 64%;
        margin-top: -50vh !important;
        background-repeat: repeat-x;
    }
    .copyrightDiv {
        margin-top: 39.8vh !important;
    }
    .contactLinks a {
        /*padding-right: 25%!important;*/
    }
}


/*@media (max-width: 61.24em) and (min-width: 33.31rem) {*/


/*.menu1 {*/


/*left: 49%;*/


/*}*/


/*.showMenu1.menu1 {*/


/*left: 18%;*/


/*}*/


/*.homepage-features {*/


/*padding: 10vh 10vh 10vh 10vh;*/


/*height: 105vh;*/


/*}*/


/*.homepage-features__preview {*/


/*display: none !important;*/


/*}*/


/*.carousel-controls {*/


/*visibility: visible !important;*/


/*}*/


/*.qFooter .container {*/


/*display: block;*/


/*}*/


/*.contactLinks {*/


/*width: 100% !important;*/


/*}*/


/*.contactLinks a {*/


/*width: calc(100% - 60px);*/


/*}*/


/*.contactLabel:last-child img {*/


/*margin-right: -92px;*/


/*}*/


/*.socialLinks{width: 100%}*/


/*.contactLabel:last-child {*/


/*margin-bottom: 20px;*/


/*}*/


/*.qFooter {*/


/*height: 115vh;*/


/*}*/


/*.footerBgBack {*/


/*background: url(../img/SVG/city_bg.svg) 0 90%/50% 30%;*/


/*background-repeat: repeat-x;*/


/*}*/


/*.footerBgFront {*/


/*background: url(../img/SVG/car_bg.svg) 0 100%/100% 50%;*/


/*margin-top: -115vh;*/


/*background-repeat: repeat-x;*/


/*}*/


/*.qFooter .container {*/


/*margin-top: -115vh;*/


/*height: 115vh;*/


/*padding-top: 2.5vh;*/


/*}*/


/*.copyrightDivMobile {*/


/*margin-top: 15vh;*/


/*display: block;*/


/*height: 5vh!important;*/


/*}*/


/*.contactLogo {*/


/*margin-bottom: 1rem;*/


/*}*/


/*!*.glimpse{*!*/


/*!*height: 115vh!important;*!*/


/*!*}*!*/


/*!*.glimpseDiv{*!*/


/*!*height: 115vh;*!*/


/*!*}*!*/


/*.glimpseDiv iframe {*/


/*!*height: 70vh !important;*!*/


/*}*/


/*}*/
