body {
	overflow-x: hidden !important;
}

.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.row.no-gutters>[class^="col-"],
.row.no-gutters>[class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}

.img-side {
	position: absolute;
	bottom: 145px;
	left: 45%;
}

.qudos_button a,
.qudos_button button {
	line-height: 50px;
	color: #fff;
	font-weight: 500;
	border-radius: 10px;
	text-align: center;
	background-image: -o-linear-gradient(left, #254870 0%, #142f51 36%, #021532 99%);
	background-image: -webkit-gradient(linear, left top, right top, from(#254870), color-stop(36%, #142f51), color-stop(99%, #021532));
	background-image: linear-gradient(90deg, #254870 0%, #142f51 36%, #021532 99%);
	padding: 0px 40px;
}

.qudos_button a:hover {
	background: #021532;
	background: -o-linear-gradient(left, #021532 0%, #254870 100%);
	background: -webkit-gradient(linear, left top, right top, from(#021532), to(#254870));
	background: linear-gradient(to right, #021532 0%, #254870 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#021532', endColorstr='#254870', GradientType=1);
	/* IE6-9 */
}

.qudos_button {
	margin-top: 20px;
	-webkit-transition: 1.3s;
	-o-transition: 1.3s;
	transition: 1.3s;
}

.qleft {
	float: left;
}

.qright {
	float: right;
}


.header_blurb {
    margin-top: 75px;
}

.speech-bubble-header {
	position: relative;
	background: #fff;
	border-radius: .4em;
}

.speech-bubble-header:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-color: transparent transparent #ffffff #ffffff;
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
	-webkit-box-shadow: -3px 3px 4px 0px rgba(33, 142, 199, 0.27);
	box-shadow: -3px 3px 4px 0px rgba(33, 142, 199, 0.27);
	margin-top: 40px;
	margin-right: -49px;
}

.speech-bubble {
	position: relative;
	background: #fff;
	border-radius: .4em;
}

.speech-bubble:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	margin-left: 0.2em;
	right: 10%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 25px solid black;
	border-color: transparent transparent #ffffff #ffffff;
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-box-shadow: -3px 3px 3px 0px rgba(33, 142, 199, 0.24);
	box-shadow: -3px 3px 3px 0px rgba(33, 142, 199, 0.24);
	margin-top: 40px;
}

.speech-bubble-right {
	position: relative;
	background: #fff;
	border-radius: .4em;
	/*box-shadow: 1px 3px 10px rgba(0,0,0,.1);*/
}

.speech-bubble-right:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	margin-left: 0.2em;
	left: 10%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 30px solid black;
	border-color: transparent transparent #ffffff #ffffff;
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-box-shadow: -3px 3px 3px 0px rgba(33, 142, 199, 0.24);
	box-shadow: -3px 3px 3px 0px rgba(33, 142, 199, 0.24);
	margin-top: 39px;
}

.banner {
	position: inherit;
	background: #fff url("../img/start_waverbanner.png") no-repeat center center;
	background-size: cover;
	padding: 100px 0px 50px;
	/*background-attachment: fixed; lets see how this goes with new layout*/
}

.banner .container {
	padding: 5px 0px 0px;
}

.img_content_waitingguy {
	background: url('../img/section2_img.png') no-repeat;
	background-size: contain;
}

.img_content_waitingguy img {
	margin-left: 70px;
	position: relative;
	z-index: 10;
}


.first_section_blurb {
	margin-left: -190px;
	margin-top: -100px;
}

.second_section_blurb {
	margin-right: -100px;
}

.third_section_blurb {
	margin-left: -190px;
	margin-top: -160px;
}

.section_one {
	background: #f4f9fe;
	padding: 100px 0px 100px;
}

.section_two {
	padding: 120px 0px;
	background: #0d111c url("../img/diamond_bg.jpg") repeat center center;
	background-size: cover;
}

.section_three {
	padding: 250px 0px 100px;
	background: #f4f9fe;
	background-size: cover;
}

.section-card {
	background: #fff;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(33, 142, 199, 0.55);
	box-shadow: 0px 1px 5px 0px rgba(33, 142, 199, 0.55);
	border-radius: 1em;
	padding: 20px 60px;
}

.section-card-main {
	position: relative;
	padding: 40px;
	z-index: 9;
}

.triangle-right {
	display: none;
	position: inherit;
	margin-right: -200px;
	margin-top: 200px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 70px;
	height: 80px;
	background: #fff;
	z-index: 8;
}

.card-header {
	background: #fff;
}

.card-header {
	cursor: pointer;
	padding: 20px 30px 20px 30px;
	width: 100%;
	border-top: solid rgba(0, 0, 0, 0) 1px;
	border-left: solid rgba(0, 0, 0, 0) 1px;
	border-right: solid rgba(0, 0, 0, 0) 1px;
	border-bottom: 0;
	border-radius: 1em;
}

.card-header:first-child {
	border-radius: 1em 1em 0 0;
}

.card-body {
	padding: 0px 30px 10px 30px;
	border-top: 0;
	border-left: solid rgba(0, 0, 0, 0.1) 1px;
	border-right: solid rgba(0, 0, 0, 0.1) 1px;
	border-bottom: solid rgba(0, 0, 0, 0.1) 1px;
	border-radius: 0 0 1em 1em;
}

.card {
	width: 100%;
	border: 0;
}

.desktop-hidden {
	display: none;
}



/* Footer ng ina nyo lahat*/


.floater {
	padding: 0px 0px;
}

.clouds_transitions {
	position: relative;
}

img.clouds_transitions.cloud1 {
	position: absolute !important;
	top: 68%;
	bottom: 0;
	left: 25%;
}


img.clouds_transitions.cloud2 {
	position: absolute !important;
	top: 35%;
	bottom: 0;
	left: 30%;
}

img.clouds_transitions.cloud3 {
	position: absolute !important;
	top: 65%;
	bottom: 0;
	left: 65%;
}



@media (max-width: 1024px) {
	.qudos-divider {
		margin: 10px 0;
	}

	.mobile-show {
		display: none;
	}

	.img_content_corporatecouple img {
		margin-top: 50px;
	}
}

@media (max-width: 800px) {
	.img_content_waitingguy img {
		margin-left: 0px;
	}
}

@media (min-width: 768px) {
	.footer {
		font-size: 14px;
	}
}

@media (max-width: 768px) {
	img.clouds_transitions.cloud1 {
		position: absolute !important;
		top: 60%;
		bottom: 0;
		left: 10%;
		width: 50px;
	}


	img.clouds_transitions.cloud2 {
		position: absolute !important;
		top: 30%;
		bottom: 0;
		left: 10%;
		width: 100px;
	}

	img.clouds_transitions.cloud3 {
		position: absolute !important;
		top: 65%;
		bottom: 0;
		left: 60%;
		width: 70px;
	}

	.tablet-hidden {
		display: none !important;
	}

	.footer {
		font-size: 14px;
		padding-top: 50px;
	}

	.footer__line {
		margin-bottom: 75px;
	}

	.section-card-main {
		padding: 20px 30px;
	}

	.img_content_waitingguy img {
		margin-left: -15px;
		width: 75%;
		top: 75px;
	}

	.img_content_waitingguy {
		background-position-y: 100px;
	}

	.img_content_starwoman img {
		margin-left: -25px;
	}

	.img_content_starwoman {
		background-position-y: 50px;
		background-position-x: 20px;
	}

	.img_content_corporatecouple img {
		margin-top: 20px;
		margin-left: 0px;
	}

	.img_content_corporatecouple {
		background-position-y: 0px;
		background-position-x: 15px;
	}

	.footer_content {
		font-size: 14px
	}

	.clouds_transitions {
		position: relative;
	}

	.speech-bubble-right:after {
		margin-top: 19px;
	}

	.speech-bubble:after {
		margin-top: 19px;
	}
}

@media (max-width: 640px) {

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.75em;
	}

	h3,
	h4 {
		font-size: 1em;
	}

	p {
		font-size: .9em;
	}

	img.clouds_transitions.cloud1 {
		position: absolute !important;
		top: 81%;
		bottom: 0;
		left: 10%;
		width: 15%;
	}


	img.clouds_transitions.cloud2 {
		position: absolute !important;
		top: 65%;
		bottom: 0;
		left: 15%;
		width: 25%;
	}

	img.clouds_transitions.cloud3 {
		position: absolute !important;
		top: 80%;
		bottom: 0;
		left: 65%;
		width: 15%;
	}

	.header__logo {
		height: 50px;
		margin-left: -5px;
		margin-right: 10px;
	}

	.header__btn {
		margin-right: 40px;
	}

	.section-card {
		padding: 30px;
		text-align: center;
	}

	.qudos-divider {
		margin: auto;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.card-body {
		padding: 0px 20px 10px 20px;
	}

	.card-header {
		padding: 20px 20px 20px 20px;
	}

	.footer {
		text-align: center;
		padding: 30px 0px 0px;
		font-size: 15px;
	}

	.footer__small {
		margin-left: 30px;
	}

	.footer__link {
		margin-right: 30px;
	}

	.banner {
		margin-top: 100px;
	}

	.img_content_headingimg {
		margin-top: 50px;
	}

	.img_content_waitingguy img {
		top: 0px;
	}

	.img_content_corporatecouple {
		background-position-x: 40px;
	}

	.img_content_corporatecouple img {
		margin-left: 35px;
	}

	.header_blurb {
		margin: 0px auto;
	}

	.first_section_blurb,
	.third_section_blurb,
	.mobile-hidden {
		display: none !important;
	}

	.qright,
	.qleft {
		width: 100% !important;
	}

	.mobile-show {
		display: contents !important;
	}

	.second_section_blurb {
		margin-right: 0px;
		margin-bottom: 75px;
	}

	.img_content_waitingguy {
		background-position-y: 0px;
	}

	.img_content_starwoman img {
		margin-left: -5px;
	}

	.footer h2 {
		width: 50%;
		font-size: 18px;
	}

	.section_one,
	.section_two,
	.section_three {
		padding: 75px 0px;
	}

	.speech-bubble-header {
		position: relative;
		border-radius: 1em;
	}

	.speech-bubble-header:after {
		content: '';
		position: absolute;
		bottom: 0;
		margin-top: 102px;
		left: 50%;
		width: 0;
		height: 0;
		border: 35px solid transparent;
		border-color: transparent transparent #ffffff #ffffff;
		-webkit-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-webkit-box-shadow: -3px 3px 3px 0px rgba(33, 142, 199, 0.32);
		box-shadow: -3px 3px 3px 0px rgba(33, 142, 199, 0.32);
		margin-left: -45px;
	}

	.speech-bubble {
		position: relative;
		border-radius: .4em;
	}

	.speech-bubble:after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		bottom: -79px;
		left: 39%;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		border: 40px solid;
		border-color: transparent transparent #ffffff #ffffff;
	}

	.speech-bubble-right {
		position: relative;
		background: #cbcbcb;
		border-radius: .4em;
	}

	.speech-bubble-right:after {
		content: '';
		position: absolute;
		bottom: 0;
		margin-top: 95px;
		left: 50%;
		width: 0;
		height: 0;
		border: 50px solid transparent;
		border-top-color: #fff;
		border-bottom: 0;
		margin-left: -50px;
		margin-bottom: -50px;
	}

	.desktop-hidden {
		display: contents !important;
	}

	.found {
		display: contents !important;
		width: 100% !important;
	}


	.clouds_transitions {
		position: relative;
	}

}

@media (max-width: 480px) {
	h1 {
		font-size: 24px;
	}

	h3,
	h4 {
		font-size: 18px;
	}

	.header_blurb {
		margin: 0px 20px;
	}

	.img_content_corporatecouple {
		background-position-x: 10px;
	}

	.img_content_corporatecouple img {
		margin-left: 0px;
	}

	.speech-bubble-header:after {
		margin-top: 100px;
	}
}

@media (max-width: 414px) {
	.speech-bubble-header:after {
		margin-top: 98px;
	}

	.speech-bubble:after {
		left: 35%;
	}

	.img_content_starwoman {
		background-position-x: 0;
	}

	.img_content_corporatecouple img {
		margin-left: 0px;
	}

	.img_content_corporatecouple {
		background-position-x: 10px;
	}
}

@media (max-width: 375px) {
	h1 {
		font-size: 22px;
	}

	h3,
	h4 {
		font-size: 16px;
	}

	.speech-bubble-header:after {
		margin-top: 97px;
	}
}

@media (max-width: 360px) {
	.speech-bubble-header:after {
		margin-top: 128px;
	}

	.speech-bubble:after {
		left: 33%;
	}
}

@media (max-width: 320px) {
	h1 {
		font-size: 28px;
	}

	h3,
	h4 {
		font-size: 14px;
	}

	.qudos-divider {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.section-card {
		padding: 20px;
	}

	.speech-bubble-header:after {
		margin-top: 85px;
	}

	.speech-bubble:after {
		left: 31%;
	}
}

@media (max-width: 768px) {

  li.app_text {
      text-align: center;
  }

  .footer__title--download{
        margin-top:100px;
        margin-bottom: 10px;
    }
}

@media (max-width: 425px) {
    
    .footer__logo {
        display: block;
        position: relative;
        margin:0 auto;
        text-align:center;
    }
    .footer__title {
        text-align:center;
    }
    
    .footer__list {
        text-align: center;
    }

    .footer__text{
        text-align:center
    }

    .footer__social li {
        display: block;
        float: left;
        width: 25%;
        margin-top: 30px;
    }

    .footer__title--download{
        margin-top:100px
    }

    .footer__list li.app_image img{
      width:40%;
    }

}


	.flip{
		background: #228ec8;
	}

	.promo-card {
	    border-radius: 20px;
	    border: 1px solid #91c6e2;
	    margin: 30px 0px;
	}

	.promocard-img img {
	    border-radius: 18px 0px 0px 18px;
	}

	.promocard-text {
	   padding: 25px 20px !important;
	   font-size: 30px;
	   font-weight: 500;
	   color: #000;
	}

	.promocard-text.flip { 
	   padding:25px !important;
	   font-size: 32px;
	   font-weight: 500; 
	   color: #fff;
	}


	.copyme {
	    padding: 30px 30px 0px 30px;
	}

	.copyme p {
	    background: #ffffff;
	    padding: 10px;
	    font-size: 18px;
	    font-weight: bold;
	    border-radius: 10px;
	    border: 2px dashed #308ec8;
	}

	.copy-letter-button {
	    color: #676767;
	    font-size: 16px;
	}

	.featured-section {
	    padding-bottom: 50px;
	}

	@media (max-width: 768px) {
	    .promocard-text {
	        padding: 10px !important;
	        font-size: 24px;
	        font-weight: 500;
	        color: #000;
	    }

	    .copyme {
	        padding: 10px 30px 0px 30px;
	    }

	}
	@media (max-width: 425px) {
	    .banner {
	        margin-top: 0px;
	    }
	    .promocard-img img {
		    border-radius: 18px 18px 0px 0px;
		}

	    .promocard-text { 
		   text-align:center
		}

		.copyme {
		    padding: 10px 30px 0px 30px;
		}

		.copy-letter-button {
		    padding-bottom:20px;
		}

	}


	  div.promo-card {
      display:none;
      
  }
  
  #loadMore {
    padding: 15px 50px;
    text-align: center;
    background-image: -moz-linear-gradient(90deg, #254870 0%, #142f51 36%, #021532 99%);
    background-image: -webkit-linear-gradient(90deg, #254870 0%, #142f51 36%, #021532 99%);
    background-image: -ms-linear-gradient(90deg, #254870 0%, #142f51 36%, #021532 99%);
    background-image: linear-gradient(90deg, #254870 0%, #142f51 36%, #021532 99%);
    color: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-radius: 3px;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
  }
  #loadMore:hover {
      background: rgba(8,5,20,1);
      background: -moz-linear-gradient(left, rgba(8,5,20,1) 0%, rgba(22,36,63,1) 51%, rgba(35,67,105,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(8,5,20,1)), color-stop(51%, rgba(22,36,63,1)), color-stop(100%, rgba(35,67,105,1)));
      background: -webkit-linear-gradient(left, rgba(8,5,20,1) 0%, rgba(22,36,63,1) 51%, rgba(35,67,105,1) 100%);
      background: -o-linear-gradient(left, rgba(8,5,20,1) 0%, rgba(22,36,63,1) 51%, rgba(35,67,105,1) 100%);
      background: -ms-linear-gradient(left, rgba(8,5,20,1) 0%, rgba(22,36,63,1) 51%, rgba(35,67,105,1) 100%);
      background: linear-gradient(to right, rgba(8,5,20,1) 0%, rgba(22,36,63,1) 51%, rgba(35,67,105,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#080514', endColorstr='#234369', GradientType=1 );
      color: #fff;
  }

