/* CUSTOM STYLES */

body {
    overflow-x: hidden !important;
}

h1.banner__title {
    color: #228ec8 !important;
    font-weight: bold;
}

h2.banner__title {
    font-weight: bold;
}

h3.banner__text {
    color: #676767;
    font-weight: 300;
}


ul.footer__social li a {
    color: #333333;
    font-size: 24px;
}

.section_one,
.section_two,
.section_three {
    padding: 100px 0
}

.section-one__text,
.section-two__text,
.section-three__text {
    font-weight: 100;
    width: 80%;
}

.bg-wrap {
    display: block;
    position: relative;
    background-image: -o-linear-gradient(320deg, #171f2d 0%, #0d111c 34%, #03030a 100%);
    background-image: linear-gradient(130deg, #171f2d 0%, #0d111c 34%, #03030a 100%);
    z-index: 1;
}

.banner_divider {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 5px;
    width: 100px;
    border-radius: 1em;
    background-image: -o-linear-gradient(left, #83B9DA 10%, #83B9DA 50%, #1F8EC7 59%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, #83B9DA), color-stop(50%, #83B9DA), color-stop(59%, #1F8EC7));
    background-image: linear-gradient(90deg, #83B9DA 10%, #83B9DA 50%, #1F8EC7 59%);
}

.qudos_btn {
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    text-align: center;
    background-image: -o-linear-gradient(left, #254870 0%, #142f51 36%, #021532 99%);
    background-image: -webkit-gradient(linear, left top, right top, from(#254870), color-stop(36%, #142f51), color-stop(99%, #021532));
    background-image: linear-gradient(90deg, #254870 0%, #142f51 36%, #021532 99%);
    padding: 15px 75px;
    -webkit-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

.qudos_btn:hover {
    color: #fff;
    background: #021532;
    background: -o-linear-gradient(left, #021532 0%, #254870 100%);
    background: -webkit-gradient(linear, left top, right top, from(#021532), to(#254870));
    background: linear-gradient(to right, #021532 0%, #254870 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#021532', endColorstr='#254870', GradientType=1);
}

.qudos_btn {
    margin-top: 20px;
    -webkit-transition: 1.3s;
    -o-transition: 1.3s;
    transition: 1.3s;
}

.btn_other_blue {
    background: #228ec8 !important;
}

.modal-full {
    min-width: 80%;
    margin: 0 auto;
}

.modal-full .modal-content {
    min-height: 50vh;
    border: none;
}

.modal {
    top: 15vh;
}

button.close {
    position: absolute;
    right: 15px;
    top: 40px;
    background: #308dc6;
    border-radius: 5px;
    z-index: 1;
}

.close {
    color: #ffff;
    opacity: 10;
}

.close:hover {
    color: #ffff;
}

.modal-header .close {
    padding: 5px 10px;
    margin: -1rem -1rem -1rem auto;
    border-radius: 20px;
}

h2.section-one__title,
h2.section-two__title,
h2.section-three__title,
h2.banner__title {
    padding-bottom: 3rem;
}

h2.section-one__title:before {
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    height: 5px;
    bottom: 160px;
    left: 18px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #83bada;
    background: -moz-linear-gradient(left, #83bada 0%, #83bada 47%, #1f8dc6 52%, #1f8dc6 100%);
    background: -webkit-linear-gradient(left, #83bada 0%, #83bada 47%, #1f8dc6 52%, #1f8dc6 100%);
    background: linear-gradient(to right, #83bada 0%, #83bada 47%, #1f8dc6 52%, #1f8dc6 100%);
}


h2.section-two__title:before {
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    height: 5px;
    bottom: 160px;
    left: 15px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #83bada;
    background: -moz-linear-gradient(left, #83bada 0%, #83bada 47%, #1f8dc6 52%, #1f8dc6 100%);
    background: -webkit-linear-gradient(left, #83bada 0%, #83bada 47%, #1f8dc6 52%, #1f8dc6 100%);
    background: linear-gradient(to right, #83bada 0%, #83bada 47%, #1f8dc6 52%, #1f8dc6 100%);
}


h2.section-three__title:before {
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    height: 5px;
    bottom: 160px;
    left: 18px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #83bada;
    background: -moz-linear-gradient(left, #83bada 0%, #83bada 47%, #1f8dc6 52%, #1f8dc6 100%);
    background: -webkit-linear-gradient(left, #83bada 0%, #83bada 47%, #1f8dc6 52%, #1f8dc6 100%);
    background: linear-gradient(to right, #83bada 0%, #83bada 47%, #1f8dc6 52%, #1f8dc6 100%);
}

h2.banner__title:before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 5px;
    bottom: 105px;
    left: 18px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #83bada;
    background: -moz-linear-gradient(left, #83bada 0%, #83bada 47%, #1f8dc6 52%, #1f8dc6 100%);
    background: -webkit-linear-gradient(left, #83bada 0%, #83bada 47%, #1f8dc6 52%, #1f8dc6 100%);
    background: linear-gradient(to right, #83bada 0%, #83bada 47%, #1f8dc6 52%, #1f8dc6 100%);
}


/** HEADER **/

.svg-container {
    margin-top: 1em;
    width: 100%;
    position: absolute;
}


/* BANNER */
.masthead-wrap {
    background: #fafafa url("../img/banner_bg_top.png") no-repeat top left;
    background-position-x: 0px;
    background-position-y: 0px;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background: url("../img/banner_circlebg.png") no-repeat bottom right;
    background-size: auto;
    background-repeat: no-repeat;
    background-position-y: 200px;
}



/* SECTION ONE */
/* SECTION THREE */

.section_one,
.section_three {
    background: #fff;
}


/* SECTION TWO */
.section_two {
    background: rgb(160, 222, 255);
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(45deg, rgba(160, 222, 255, 1) 0%, rgba(228, 242, 240, 1) 100%);
    background: linear-gradient(45deg, rgba(160, 222, 255, 1) 0%, rgba(228, 242, 240, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0deff', endColorstr='#e4f2f0', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}


.col-xs-6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}


/* FOOTER */
.footer {
    background: #0d111c;
    /* padding: 80px 0 0px; */
    font-size: 22px;
}

.footer h2 {
    color: #a8a9aa !important;
    border: 1px solid #a8a9aa;
    border-radius: 20px;
    font-size: 22px;
    margin: 0px 50px 10px;
}

.footer h2 span {
    color: #fff;
    font-weight: 300;
}

.footer_content {
    color: #fff;
}

img.clouds_transitions.cloud1_footer {
    position: absolute !important;
    bottom: 30%;
    left: 15%;
    -webkit-animation: sway 6s ease-in-out infinite;
    animation: sway 6s ease-in-out infinite;
}

img.clouds_transitions.cloud2_footer {
    position: absolute !important;
    top: 5%;
    bottom: 0;
    left: 20%;
    -webkit-animation: sway 8s ease-in-out infinite;
    animation: sway 8s ease-in-out infinite;
}

img.clouds_transitions.cloud3_footer {
    position: absolute !important;
    top: 55%;
    bottom: 0;
    right: 20%;
    -webkit-animation: sway 6s ease-in-out infinite;
    animation: sway 6s ease-in-out infinite;
}

.footer .col-xs-12:first-child {
    /*     background: red; */
    padding-top: 50px;
}

@keyframes sway {
    0% {
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }

    50% {
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }

    100% {
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }
}


/*==============================
  Experience
==============================*/

.experience {
    padding-top: 415px;
    background: url("../img/experience/pattern--mobile.png") repeat top center #fff;
}

.experience__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.experience__wrap:before {
    content: '';
    position: absolute;
    display: block;
    height: 450px;
    left: -15px;
    right: -15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-image: -moz-linear-gradient(180deg, #f2f3f5 0%, #e5effa 35%, #d8eafe 100%);
    background-image: -webkit-linear-gradient(180deg, #f2f3f5 0%, #e5effa 35%, #d8eafe 100%);
    background-image: -ms-linear-gradient(180deg, #f2f3f5 0%, #e5effa 35%, #d8eafe 100%);
    background-image: linear-gradient(180deg, #f2f3f5 0%, #e5effa 35%, #d8eafe 100%);
    z-index: 1;
}

.experience__box {
    padding: 25px 0 35px;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-image: -moz-linear-gradient(180deg, #3d414d 0%, #232331 36%, #080514 100%);
    background-image: -webkit-linear-gradient(180deg, #3d414d 0%, #232331 36%, #080514 100%);
    background-image: -ms-linear-gradient(180deg, #3d414d 0%, #232331 36%, #080514 100%);
    background-image: linear-gradient(180deg, #3d414d 0%, #232331 36%, #080514 100%);
    position: relative;
    z-index: 2;
    max-width: 380px;
}

.experience__box img {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.experience__box h3 {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    display: block;
    text-align: center;
    padding: 0 30px;
    margin: 0;
}

.experience__box a {
    width: 240px;
    height: 50px;
    line-height: 50px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
    background-color: #1f8dc6;
    text-align: center;
    margin-top: 20px;
}

@media (min-width: 480px) {
    .experience__wrap:before {
        left: -30px;
        right: -30px;
    }
}

@media (min-width: 768px) {
    .experience {
        padding-top: 65px;
        background: url(../img/experience/pattern.png) repeat top center #fff;
    }

    .experience__wrap:before {
        left: 120px;
        right: 120px;
    }
}

@media (min-width: 992px) {
    .experience__wrap {
        flex-direction: row;
    }

    .experience__wrap:before {
        height: 410px;
        left: 20px;
        right: 20px;
        top: 110px;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    .experience__box {
        margin: 30px 40px 60px;
        max-width: 360px;
        width: 360px;
    }
}

@media (min-width: 1200px) {
    .experience {
        padding-top: 100px;
    }

    .experience__box {
        margin: 35px 60px 60px;
    }

    .experience__wrap:before {
        left: 40px;
        right: 40px;
    }
}

.qudos_expbutton {
    outline: none;
    border: none;
    /* padding: 20px; */
    display: block;
    margin: 50px auto 0px;
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    position: relative;
    border-radius: 10px;
    background: #1f8dc6;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.effect {
    overflow: hidden;
}

.effect span {
    color: #fff;
    display: inline-block;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}


.effect .icon {
    position: absolute;
    left: -60px;
    /* top: -20px; */
    color: #fff;
    padding: 25px;
    background-color: #1f8dc6;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    background: url('../img/qudos_driver.png') center center;
    background-size: 55px;
    background-repeat: no-repeat;
}

.effect:hover .icon {
    left: 0px;
}

.effect .icon2 {
    position: absolute;
    left: -60px;
    /* top: -20px; */
    color: #fff;
    padding: 25px;
    background-color: #1f8dc6;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    background: url('../img/qudos_rider.png') center center;
    background-size: 55px;
    background-repeat: no-repeat;
}

.effect:hover .icon2 {
    left: 0px;
}

.effect:hover span {
    color: #fff;
    margin-left: 50px;
}

section#experience {
    padding: 0px !important;
}

.modal-content {
    background: transparent;
}


.modal-header {
    border-bottom: none !important;

}