@media only screen and (max-width: 320px) {

    .img_rider {
        width: 85%;
    }

    .svg-container {
        margin-top: 5em;
        width: 100%;
        position: absolute;
    }

    header.header {
        background: #fff;

    }

    h1 {
        font-size: 36px;
        font-weight: bold;
    }

    h2 {
        font-size: 34px;
        font-weight: 600;
    }

    h3 {
        font-size: 16px;
        font-weight: 400 !important;
    }

    h4 {
        font-size: 14px;

    }

    p {
        font-size: 12px;
    }

    .header {
        background-color: white;
    }

    .masthead-wrap {
        background-position-x: -110px;
        background-position-y: -240px;
    }

    .masthead {
        height: 100vh;
        min-height: 500px;
        background-size: 700px;
        background-repeat: no-repeat;
        background-position-y: 450px;
        background-position-x: 30%;
        padding: 200px 0;
    }

    .header__content:before {
        content: none;
    }

    .section_one,
    .section_two,
    .section_three {
        /* background-image: none; */
    }

    section {
        padding: 100px 15px !important;
    }

    .top__part-image {
        padding-bottom: 50px;
    }

    .bottom__part-image {
        padding: 50px 0px;
    }

    img.clouds_transitions.cloud1_footer {

        bottom: 30%;
        left: 15%;
        width: 12%;

    }

    img.clouds_transitions.cloud2_footer {

        top: 5%;
        bottom: 0;
        left: 20%;
        width: 15%;

    }

    img.clouds_transitions.cloud3_footer {

        top: 55%;
        bottom: 0;
        right: 20%;
        width: 16%;

    }

    .section_one .col-xs-12:last-child {
        padding-top: 3rem
    }

}



@media only screen and (max-width: 375px) {

    .svg-container {
        margin-top: 5em;
        width: 100%;
        position: absolute;
    }

    header.header {
        background: #fff;

    }

    h1 {
        font-size: 36px;
        font-weight: bold;
    }

    h2 {
        font-size: 34px;
        font-weight: 600;
    }

    h3 {
        font-size: 16px;
        font-weight: 400 !important;
    }

    h4 {
        font-size: 14px;

    }

    p {
        font-size: 12px;
    }

    .header {
        background-color: white;
    }

    .masthead-wrap {
        background-position-x: -110px;
        background-position-y: -240px;
    }

    .masthead {
        height: 100vh;
        min-height: 500px;
        background-size: 700px;
        background-repeat: no-repeat;
        background-position-y: 450px;
        background-position-x: 30%;
        padding: 200px 0;
    }

    .header__content:before {
        content: none;
    }

    .section_one,
    .section_two,
    .section_three {
        /* background-image: none; */
    }

    section {
        padding: 100px 15px !important;
    }

    .top__part-image {
        padding-bottom: 50px;
    }

    .bottom__part-image {
        padding: 50px 0px;
    }

    .section_one .col-xs-12:last-child {
        padding-top: 3rem
    }


    img.clouds_transitions.cloud1_footer {

        bottom: 30%;
        left: 15%;
        width: 12%;

    }

    img.clouds_transitions.cloud2_footer {

        top: 5%;
        bottom: 0;
        left: 20%;
        width: 15%;

    }

    img.clouds_transitions.cloud3_footer {

        top: 55%;
        bottom: 0;
        right: 20%;
        width: 16%;

    }

    .section_one .col-xs-12:last-child {
        padding-top: 3rem
    }


}

@media only screen and (max-width: 414px) {
    .qudos_btn {
        display: block;
    }
}

@media only screen and (min-width: 320px) {

    h1 {
        font-size: 36px;
        font-weight: bold;
    }

    h2 {
        font-size: 34px;
        font-weight: 600;
    }

    h3 {
        font-size: 14px;
        font-weight: 400 !important;
    }

    h4 {
        font-size: 14px;

    }

    p {
        font-size: 12px;
    }



    .masthead-wrap {
        background-position-x: -110px;
        background-position-y: -250px;
    }

    .masthead {
        height: 110vh;
        min-height: 500px;
        background-size: 700px;
        background-repeat: no-repeat;
        background-position-y: 450px;
        background-position-x: 30%;
        padding: 200px 0;
    }

    .header__content:before {
        content: none;
    }

    .section_one,
    .section_two,
    .section_three {
        /* background-image: none; */
    }

    section {
        padding: 100px 15px !important;
    }

    .top__part-image {
        padding-bottom: 50px;
    }

    .bottom__part-image {
        padding: 50px 0px;
    }

    img.clouds_transitions.cloud1_footer {
        bottom: 25%;
        left: 12%;
        width: 10%;
    }

    img.clouds_transitions.cloud2_footer {
        top: 28%;
        bottom: 0;
        left: 20%;
        width: 15%;
    }

    img.clouds_transitions.cloud3_footer {
        top: 50%;
        bottom: 0;
        right: 35%;
        width: 16%;
    }

    .section_one .col-xs-12:last-child {
        padding-top: 3rem
    }

    .footer_content {
        font-size: 1rem;
        margin-top: -2rem;
    }

}

@media only screen and (min-width: 375px) {
    .img_rider {
        width: 85%;
    }

    .svg-container {
        margin-top: 5em;
        width: 100%;
        position: absolute;
    }

    h1 {
        font-size: 36px;
        font-weight: bold;
    }

    h2 {
        font-size: 34px;
        font-weight: 600;
    }

    h3 {
        font-size: 16px;
        font-weight: 400 !important;
    }

    h4 {
        font-size: 14px;

    }

    p {
        font-size: 12px;
    }


    header.header {
        /* padding-bottom: 30px; */
        background: #fff;
        /* border-bottom-left-radius: 0% 20%; */
        /* border-bottom-right-radius: 71% 100%; */
    }

    .masthead-wrap {
        background-position-x: -110px;
        background-position-y: -260px;
    }

    .masthead {
        height: 120vh;
        min-height: 500px;
        background-size: 700px;
        background-repeat: no-repeat;
        background-position-y: 515px;
        background-position-x: 30%;
        padding: 200px 0;
    }

    .header__content:before {
        content: none;
    }

    .section_one,
    .section_two,
    .section_three {
        /* background-image: none; */
    }

    section {
        padding: 100px 15px !important;
    }

    .top__part-image {
        padding-bottom: 50px;
    }

    .bottom__part-image {
        padding: 50px 0px;
    }

    .section_one .col-xs-12:last-child {
        padding-top: 3rem
    }


    .footer_content {
        font-size: 1rem;
        margin-top: -2rem;
    }

    h2.section-one__title:before,
    h2.section-two__title:before,
    h2.section-three__title:before {
        bottom: 140px;
    }

    h2.banner__title:before {}

}

@media only screen and (min-width: 411px) {
    .img_rider {
        width: 85%;
    }

    .svg-container {
        margin-top: 5em;
        width: 100%;
        position: absolute;
    }

    h1 {
        font-size: 36px;
        font-weight: bold;
    }

    h2 {
        font-size: 34px;
        font-weight: 600;
    }

    h3 {
        font-size: 16px;
        font-weight: 400 !important;
    }

    h4 {
        font-size: 14px;

    }

    p {
        font-size: 12px;
    }


    header.header {
        /* padding-bottom: 30px; */
        background: #fff;
        /* border-bottom-left-radius: 0% 20%; */
        /* border-bottom-right-radius: 71% 100%; */
    }

    .masthead-wrap {
        background-position-x: -110px;
        background-position-y: -240px;
    }

    .masthead {
        height: 105vh;
        min-height: 500px;
        background-size: 700px;
        background-repeat: no-repeat;
        background-position-y: 450px;
        background-position-x: 30%;
        padding: 200px 0;
    }

    .header__content:before {
        content: none;
    }

    .section_one,
    .section_two,
    .section_three {
        /* background-image: none; */
    }

    section {
        padding: 100px 15px !important;
    }

    .top__part-image {
        padding-bottom: 50px;
    }

    .bottom__part-image {
        padding: 50px 0px;
    }

    .section_one .col-xs-12:last-child {
        padding-top: 3rem
    }


    .footer_content {
        font-size: 1rem;
        margin-top: -2rem;
    }
}

@media only screen and (max-width: 768px) {

    /* FOOTER */
    .footer {
        padding: 80px 0 0px;
    }
}

@media only screen and (min-width: 768px) {

    .img_rider {
        width: 100%;
    }

    .svg-container {
        margin-top: 3.5em;
        width: 100%;
        position: absolute;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 36px;

    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 16px;

    }

    p {
        font-size: 14px;
    }


    header.header {
        /* position: relative; */
        /* padding-bottom: 30px; */
        background: #fff;
        /* border-bottom-left-radius: 50% 35%; */
        /* border-bottom-right-radius: 38% 60%; */
    }

    .masthead-wrap {
        background-position-x: 0px;
        background-position-y: -250px;
    }

    .masthead {
        height: 100vh;
        min-height: 500px;
        background-size: 700px;
        background-repeat: no-repeat;
        background-position-y: 200px;
        background-position-x: 500%;
    }

    h2.section-one__title:before,
    h2.section-two__title:before,
    h2.section-three__title:before {
        bottom: 180px;
    }

    h2.banner__title:before {
        bottom: 120px;
    }

}

@media only screen and (min-width: 992px) {




    .masthead-wrap {
        background-position-x: 0px;
        background-position-y: -200px;
    }

    .masthead {
        height: 100vh;
        min-height: 500px;
        background-size: 700px;
        background-repeat: no-repeat;
        background-position-y: 200px;
        background-position-x: 150%;
    }



}

@media only screen and (min-width: 1200px) {

    .img_rider {
        width: 75%;
    }

    .footer_content {
        font-size: 22px;
    }

    .svg-container {
        margin-top: 1em;
        width: 100%;
        position: absolute;
    }

    h1 {
        font-size: 44px;
        font-weight: bold;
    }

    h2 {
        font-size: 36px;
        font-weight: bold;
    }

    h3 {
        font-size: 22px;
        font-weight: 500;
        /* padding-right: 2rem; */
    }

    h4 {
        font-size: 18px;
        font-weight: 400;
    }

    p {
        font-size: 16px;
    }


    .masthead-wrap {
        background-position-x: 0px;
        background-position-y: -175px;
    }

    .masthead {
        height: 100vh;
        min-height: 500px;
        background-size: auto;
        background-repeat: no-repeat;
        background-position-y: 200px;
        background-position-x: 165%;
    }


}

@media only screen and (min-width: 1920px) {

    .svg-container {
        margin-top: -1em;
        width: 100%;
        position: absolute;
    }

    /* BANNER */
    .masthead-wrap {
        background: #fafafa url("../img/banner_bg_top.png") no-repeat top left;
        background-position-x: 0px;
        background-position-y: 0px;
    }

    .masthead {
        height: 100vh;
        min-height: 500px;
        background: url("../img/banner_circlebg.png") no-repeat bottom right;
        background-size: auto;
        background-repeat: no-repeat;
        background-position-y: -135%;
        padding: 0px;
    }

    /* SECTION ONE */
    .section_one {
        background: #fff;
    }

    /* SECTION TWO */
    .section_two {
        background: rgb(160, 222, 255);
        /* Old browsers */
        background: -moz-linear-gradient(45deg, rgba(160, 222, 255, 1) 0%, rgba(228, 242, 240, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, rgba(160, 222, 255, 1) 0%, rgba(228, 242, 240, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, rgba(160, 222, 255, 1) 0%, rgba(228, 242, 240, 1) 100%);

    }

    /* SECTION THREE */
    .section_three {
        background: #fff;
    }
}