/*==============================
  Common styles
==============================*/
*{
  margin:0;
  padding:0;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}
button {
  padding: 0;
  border: none;
  background-color: transparent;
}
button:focus {
  outline: none;
}
a {
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}
input,
textarea,
select {
  padding: 0;
  margin: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
::-moz-selection {
  background: #fff;
  color: #000;
  text-shadow: none;
}
::selection {
  background: #fff;
  color: #000;
  text-shadow: none;
}
::-webkit-input-placeholder {
  color: #dbdbdb;
  opacity: 1;
}
::-moz-placeholder {
  color: #dbdbdb;
  opacity: 1;
}
:-moz-placeholder {
  color: #dbdbdb;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #dbdbdb;
  opacity: 1;
}
h1{
  font-size: 28px;
  font-weight: 500;
}
h2{
  font-size: 28px;
  font-weight: 500;
}
h3{
  font-size: 20px;
  font-weight: 500;
}
h4{
  font-size: 18px;
  font-weight: 400;
}
p{
  font-size: 16px;
}

.bannner_img_resize{
  width: 135% !important;
}
.qudos-divider{
  margin-top: 15px;
  margin-bottom: 15px;
  height: 3px;
  width:100px;
  border-radius:1em;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, #83B9DA), color-stop(50%, #83B9DA), color-stop(59%, #1F8EC7));
  background-image: -o-linear-gradient(left, #83B9DA 10%, #83B9DA 50%, #1F8EC7 59%);
  background-image: linear-gradient(90deg, #83B9DA 10%, #83B9DA 50%, #1F8EC7 59%);
}
.copy{
  font-size:20px;

}
/*==============================
  Header
==============================*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  /* background: #fff; */
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  position: relative;
}
.header__content:before {
  content: '';
  position: absolute;
  display: block;
  top: 100%;
  left: 50%;
  width: 100%;
  max-width: 330px;
  height: 2px;
  background-color: #fff;
  opacity: 0.5;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
}
.header__logo {
  position: relative;
  height: 65px;
  display: block;
  cursor: pointer;
}
.header__logo object {
  width: 120px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__logo object:last-child {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.header__nav {
  position: fixed;
  top: 0;
  bottom: 0;
  width: -webkit-fill-available;
  background-color: #fff;
  right: 0;
  -webkit-transform: translate3d(700, 0, 0);
  transform: translate3d(700px, 0, 0);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}
.header__nav--active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.header__nav a {
  font-size: 14px;
  font-weight: 500;
  color: #0f1423;
  margin-bottom: 20px;
}
.header__nav a:last-child {
  margin-bottom: 0;
}
.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-top: 2px solid #000;
  padding: 20px 10px 0;
  margin-top: 20px;
}
.header__social a {
  margin: 0 5px;
  font-size: 18px;
}
.header__btn {
  width: 140px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#254870), color-stop(36%, #142f51), color-stop(99%, #021532));
  background-image: -o-linear-gradient(left, #254870 0%, #142f51 36%, #021532 99%);
  background-image: linear-gradient(90deg, #254870 0%, #142f51 36%, #021532 99%);
  margin-right: 60px;
}
.header__btn:hover {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#021532), color-stop(36%, #142f51), color-stop(99%, #254870));
  background-image: -o-linear-gradient(left, #021532 0%, #142f51 36%, #254870  99%);
  background-image: linear-gradient(90deg, #021532 0%, #142f51 36%, #254870  99%);
}
.header__menu {
  position: absolute;
  width: 29px;
  height: 18px;
  display: block;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}
.header__menu span {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  background-color: #000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}
.header__menu span:first-child {
  top: 0;
}
.header__menu span:nth-child(2) {
  top: 50%;
  margin-top: -1px;
}
.header__menu span:last-child {
  top: 100%;
  margin-top: -2px;
}
.header__menu--active span {
  background-color: #0f1423!important;
}
.header__menu--active span:nth-child(2) {
  opacity: 0;
}
.header__menu--active span:first-child {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  top: 50%;
  margin-top: -2px;
}
.header__menu--active span:last-child {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  top: 50%;
}
.header--active,
.header--white {
  background-image: -webkit-gradient(linear, left top, right top, from(#171f2d), to(#03030a));
  background-image: -o-linear-gradient(left, #171f2d 0%, #03030a 100%);
  background-image: linear-gradient(90deg, #171f2d 0%, #03030a 100%);
  -webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.08);
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.08);
}
.header--active .header__menu span,
.header--white .header__menu span {
  /*background-color: #0f1423;*/
  /*add kk*/
  background-color: #fff;
}
.header--active .header__content:before,
.header--white .header__content:before {
  display: none;
}
.header--active .header__logo object:last-child,
.header--white .header__logo object:last-child {
  opacity: 0;
}




@media (min-width: 480px) {
  .header .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 768px) {
  .header .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .header__content:before {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .header__btn {
    margin: 0;
    width: 140px;
  }
  /* .header__logo {
    height: 64px;
    margin-left: -30px;
  } */
  .header__logo object {
    width: 160px;
  }
  .header__nav {
    position: absolute;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    padding: 0;
    right: 190px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    background-color: transparent;
  }
  .header__nav a {
    margin: 0 0 0 55px;
/*    color: #fff!important;*/
  }
  .header__nav a:hover {
    color: #000;
  }
  .header__nav a.desk {
    display: none;
  }
  .header__social {
    display: none;
  }
  .header--active .header__nav a,
  .header--white .header__nav a {
    /*color: #0f1423;*/
    /*new add kk*/
    color: #fff !important;
    /*add end*/
  }
  .header--active .header__nav a:hover,
  .header--white .header__nav a:hover {
    color: #0f1423;
  }
  .header--white .header__nav {
    right: 0;
  }
}
@media (min-width: 1200px) {
  /* .header__content {
    //padding: 0 65px;
  } */
  .header__nav {
    right: 190px;
  }
  /* .header--white .header__content {
    //padding: 0 95px;
  } */
  .header--white .header__nav {
    right: 95px;
  }
}

.header--active, .header--white
{
  background-color: #fff; 
  background-image: none;
}
.header--active .header__nav a, .header--white .header__nav a{
  color:#000!important;
}
.header--active .header__menu span, .header--white .header__menu span{
  background-color: #000!important;
}



/*==============================
  Footer
==============================*/
.footer {
  display: block;
  font-size: 15px;
  letter-spacing: 0.4px;
  color: #fff;
  text-align: center;
  background: #0d111c;
}


.footer h2 {
    border: 1px solid #b3b4b4;
    border-radius: 50px;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 22px;
    padding: 5px;
}

.footer h2 a {
    color: #b3b4b4;
}


@media (min-width: 1200px) {
  .footer_content {
    font-size: 34px;
  }
}

@media (min-width: 768px) {
  .footer {
    background-size: auto auto;
    padding: 80px 0 0px;
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .footer_content {
    font-size: 24px;
    line-height: 1.25em;
  }
}



/** Additional Fixes **/

.banner .container {
    padding: 65px 0px 0px !important;
}

img.planes_transitions.plane2 {
    width: 13%;
}
 