/* CUSTOM STYLES */

body{
  overflow-x: hidden !important;
}

h1.banner__title {
  color: #228ec8 !important;
  font-weight: bold;
}

h2.banner__title {
  font-weight: bold;
}

h3.banner__text {
  color: #676767;
  font-weight: 300;
}


ul.footer__social li a {
    color: #333333;
    font-size: 24px;
}

.section_one,
.section_two,
.section_three { padding:100px 0}

.section-one__text,
.section-two__text,
.section-three__text {
    font-weight:100;
}

.bg-wrap {
  display: block;
  position: relative;
  background-image: -o-linear-gradient(320deg, #171f2d 0%, #0d111c 34%, #03030a 100%);
  background-image: linear-gradient(130deg, #171f2d 0%, #0d111c 34%, #03030a 100%);
  z-index: 1;
}

.banner_divider{
  margin-top: 20px;
  margin-bottom: 20px;
  height: 5px;
  width:100px;
  border-radius:1em;
  background-image: -o-linear-gradient(left, #83B9DA 10%, #83B9DA 50%, #1F8EC7 59%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, #83B9DA), color-stop(50%, #83B9DA), color-stop(59%, #1F8EC7));
  background-image: linear-gradient(90deg, #83B9DA 10%, #83B9DA 50%, #1F8EC7 59%);
}

.qudos_btn {
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
    text-align: center;
    background-image: -o-linear-gradient(left, #254870 0%, #142f51 36%, #021532 99%);
    background-image: -webkit-gradient(linear, left top, right top, from(#254870), color-stop(36%, #142f51), color-stop(99%, #021532));
    background-image: linear-gradient(90deg, #254870 0%, #142f51 36%, #021532 99%);
    padding: 15px 75px;
    -webkit-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}
.qudos_btn:hover {
    color: #fff;
    background: #021532;
    background: -o-linear-gradient(left, #021532 0%, #254870 100%);
    background: -webkit-gradient(linear, left top, right top, from(#021532), to(#254870));
    background: linear-gradient(to right, #021532 0%, #254870 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#021532', endColorstr='#254870', GradientType=1);
}
.qudos_btn {
    margin-top: 20px;
    -webkit-transition: 1.3s;
    -o-transition: 1.3s;
    transition: 1.3s;
}

.btn_other_blue {
    background: #228ec8 !important;
}


/** HEADER **/

header.header {
  /* position: relative; */
  padding-bottom: 70px;
  background:#fff;
  border-bottom-left-radius: 30% 25%;
  border-bottom-right-radius: 45% 100%;
  -webkit-box-shadow: 10px 10px 10px rgba(247, 245, 245, 0.32);
          box-shadow: 10px 10px 10px rgba(247, 245, 245, 0.32);
}


.header--active{
  padding-bottom: 0px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  -webkit-box-shadow: none  !important;
          box-shadow: none  !important;
}

/* BANNER */
.masthead-wrap {
  background: #fafafa url("../img/banner_bg_top.png") no-repeat top left;
  background-position-x: 0px;
  background-position-y: 0px;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background: url("../img/banner_circlebg.png") no-repeat bottom right;
  background-size: auto;
  background-repeat: no-repeat;
  background-position-y: 200px;
}



/* SECTION ONE */
/* SECTION THREE */

.section_one, .section_three
{
    background: #fff;
}


/* SECTION TWO */
.section_two {
  background: rgb(160,222,255); /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(45deg,  rgba(160,222,255,1) 0%,rgba(228,242,240,1) 100%);
  background: linear-gradient(45deg,  rgba(160,222,255,1) 0%,rgba(228,242,240,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0deff', endColorstr='#e4f2f0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


.col-xs-6 {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}


/* FOOTER */
.footer {
    background: #0d111c;
    padding: 50px 0 0px;
    font-size: 22px;
}
.footer h2 {
    color: #a8a9aa !important;
    border: 1px solid #a8a9aa;
    border-radius:20px;
    font-size: 22px;
    margin: 0px 50px 10px;
}
.footer h2 span {
    color: #fff;
    font-weight: 300;
}
.footer_content {
    color: #fff;
}

img.clouds_transitions.cloud1_footer {
    position: absolute !important;
    bottom: 30%;
    left: 15%;
    -webkit-animation: sway 6s ease-in-out infinite;
            animation: sway 6s ease-in-out infinite;
}
img.clouds_transitions.cloud2_footer {
    position: absolute !important;
    top: 22%;
    bottom: 0;
    left: 20%;
    -webkit-animation: sway 8s ease-in-out infinite;
            animation: sway 8s ease-in-out infinite;
}
img.clouds_transitions.cloud3_footer {
    position: absolute !important;
    top: 65%;
    bottom: 0;
    right: 20%;
    -webkit-animation: sway 6s ease-in-out infinite;
            animation: sway 6s ease-in-out infinite;
}

@keyframes sway {
	0% {
		-webkit-transform: translateX(-10%);
		        transform: translateX(-10%);
	}

	50% {
		-webkit-transform: translateX(10%);
		        transform: translateX(10%);
	}

	100% {
		-webkit-transform: translateX(-10%);
		        transform: translateX(-10%);
	}
}
