.add-qudosfave {

    // Header
    .header {
        border-bottom-right-radius: 32px;

        &--active {
            border-bottom-right-radius: 0;
        }

        &__btn {
            background-image: -webkit-gradient(linear, left top, right top, color-stop(4%, #083c58), color-stop(85%, #1b2430));
            background-image: -o-linear-gradient(left, #083c58 4%, #1b2430 85%);
            background-image: linear-gradient(90deg, #083c58 4%, #1b2430 85%);

            span {
                background-color: black;
            }
        }

        &__menu {
            span {
                background-color: black;
            }
        }

        &__main {
            margin-top: 8.8rem;
            position: relative;
        }
    }

    // Platform button
    .platform__btn {
        background-color: transparent;
        background-image: -webkit-gradient(linear, left top, right top, color-stop(4%, #083c58), color-stop(85%, #1b2430));
        background-image: -o-linear-gradient(left, #083c58 4%, #1b2430 85%);
        background-image: linear-gradient(90deg, #083c58 4%, #1b2430 85%);
    }

    // Step 1
    .step-1 {
        overflow: hidden;

        div.col-12:first-child {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        div.col-12:last-child {
            span {
                width: 100%;
                height: 100%;
                position: relative;
                display: inline-block;
                top: 1rem;
                right: 20%;

                img {                    
                    width: 100%;
                }

                img:first-child {
                    z-index: 3;
                    position: absolute;
                }

                img:nth-child(2) {
                    z-index: 1;
                    top: 0;
                    right: -10rem;
                    width: 50%;
                    position: absolute;
                }

                img:last-child {
                    position: relative;
                    z-index: 2;
                    margin-right: 15rem;
                }
            }
        }
    }

    // Step 2
    .step-2 {
        padding: 15rem 0;

        ul {
            li {
                margin-bottom: 3rem;

                &:not(:last-child) {
                    margin-bottom: .5rem;
                }
            }
        }

        &__image {
            display: block;
            width: 100%;
            height: 35rem;
            margin-bottom: 0;
            background: url("../img/add-qudosfave/step-2-bg--mobile.jpg") no-repeat center center/cover;
        }
    }

    .step-3 {
        overflow: hidden;
        padding: 20rem 0;

        div.col-12:first-child {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        div.col-12:last-child {
            span {
                width: 100%;
                height: 100%;
                position: relative;
                display: inline-block;
                top: 1rem;

                img {
                    position: absolute;
                    width: 75%;
                    top: 0;
                    left: 20%;
                }

                img:first-child {
                    top: -10rem;
                    z-index: 5;
                }

                img:nth-child(2) {
                    top: -5rem;
                    z-index: 3;
                }

                img:last-child {
                    z-index: 1;
                }
            }
        }
    }

    // Content
    &__main {
        .home {
            background: url(../img/add-qudosfave/AdobeStock_178433489.jpeg) no-repeat;
            background-position: center center;
            background-size: cover;
            background-attachment: fixed;
            // height: 50rem;
        }
    }
}


// Media queries
@media (min-width: 768px) {
    .add-qudosfave {
        .header {
            &__nav {
                a {
                    color: black;
                }
            }
        }

        .section__title {
            font-size: 3.15rem;
        }

        .home__content {
            right: 0;
            left: auto;
        }

        .step-2 {
            padding-top: 0;
        }

        .step-3 {
            padding: 15rem 0;

            div.col-12:last-child {
                span {
                    top: 2rem;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .add-qudosfave {
        .step-2 {
            padding: 6.5rem 0;
            background-image: url("../img/add-qudosfave/step-2-bg.jpg");
            background-repeat: no-repeat;
            background-size: auto;
            background-attachment: fixed;

            &__image {
                display: none;
            }
        }
    }
}

@media (min-width: 1200px) {
    .add-qudosfave {
        .step-2 {
            padding: 10rem 0;
            background-position: center left -20rem;
        }
    }
}

@media (min-width: 1600px) {
    .add-qudosfave {
        .step-2 {
            background-position: center left -10rem;
        }
    }
}

@media (min-width: 1800px) {
    .add-qudosfave {
        .step-2 {
            background-position: center center;
        }
    }
}

@media (max-width: 1199px) {
    .add-qudosfave {
        .step-2 {
            background-position-x: -35rem;
        }
    }
}

@media (max-width: 991px) {
    .add-qudosfave {
        .step-2 {
            padding-bottom: 5rem;
            background-color: $qudos-prime-bg;
        }
    }
}

@media (max-width: 800px) {
    .add-qudosfave {
        .step-3 {
            div.col-12:last-child {
                span {
                    top: 10rem;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .add-qudosfave {
        .step-1 {
            margin-top: 30rem;
        }

        .step-2 {
            padding: 0;
        }
    }
}

@media (max-width: 600px) {
    .add-qudosfave {
        .step-3 {
            padding-top: 5rem;
            padding-bottom: 35rem;
        }
    }
}

@media (max-width: 480px) {
    .add-qudosfave {
        .home {
            background: url(../img/add-qudosfave/AdobeStock_178433489--mobile.jpg);
            background-repeat: no-repeat;
            background-position: center top;
            background-size: 116%;
            background-attachment: fixed;
            height: 50rem;
        }

        .step-1 {
            div.col-12:last-child {
                span {
                    top: 4rem;
                    right: 35%;
                }
            }
        }

        .step-2 {
            &__image {
                margin-bottom: 0;
            }
        }

        .step-3 {
            padding: 5rem 0;

            div.col-12:first-child {
                margin-bottom: 10rem;
            }

            div.col-12:last-child {
                margin-bottom: 22rem;

                span {
                    top: 2rem;
                    right: 2rem;
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .add-qudosfave {
        .step-1 {
            margin-top: 35rem;
        }
    }
}