.fare {

    // Header
    .header {
        &__nav {
            a {
                color: black;
            }
        }

        &__menu {
            span {
                background-color: black;
            }
        }

        &__btn {
            background-image: linear-gradient(90deg, #083c58 4%, #1b2430 85%);
        }
    }

    // Lightbox
    .lightbox {
        top: 50% !important;
        transform: translateY(-50%) !important;
        position: fixed;
    }

    // Content
    .main {
        margin-top: 8.8rem;
        padding-bottom: 10rem;

        .container {
            margin-top: 5vh;
            background-color: white;
            // min-width: 980px;
        }

        .section {
            &__title {
                text-align: center;

                &::before {
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            &__text {
                text-align: center;
            }
        }
    }

    .miles-table {
        font-size: 1.4rem;
        margin: 0 auto;
        // min-width: 930px;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* IE 10+ */

        .table {
            min-width: 980px;
        }

        img {
            width: 60%;
        }

        thead {
            background-color: $qudos-bg--dark;

            tr {
                th {
                    vertical-align: middle;
                    color: white;
                }

                th {
                    width: 10%;
                }

                th:first-child {
                    width: 5%;
                }
            }
        }

        tbody {
            tr {

                td,
                th {
                    vertical-align: middle
                }

                td {
                    width: 10%;
                }

                td:first-child {
                    width: 5%;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .miles-table {
        &::-webkit-scrollbar {
            /* WebKit */
            width: 0;
            height: 0;
        }
    }
}