.referral-program {

    strong {
        font-weight: 600;
        color: black;
    }

    .svg-gradient-circle--1 {
        position: relative;
        top: -4rem;
        right: -10rem;
    }

    .header {
        background-color: white;
        border-bottom-right-radius: 32px;

        &--active {
            border-bottom-right-radius: 0;
        }

        &__btn {
            background-image: -webkit-gradient(linear, left top, right top, color-stop(4%, #083c58), color-stop(85%, #1b2430));
            background-image: -o-linear-gradient(left, #083c58 4%, #1b2430 85%);
            background-image: linear-gradient(90deg, #083c58 4%, #1b2430 85%);
        }

        &__menu {
            span {
                background-color: black;
            }
        }
    }

    .platform__btn {
        background-color: transparent;
        background-image: -webkit-gradient(linear, left top, right top, color-stop(4%, #083c58), color-stop(85%, #1b2430));
        background-image: -o-linear-gradient(left, #083c58 4%, #1b2430 85%);
        background-image: linear-gradient(90deg, #083c58 4%, #1b2430 85%);
    }

    &__section--1 {
        overflow: hidden;
        background-color: $qudos-prime-bg;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-image: url(../img/ellipse-cut.png);
        background-size: 18%;
        background-repeat: no-repeat;

        img,
        i {
            position: absolute;
        }

        .header__prime {
            width: 36rem;
        }

        div.col-sm-8 {
            img.img-fluid:first-child {
                width: 60%;
                transform: translateX(-20%);
                left: 50%;
                top: 0;
                z-index: 2;
                // image-rendering: high-quality;
            }

            .far {
                top: -5%;
                left: 40%;
                font-size: 40rem;
                color: white;
                filter: drop-shadow(0 1rem 0 $qudos-blue);
                -webkit-filter: drop-shadow(0 1rem 0 $qudos-blue);
            }
        }
    }

    &__section--2 {
        overflow: hidden;
        padding: 10rem 0;
        position: relative;
        height: 150vh;
        z-index: 1;

        &>svg {
            position: absolute;
            z-index: 1;
            top: -115%;
            left: 0;
            width: 100%;
        }

        .subheader__prime {
            width: 50rem;
            text-align: left;
        }

        .col-sm-6 {
            z-index: 2;
        }

        .col-sm-6:first-child {
            img.img-fluid:first-child {
                width: 65%;
                z-index: 2;
            }

            img.img-fluid:last-child {
                width: 45%;
                z-index: 2;
                position: absolute;
                top: 0;
                left: 23%;
                animation: float 6s ease-in-out infinite;
            }
        }

        .col-sm-6:nth-child(3) {
            .subheader__prime:first-child {
                margin-bottom: 2.5rem;
            }
        }

        .col-sm-6:last-child {
            svg {
                z-index: 2;
                margin-left: auto;
            }

            img.img-fluid:first-child {
                z-index: 3;
                position: absolute;
                top: 10%;
                left: 42%;
                width: 40%;
                filter: drop-shadow(2rem 1.5rem .5rem rgba(black, .1));
                -webkit-filter: drop-shadow(2rem 1.5rem .5rem rgba(black, .1));
            }

            img.img-fluid:nth-child(2) {
                width: 30%;
                z-index: 4;
                position: absolute;
                top: 15%;
                left: 30%;
                filter: drop-shadow(0 1rem .5rem rgba(black, .1));
                -webkit-filter: drop-shadow(0 1rem .5rem rgba(black, .1));
            }
        }
    }

    &__section--3 {
        margin-top: -50rem;
        padding: 15rem 0;
        background-color: $qudos-prime-bg;
        position: relative;
        height: 120vh;

        .col-sm-6:first-child {
            svg {
                margin-right: auto;
                z-index: 1;
            }

            img.img-fluid:first-child {
                width: 100%;
                position: absolute;
                top: 5%;
                left: 5%;
                z-index: 2;
                filter: drop-shadow(2rem 1.5rem .5rem rgba(0, 0, 0, .1));
                -webkit-filter: drop-shadow(2rem 1.5rem .5rem rgba(0, 0, 0, .1));
            }

            img.img-fluid:nth-child(2) {
                width: 40%;
                position: absolute;
                top: 23%;
                right: .87%;
                z-index: 3;
                filter: drop-shadow(0 1rem .5rem rgba(black, .1));
                -webkit-filter: drop-shadow(0 1rem .5rem rgba(black, .1));
            }
        }

        .col-sm-6:nth-child(2) {
            .subheader__prime {
                z-index: 2;
                text-align: left;
            }
        }

        .col-sm-6:nth-child(3) {
            margin-top: 10rem;

            .subheader__prime {
                text-align: left;
            }
        }

        .col-sm-6:last-child {
            margin-top: 10rem;

            svg {
                margin-left: auto;
            }

            img.img-fluid:first-child {
                position: absolute;
                width: 40%;
                top: 15%;
                left: 30%;
                filter: drop-shadow(2rem 1.5rem .5rem rgba(0, 0, 0, .1));
                -webkit-filter: drop-shadow(2rem 1.5rem .5rem rgba(0, 0, 0, .1));
            }

            img.img-fluid:nth-child(2) {
                position: absolute;
                width: 50%;
                top: 45%;
                left: 10%;
                filter: drop-shadow(0 1rem .5rem rgba(black, .1));
                -webkit-filter: drop-shadow(0 1rem .5rem rgba(black, .1));
            }
        }
    }

    &__section--4 {
        padding: 15rem 0;

        .col-sm-6:first-child {
            img.img-fluid:first-child {
                width: 40%;
                position: absolute;
                top: 20%;
                left: -25%;
                filter: drop-shadow(2rem 1.5rem .5rem rgba(0, 0, 0, .1));
                -webkit-filter: drop-shadow(2rem 1.5rem .5rem rgba(0, 0, 0, .1));
            }

            img.img-fluid:nth-child(2) {
                width: 100%;
                position: absolute;
                top: 10%;
                left: 20%;
                filter: drop-shadow(2rem 1.5rem .5rem rgba(0, 0, 0, .1));
                -webkit-filter: drop-shadow(2rem 1.5rem .5rem rgba(0, 0, 0, .1));
            }

            img.img-fluid:nth-child(3) {
                position: absolute;
                top: 95%;
                left: -26%;
            }

            img.img-fluid:nth-child(4) {
                position: absolute;
                top: 90%;
                left: 70%;
            }
        }

        .col-sm-6:nth-child(2) {
            .subheader__prime {
                width: 40rem;
            }

            .subheader__prime:first-child {
                margin-bottom: 2.5rem;
            }
        }
    }

    &__section--5 {
        z-index: 5;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-top: -35rem;

        .subheader__prime {
            width: 75rem;
        }

        .subheader__prime:first-child {
            margin-bottom: 3rem;
        }
    }

    &__section--6 {
        overflow: hidden;
        z-index: 10;
        margin-top: -10rem;
        height: 62vh;
        position: relative;

        &>svg {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
            width: 100%;
        }

        .col-sm-6 {
            z-index: 2;
        }

        .col-sm-6:first-child {
            img {
                position: absolute;
            }

            img.img-fluid:first-child {
                width: 50%;
                top: 5vh;
                right: -50%;
                transform: translate(-50%, 50%);
            }

            img.img-fluid:nth-child(2) {
                width: 25%;
                top: 24rem;
                left: 14%;
            }

            img.img-fluid:nth-child(3) {
                width: 14%;
                top: 25rem;
                left: 52%;
            }

            img.img-fluid:last-child {
                width: 12%;
                top: 40rem;
                left: 40%;
            }
        }

        .col-sm-6:last-child {
            img {
                position: absolute;
            }

            img.img-fluid:first-child {
                width: 18%;
                top: 28rem;
                right: 50%;
            }

            img.img-fluid:nth-child(2) {
                width: 18%;
                top: 42rem;
                right: 25%;
            }

            img.img-fluid:last-child {
                width: 12%;
                top: 23rem;
                right: 22%;
            }
        }
    }

    .nu-footer {
        background-color: white;

        .container {
            .row {
                .subheader__prime {
                    color: black;
                }
            }
        }
    }

    @media (min-width: 768px) {
        .header__nav {
            a {
                color: black;
            }
        }
    }
}

@media (max-width: 1440px) {
    .referral-program {
        &__section--4 {
            .col-sm-6:first-child {
                img.img-fluid:first-child {
                    left: -22%;
                }

                img.img-fluid:nth-child(3) {
                    left: -23%;
                }
            }
        }

        &__section--5 {
            margin-top: -25rem;
        }
    }
}

@media (max-width: 1280px) {
    .referral-program {
        &__main {
            &>.svg-container {
                margin-top: 5rem;
            }
        }

        &__section--1 {
            div.col-sm-8 {
                img.img-fluid:first-child {
                    left: 38%;
                }

                .far {
                    top: -5%;
                    left: 32%;
                }
            }
        }

        &__section--4 {
            .col-sm-6:first-child {
                img.img-fluid:first-child {
                    width: 30%;
                    top: 20%;
                    left: -8%;
                }

                img.img-fluid:nth-child(2) {
                    width: 85%;
                    top: 10%;
                    left: 28%;
                }

                img.img-fluid:nth-child(3) {
                    width: 35%;
                    top: 75%;
                    left: -10%;
                }

                img.img-fluid:nth-child(4) {
                    width: 45%;
                    top: 68%;
                    left: 70%;
                }
            }
        }
    }
}

@media (max-width: 1024px),
(min-height: 1366px) {
    .referral-program {
        &__section--1 {
            background-size: 30%;

            .col-sm-8 {
                .svg-gradient-circle--1 {
                    top: -4rem;
                    right: 0rem;
                }
            }
        }

        &__section--2 {
            height: 100vh;
        }

        &__section--3 {
            height: fit-content;
        }

        &__section--4 {
            height: fit-content;

            .col-sm-6:first-child {
                img.img-fluid:first-child {
                    left: -4%;
                }

                img.img-fluid:nth-child(3) {
                    top: 67%;
                    left: -6%;
                }
            }

            .col-sm-6:nth-child(2) {
                .subheader__prime {
                    width: 36rem;
                }
            }
        }

        &__section--6 {
            margin-top: -35rem;
            height: 40vh;

            .col-sm-6:first-child {
                img.img-fluid:first-child {
                    top: 9vh;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .referral-program {
        &__section--1 {
            div.col-sm-8 {
                .svg-gradient-circle--1 {
                    top: 75%;
                    right: 35%;
                }

                .far {
                    top: -2%;
                    left: 50%;
                }

                img.img-fluid:first-child {
                    left: 70%;
                    top: 10%;
                }
            }
        }

        &__section--2 {
            height: 65vh;

            .subheader__prime {
                width: 36rem;
            }

            .col-sm-6:last-child {
                &>svg {
                    transform: scale(.75);
                }

                img.img-fluid:first-child {
                    top: 20%;
                    left: 35%;
                }

                img.img-fluid:nth-child(2) {
                    top: 20%;
                    left: 20%;
                }
            }
        }

        &__section--3 {
            margin-top: -5rem;

            .subheader__prime {
                width: 30rem;
            }

            .col-sm-6:first-child {
                &>svg {
                    transform: scale(.75);
                    margin-right: 8rem;
                }
            }

            .col-sm-6:last-child {
                margin-top: 0rem;

                img {
                    z-index: 3;
                }

                &>svg {
                    z-index: 1;
                    transform: scale(.75);
                }
            }
        }

        &__section--4 {
            padding: 12rem 0;

            .col-sm-6:first-child {
                img {
                    z-index: 3;
                }

                &>svg {
                    transform: scale(.75);
                    position: absolute;
                    left: -1.8rem;
                }

                img.img-fluid:first-child {
                    width: 24%;
                }

                img.img-fluid:nth-child(2) {
                    width: 70%;
                    top: 10%;
                    left: 25%;
                }

                img.img-fluid:nth-child(3) {
                    top: 55%;
                    width: 28%;
                }

                img.img-fluid:nth-child(4) {
                    top: 54%;
                    left: 62%;
                    width: 35%;
                }
            }

            .col-sm-6:nth-child(2) {
                .subheader__prime {
                    width: 32rem;
                }
            }
        }

        &__section--5 {
            margin-top: -20rem;

            .subheader__prime {
                width: 68rem;
            }
        }

        &__section--6 {
            .col-sm-6:first-child {
                img.img-fluid:first-child {
                    top: 13vh;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .referral-program {
        &__section--2 {
            height: 78vh;
        }

        &__section--5 {
            margin-top: -20rem;
            height: 70vh;
        }

        &__section--6 {
            margin-top: -40rem;
            height: 50vh;
        }
    }
}

@media (max-width: 640px),
(max-height: 360px) {
    .referral-program {
        &__main {
            &>.svg-container {
                margin-top: 6rem;
            }
        }

        &__section--1 {
            background-size: 24%;

            .header__prime {
                width: 44rem;
            }

            .col-sm-4 {
                .subheader__prime {
                    width: 32rem;
                }
            }

            div.col-sm-8 {
                .svg-gradient-circle--1 {
                    top: 30%;
                    right: 35%;
                }

                .far {
                    top: 0;
                    left: 95%;
                    font-size: 15rem;
                    filter: drop-shadow(0 .3rem 0 #1f8dc6);
                    -webkit-filter: drop-shadow(0 .3rem 0 #1f8dc6);
                }

                img.img-fluid:first-child {
                    left: 100%;
                    top: 0%;
                }
            }
        }

        &__section--2 {
            height: 170vh;

            .col-sm-6:last-child {
                &>svg {
                    transform: scale(.5);
                    margin-right: -15rem;
                }

                img.img-fluid:first-child {
                    left: 60%;
                }

                img.img-fluid:nth-child(2) {
                    left: 45%;
                }
            }
        }

        &__section--3 {
            .col-sm-6:first-child {
                &>svg {
                    transform: scale(.5);
                    margin-right: 16rem;
                }

                img.img-fluid:first-child {
                    top: 15%;
                    left: -10%;
                }

                img.img-fluid:nth-child(2) {
                    top: 22.5%;
                    right: 15.87%;
                }
            }

            .col-sm-6:nth-child(3) {
                margin-top: 0rem;
            }

            .col-sm-6:last-child {
                &>svg {
                    transform: scale(.5);
                }

                img.img-fluid:first-child {
                    top: 30%;
                    left: 50%;
                }

                img.img-fluid:nth-child(2) {
                    width: 40%;
                    top: 43%;
                    left: 35%;
                }
            }
        }

        &__section--4 {
            height: 135vh;

            .col-sm-6:first-child {
                &>svg {
                    transform: scale(.5);
                    position: absolute;
                    left: -9rem;
                    top: -9rem;
                }
            }

            .col-sm-6:nth-child(2) {
                .subheader__prime {
                    width: 23rem;
                }
            }
        }

        &__section--5 {
            .subheader__prime {
                width: 60rem;
            }
        }

        &__section--6 {
            margin-top: 0;
            height: 60vh;

            .col-sm-6:first-child {
                img.img-fluid:first-child {
                    top: -10vh;
                }

                img.img-fluid:nth-child(2) {
                    width: 25%;
                    top: 5rem;
                    left: 14%;
                }

                img.img-fluid:nth-child(3) {
                    width: 14%;
                    top: 5rem;
                    left: 52%;
                }

                img.img-fluid:last-child {
                    width: 12%;
                    top: 13rem;
                    left: 40%;
                }
            }

            .col-sm-6:last-child {
                img.img-fluid:first-child {
                    width: 18%;
                    top: 5rem;
                    right: 50%;
                }

                img.img-fluid:nth-child(2) {
                    width: 18%;
                    top: 12rem;
                    right: 25%;
                }

                img.img-fluid:last-child {
                    width: 12%;
                    top: 5rem;
                    right: 22%;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .referral-program {
        &__section--1 {
            div.col-sm-4 {
                bottom: 10rem;
            }

            div.col-sm-8 {
                img.img-fluid:first-child {
                    left: 70%;
                    top: 13vh;
                    width: 75%;
                }

                .far {
                    top: 6vh;
                    left: 55%;
                    font-size: 25rem;
                }
            }
        }

        &__section--2 {
            height: 60vh;
        }

        &__section--4 {
            height: 25vh;
        }

        &__section--5 {
            margin-top: 0rem;
            height: 40vh;
        }

        &__section--6 {
            height: 20vh;

            .col-sm-6:first-child {
                img.img-fluid:first-child {
                    top: -4vh;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .referral-program {
        div.col-sm-8 {
            img.img-fluid:first-child {
                left: 70%;
                top: 7vh;
                width: 55%;
            }

            .far {
                top: -3vh;
                left: 60%;
                font-size: 25rem;
            }
        }

        &__section--2 {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .subheader__prime {
                width: 44rem;
                text-align: center;
            }

            .col-sm-6:nth-child(3) {
                order: 2;

                .subheader__prime:first-child {
                    margin-bottom: 0;
                }
            }

            .col-sm-6:last-child {
                order: 1;
                margin-top: 2.5rem;

                &>svg {
                    margin-right: 2rem;
                }

                img.img-fluid:first-child {
                    top: 10%;
                    left: 37.5%;
                    width: 30%;
                }

                img.img-fluid:nth-child(2) {
                    width: 22%;
                    top: 12%;
                    left: 28%;
                }
            }
        }

        &__section--3 {
            padding-bottom: 8rem;

            .subheader__prime {
                width: 40rem;
            }

            .col-sm-6:first-child {
                &>svg {
                    display: none;
                }

                img.img-fluid:first-child {
                    width: 70%;
                    top: 0%;
                    left: 15%;
                }

                img.img-fluid:nth-child(2) {
                    top: 3.3rem;
                    right: 18.5%;
                    width: 30%;
                }
            }

            .col-sm-6:nth-child(2) {
                margin-top: 28rem;

                .subheader__prime {
                    text-align: center;
                }
            }

            .col-sm-6:nth-child(3) {
                margin-top: 0;
                order: 2;

                .subheader__prime {
                    text-align: center;
                }
            }

            .col-sm-6:last-child {
                margin-top: 2.5rem;
                order: 1;

                &>svg {
                    margin-right: 2rem;
                }

                img.img-fluid:first-child {
                    width: 30%;
                    top: 10%;
                    left: 37.5%;
                }

                img.img-fluid:nth-child(2) {
                    width: 30%;
                    top: 26%;
                }
            }
        }

        &__section--4 {
            height: 55vh;
            padding: 0;
            // padding-top: 5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;

            .col-sm-6:first-child {
                &>svg {
                    display: none;
                }

                img.img-fluid:first-child {
                    left: 4%;
                }

                img.img-fluid:nth-child(2) {
                    width: 70%;
                    top: 10%;
                    left: 30%;
                }

                img.img-fluid:nth-child(3) {
                    top: 12rem;
                    left: 2%;
                }

                img.img-fluid:nth-child(4) {
                    top: 15.5rem;
                    left: 65.5%;
                    width: 30%;
                }
            }

            .col-sm-6:nth-child(2) {
                align-items: center !important;

                .subheader__prime {
                    width: 42rem;
                    text-align: center;
                }

                .subheader__prime:first-child {
                    margin-top: 28rem;
                }
            }
        }

        &__section--5 {
            height: 15vh;

            .subheader__prime {
                width: 42rem;
            }
        }

        &__section--6 {
            height: 35vh;

            .col-sm-6:first-child {
                img {
                    &:not(:first-of-type) {
                        transform: scale(.65);
                    }
                }

                img.img-fluid:first-child {
                    width: 35%;
                    top: 5vh;
                    right: 12%;
                }

                img.img-fluid:nth-child(2) {
                    top: 17rem;
                    left: 0%;
                }

                img.img-fluid:nth-child(3) {
                    top: 16rem;
                    left: 22%;
                }

                img.img-fluid:last-child {
                    top: 26rem;
                    left: 19%;
                }
            }

            .col-sm-6:last-child {
                img {
                    transform: scale(.65);
                }

                img.img-fluid:first-child {
                    width: 18%;
                    top: 15rem;
                    right: 14%;
                }

                img.img-fluid:nth-child(2) {
                    top: 26rem;
                    right: 2%;
                }

                img.img-fluid:last-child {
                    top: 17rem;
                    right: 0%;
                }
            }
        }
    }
}

@media (max-width: 414px) {
    .referral-program {
        &__section--1 {
            background-size: 30%;

            div.col-sm-8 {
                .svg-gradient-circle--1 {
                    top: -6rem;
                    right: 35%;
                }
            }
        }

        &__section--2 {
            height: 115vh;
        }

        &__section--3 {
            margin-top: 0rem;
            padding: 5rem 0;
        }

        &__section--4 {
            .col-sm-6:first-child {
                img.img-fluid:first-child {
                    width: 20%;
                    left: 8%;
                }

                img.img-fluid:nth-child(2) {
                    width: 60%;
                    left: 30%;
                }

                img.img-fluid:nth-child(3) {
                    top: 10rem;
                    left: 6%;
                    width: 24%;
                }

                img.img-fluid:nth-child(4) {
                    top: 12rem;
                    left: 61.5%;
                }
            }

            .col-sm-6:nth-child(2) {
                .subheader__prime:first-child {
                    margin-top: 26rem;
                    margin-bottom: 1.5rem;
                }
            }
        }

        &__section--5 {
            height: 25vh;
        }

        &__section--6 {
            margin-top: -7rem;
            height: 40vh;

            .col-sm-6:first-child {
                img {
                    &:not(:first-child) {
                        transform: scale(.55);
                    }
                }
            }

            .col-sm-6:last-child {
                img {
                    transform: scale(.55);
                }
            }
        }
    }
}

@media (max-width: 412px) {
    .referral-program {
        div.col-sm-8 {
            img.img-fluid:first-child {
                top: 3vh;
            }
        }

        &__section--2 {
            padding: 3rem 0;
            height: 124vh;
        }

        &__section--5 {
            margin-top: 5rem;
        }

        &__section--6 {
            height: 44vh;
        }
    }
}

@media (max-width: 411px) {
    .referral-program {
        &__section--2 {
            height: 100vh;
        }

        &__section--5 {
            margin-top: -5rem;
        }

        &__section--6 {
            height: 32vh;

            [class^="col-sm-6"] {
                top: -3rem;
            }
        }
    }
}

@media (max-width: 384px) {
    .referral-program {
        &__section--1 {
            .header__prime {
                width: 42rem;
            }
        }

        &__section--2 {
            height: 130vh;

            .subheader__prime {
                width: 34rem;
            }
        }

        &__section--3 {
            .subheader__prime {
                width: 32rem;
            }
        }

        &__section--4 {
            height: 65vh;

            .col-sm-6:nth-child(2) .subheader__prime {
                width: 36rem;
            }
        }

        &__section--5 {
            margin-top: -3rem;
            height: 45vh;

            .subheader__prime {
                width: 32rem;
            }
        }

        &__section--6 {
            height: 36vh;

            [class^="col-sm-6"] {
                top: -7rem;
            }
        }
    }
}

@media (max-width: 375px) {
    .referral-program {
        &__section--2 {
            .col-sm-6:last-child {
                &>svg {
                    margin-right: 0rem;
                }

                img.img-fluid:first-child {
                    left: 36.5%;
                }
            }
        }

        &__section--3 {
            .col-sm-6:last-child {
                &>svg {
                    margin-right: 0rem;
                }

                img.img-fluid:first-child {
                    top: 18%;
                    left: 36.5%;
                }

                img.img-fluid:nth-child(2) {
                    width: 30%;
                    top: 33%;
                    left: 30%;
                }
            }
        }

        &__section--6 {
            .col-sm-6:first-child {
                img.img-fluid:first-child {
                    top: 10vh;
                }
            }
        }
    }
}

@media (max-width: 360px) {
    .referral-program {
        &__section--2 {
            .col-sm-6:last-child {
                &>svg {
                    margin-right: -.5rem;
                }
            }
        }

        &__section--4 {
            .col-sm-6:first-child {
                img.img-fluid:nth-child(3) {
                    top: 8.8rem;
                }

                img.img-fluid:nth-child(4) {
                    top: 10rem;
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .referral-program {
        &__section--1 {
            div.col-sm-8 {
                .svg-gradient-circle--1 {
                    top: -5rem;
                    right: 100%;
                }

                img.img-fluid:first-child {
                    left: 48rem;
                    top: 2vh;
                }

                .far {
                    top: -3vh;
                    left: 44rem;
                    font-size: 20rem;
                }
            }
        }

        &__section--2 {
            .col-sm-6:last-child {
                &>svg {
                    position: relative;
                    top: -3rem;
                    right: 3rem;
                    margin-right: -5.5rem;
                }
            }

            .col-sm-6:nth-child(3) {
                top: -6rem;
            }
        }

        &__section--3 {

            .col-sm-6:first-child {
                img.img-fluid:nth-child(2) {
                    top: 2.5rem;
                }
            }

            .col-sm-6:nth-child(2) {
                margin-top: 22rem;
            }

            .col-sm-6:nth-child(3) {
                top: -4rem;
            }

            .col-sm-6:last-child {
                &>svg {
                    position: relative;
                    top: 0;
                    right: 3rem;
                }

                margin-top: 0;
                order: 1;
            }
        }

        &__section--4 {
            height: 75vh;

            .col-sm-6:first-child {
                img.img-fluid:nth-child(3) {
                    top: 7.7rem;
                }

                img.img-fluid:nth-child(4) {
                    top: 9.5rem;
                    left: 61.5%;
                }
            }

            .col-sm-6:nth-child(2) {
                .subheader__prime {
                    width: 34rem;
                }

                .subheader__prime:first-child {
                    margin-top: 20rem;
                }
            }
        }

        &__section--5 {
            margin-top: -6rem;
        }

        &__section--6 {
            .col-sm-6:first-child {
                img.img-fluid:last-child {
                    top: 24rem;
                }
            }

            .col-sm-6:last-child {
                img.img-fluid:nth-child(2) {
                    top: 24rem;
                }
            }
        }
    }
}