.why-qudos {
    strong {
        font-weight: 600;
        color: black;
    }

    .header {
        background-color: white;

        &__btn {
            background-image: -webkit-gradient(linear, left top, right top, color-stop(4%, #083c58), color-stop(85%, #1b2430));
            background-image: -o-linear-gradient(left, #083c58 4%, #1b2430 85%);
            background-image: linear-gradient(90deg, #083c58 4%, #1b2430 85%);
        }

        &__menu {
            span {
                background-color: black;
            }
        }
    }

    .platform__btn {
        background-color: transparent;
        background-image: -webkit-gradient(linear, left top, right top, color-stop(4%, #083c58), color-stop(85%, #1b2430));
        background-image: -o-linear-gradient(left, #083c58 4%, #1b2430 85%);
        background-image: linear-gradient(90deg, #083c58 4%, #1b2430 85%);
    }

    &__section--1 {
        overflow: hidden;
        background-color: $qudos-prime-bg;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-image: url(../img/ellipse-cut.png);
        background-size: 18%;
        background-repeat: no-repeat;

        img {
            position: absolute;
        }

        img.img-fluid:first-child {
            top: -2.5rem;
            left: 60%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        img.img-fluid:nth-child(2) {
            left: 20%;
            top: 14rem;
            -webkit-animation: float 6s ease-in-out infinite;
            animation: float 6s ease-in-out infinite;
        }

        img.img-fluid:nth-child(3) {
            top: 1rem;
            left: 76%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        img.img-fluid:nth-child(4) {
            right: 0;
            top: 14rem;
            -webkit-animation: float 8s ease-in-out infinite;
            animation: float 8s ease-in-out infinite;
        }

        img.img-fluid:nth-child(5) {
            right: 12rem;
            top: 28vh;
        }
    }

    &__section--2 {
        overflow: hidden;
        position: relative;
        z-index: 19;
        background-color: white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
    }

    &__section--3 {
        overflow: hidden;
        z-index: 7;
        background-color: $qudos-bg--dark;
        margin-top: -15rem;
        padding-top: 30rem;
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);

        .subheader__prime {
            width: unset;
        }

        .image-box-shaper {
            background-color: $qudos-blue;
        }

        .image-box-shaper {
            p {
                position: absolute;
                bottom: -5rem;
                margin-bottom: 0;
                text-align: center;
                line-height: 1.8rem;
            }
        }

        h2,
        p {
            color: white;
        }
    }

    &__section--4 {
        overflow: hidden;
        margin-top: -15rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 15rem;
    }

    &__section--5 {
        overflow: hidden;
        background-color: $qudos-prime-bg;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        img {
            position: absolute;
        }

        img.img-fluid:first-child {
            z-index: 21;
            left: 50%;
            transform: translateX(-50%);
        }

        img.img-fluid:nth-child(2) {
            z-index: 19;
            top: -4rem;
            right: -5.5rem;
        }

        img.img-fluid:nth-child(3) {
            z-index: 16;
            top: -17rem;
            right: 0;
        }

        img.img-fluid:nth-child(4) {
            z-index: 17;
            bottom: -2rem;
            left: 11.5rem;
        }

        img.img-fluid:nth-child(5) {
            z-index: 22;
            top: -5rem;
            left: 16.5rem;
            animation: swing 3s ease-in-out infinite;
            filter: drop-shadow(0 5px 0 $qudos-bg--dark);
            -webkit-filter: drop-shadow(0 5px 0 $qudos-bg--dark);
        }

        .subheader__prime {
            width: unset;
        }
    }

    .svg-gradient-circle--1 {
        position: relative;
        top: -5rem;
        right: -10rem;
    }

    @media (min-width: 768px) {
        .header__nav {
            a {
                color: black;
            }
        }
    }
}

@media (max-width: 1366px) {
    .why-qudos {
        .svg-gradient-circle--1 {
            right: -5rem;
        }
    }
}

@media (max-width: 1024px) {
    .why-qudos {
        .img-fluid {
            max-width: 90%;
        }

        &__main>div.svg-container {
            margin-top: 5rem;
        }

        .svg-gradient-circle--1 {
            right: 0;
            top: 5rem;
        }

        &__section--1 {
            background-position-y: 6rem;

            .header__prime {
                width: 31rem;
            }

            img.img-fluid:nth-child(2) {
                left: 18%;
            }

            img.img-fluid:nth-child(3) {
                top: -1rem;
            }

            img.img-fluid:nth-child(5) {
                right: 9rem;
                top: 22vh;
            }
        }

        &__section--2 {
            .platform__btn {
                position: relative;
                top: 5rem;
            }
        }

        &__section--3 {
            .container {
                position: relative;
                top: 18rem;
            }
        }

        &__section--5 {
            img.img-fluid:nth-child(4) {
                bottom: 4rem;
                left: 6.5rem;
            }

            img.img-fluid:nth-child(2) {
                display: none;
            }

            img.img-fluid:nth-child(3) {
                top: -20rem;
            }

            img.img-fluid:nth-child(5) {
                top: -15rem;
                left: 6.5rem;
            }
        }
    }
}

@media (max-width: 800px) {
    .why-qudos {

        #img-hash-1ABC3 {
            width: 60%;
        }

        .image-box-shaper {
            height: 9rem;

            p {
                width: 12rem;
            }
        }

        &__section--1 {
            img.img-fluid:first-child {
                top: 5.5rem;
                left: 70%;
            }

            img.img-fluid:nth-child(2) {
                width: 25%;
                left: 30%;
                top: 18rem;
            }

            img.img-fluid:nth-child(3) {
                top: 4rem;
                left: 86%;
            }

            img.img-fluid:nth-child(4) {
                right: -20px;
                top: 20rem;
                width: 18%;
            }

            img.img-fluid:nth-child(5) {
                right: 0rem;
                top: 25vh;
                width: 16%;
            }
        }

        &__section--2 {
            .platform__btn {
                top: 12rem;
            }

            .image-box-shaper {
                p {
                    margin-bottom: -2rem;
                }

                &:not(:last-child) {
                    p {
                        bottom: -3.2rem;
                    }
                }
            }
        }

        &__section--3 {
            .image-box-shaper {
                p {
                    margin-bottom: -2rem;
                }

                &:not(:last-child) {
                    p {
                        bottom: -3.2rem;
                    }
                }
            }
        }

        &__section--4 {
            .subheader__prime {
                width: 36rem;
            }
        }

        &__section--5 {
            img.img-fluid:first-child {
                top: 12vh;
            }

            img.img-fluid:nth-child(3) {
                width: 75%;
                top: -3rem;
            }

            img.img-fluid:nth-child(4) {
                width: 70%;
                bottom: 3.5rem;
            }

            img.img-fluid:nth-child(5) {
                top: 4rem;
                left: 4.5rem;
                width: 25%;
            }
        }

        .nu-footer {
            .container {
                .row {
                    .subheader__prime {
                        width: 32rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .why-qudos {
        .svg-gradient-circle--1 {
            top: 0;
            right: 0;
        }

        .section__text {
            font-size: 1.2rem;
        }

        .subheader__prime {
            font-size: 1.8rem;
            width: 33rem;
        }

        .image-box {
            &-shaper {
                height: 9rem;

                p {
                    width: 11rem;
                }
            }
        }

        &__section--1 {
            img.img-fluid:first-child {
                top: 2.5rem;
                left: 60%;
            }

            img.img-fluid:nth-child(2) {
                width: 25%;
                left: 20%;
                top: 20rem;
            }

            img.img-fluid:nth-child(3) {
                top: 1rem;
                left: 76%;
            }

            img.img-fluid:nth-child(4) {
                width: 16%;
                right: -16px;
                top: 16rem;
            }

            img.img-fluid:nth-child(5) {
                top: 25vh;
                right: 5rem;
            }
        }

        &__section--2 {
            .platform__btn {
                top: 12rem;
            }

            .image-box {
                &-shaper {
                    p {
                        bottom: -6.6rem;
                        width: 11rem;
                    }

                    &:not(:last-child) {
                        p {
                            bottom: -3rem;
                        }
                    }
                }
            }

            #img-hash-1ABC3 {
                width: 60%;
            }
        }

        &__section--3 {
            .image-box {
                &-shaper {
                    p {
                        bottom: -4.8rem;
                        width: 11rem;
                    }

                    &:not(:last-child) {
                        p {
                            bottom: -3rem;
                        }
                    }
                }
            }

            .container {
                top: 8rem;
            }
        }

        &__section--5 {
            img.img-fluid:not(:first-child, :last-child) {
                width: 60%;
            }

            img.img-fluid:first-child {
                width: 90%;
                top: 5rem;
            }

            img.img-fluid:nth-child(3) {
                top: -11rem;
            }

            img.img-fluid:nth-child(4) {
                bottom: 5.5rem;
            }

            img.img-fluid:nth-child(5) {
                top: -4.2rem;
                left: 5.5rem;
            }

            img.img-fluid:last-child {
                width: 20%;
            }
        }
    }
}

@media (max-width: 640px) {
    .why-qudos {
        .subheader__prime {
            width: 23.3rem;
        }

        .image-box-shaper {
            height: 6rem;
            border-radius: 5px;

            &:not(:last-child) {
                margin-right: 1.5rem;
            }
        }

        &__section--1 {
            img.img-fluid:first-child {
                left: 77%;
            }

            img.img-fluid:nth-child(2) {
                width: 25%;
                left: 40%;
                top: 20rem;
            }

            img.img-fluid:nth-child(3) {
                top: 2rem;
                left: 93%;
                width: 13%;
            }

            img.img-fluid:nth-child(4) {
                top: 10rem;
                width: 15%;
                right: -15%;
            }

            img.img-fluid:nth-child(5) {
                top: 40vh;
                right: -2rem;
                width: 16%;
            }

            div.col-sm-4 {
                top: 4rem;
            }
        }

        &__section--2 {
            padding-top: 15rem;
            margin-top: 10rem;
            padding-bottom: 30rem;

            .platform__btn {
                top: 10rem;
            }

            .image-box-shaper {
                p {
                    bottom: -6.6rem;
                    width: 8rem;
                }

                &:not(:last-child) {
                    p {
                        bottom: -4.9rem;
                    }
                }
            }

            div.col-sm-6:first-child {
                top: 4.5rem;
            }
        }

        &__section--3 {
            padding-bottom: 45rem;
            margin-top: -5rem;
            padding-top: 5rem;
            margin-bottom: 15rem;

            .image-box-shaper {
                p {
                    bottom: -6.6rem;
                    width: 9rem;
                }

                &:not(:last-child) {
                    p {
                        bottom: -4.9rem;
                    }
                }
            }
        }

        &__section--4 {
            padding-bottom: 12rem;
            margin-bottom: 5rem;
            margin-top: -15rem;
            padding-top: 15rem;

            .display-4 {
                font-size: 2.8rem;
            }
        }

        &__section--5 {
            img.img-fluid:first-child {
                top: 8rem;
            }

            img.img-fluid:nth-child(3) {
                top: -5rem;
            }

            img.img-fluid:nth-child(4) {
                bottom: 3rem;
                left: 4.5rem;
            }

            img.img-fluid:nth-child(5) {
                top: 0.8rem;
                left: 3.5rem;
            }
        }
    }
}

@media (max-width: 600px) {
    .why-qudos {
        &__section--1 {
            .svg-gradient-circle--1 {
                right: 10vw;
            }

            img.img-fluid:first-child {
                left: 80%;
                width: 55%;
                top: 10.5rem;
            }

            img.img-fluid:nth-child(2) {
                left: 27%;
                top: 25vh;
            }

            img.img-fluid:nth-child(3) {
                top: 13rem;
                left: 105%;
            }

            img.img-fluid:nth-child(4) {
                top: 25vh;
                width: 15%;
                right: -30%;
            }

            img.img-fluid:nth-child(5) {
                top: 33vh;
                right: -6rem;
            }
        }

        &__section--3 {
            margin-top: -12rem;

            .container {
                top: 35vh;
            }
        }

        &__section--4 {
            margin-bottom: 0;
        }

        &__section--5 {
            img.img-fluid:nth-child(2) {
                display: block;
                width: 20%;
                top: 8rem;
                right: -3rem;
            }
        }
    }
}

@media (max-width: 480px) {
    .why-qudos {
        #img-hash-1ABC3 {
            width: 55%;
        }

        .header__prime {
            &:before {
                left: 0;
            }
        }

        &__main>div.svg-container {
            margin-top: 8rem;
        }

        .image-box {
            &-shaper {
                height: 13rem;

                &:not(:last-child) {
                    img {
                        width: 90%;
                    }
                }
            }
        }

        &__section--1 {
            background-position-y: 5rem;
            background-size: 30%;

            div.col-sm-4 {
                top: 0rem;
            }

            .svg-gradient-circle--1 {
                right: 25vw;
            }

            .subheader__prime {
                width: 32.3rem;
            }

            img.img-fluid:first-child {
                width: 30%;
                top: 5.5rem;
            }

            img.img-fluid:nth-child(2) {
                width: 18%;
                left: 44%;
                top: 16rem;
            }

            img.img-fluid:nth-child(3) {
                top: 7rem;
                left: 94%;
                width: 7%;
            }

            img.img-fluid:nth-child(4) {
                top: 20vh;
                width: 12%;
                right: -18%;
            }

            img.img-fluid:nth-child(5) {
                top: 23vh;
                right: -0.5rem;
                width: 10%;
            }
        }

        &__section--2 {
            margin-top: 0;
            padding-top: 10rem;

            .image-box-shaper {
                p {
                    width: 15rem;
                    bottom: -4.6rem;
                }

                &:not(:last-child) {
                    p {
                        bottom: -2.9rem;
                    }
                }
            }

            .platform__btn {
                margin-left: auto;
                margin-right: auto;
            }

            div.col-sm-6:first-child {
                display: flex;
                justify-content: center;

                img {
                    width: 60%;
                }
            }

            div.col-sm-6:last-child {
                .header__prime-main {
                    width: 26rem;
                    margin-top: 10rem;
                    text-align: left;
                }
            }
        }

        &__section--3 {
            margin-bottom: 0;

            .subheader__prime {
                width: 17rem;
            }

            .container {
                top: 12vh;
            }

            .header__prime-main.text-right {
                width: 26rem;
                margin-top: 5rem;
                text-align: left !important;
            }

            .image-box {
                &-shaper {
                    p {
                        width: 11rem;
                        bottom: -4.6rem;
                    }

                    &:not(:last-child) {
                        p {
                            bottom: -2.9rem;
                        }
                    }
                }
            }

            div.image-box-shaper:nth-child(2) {
                img.img-fluid {
                    width: 75%;
                }
            }

            div.col-sm-6:first-child {
                order: 2;
            }

            div.col-sm-6:last-child {
                display: flex;
                justify-content: center;

                img {
                    width: 45%;
                }
            }
        }

        &__section--4 {
            padding-top: 0;
            margin-top: 0;
            padding-bottom: 0;

            .header__prime {
                &-main {
                    margin-top: 5rem;
                    width: 30rem;
                }
            }

            .subheader__prime {
                width: 35.3rem;
            }

            div.col-sm-6:first-child {
                display: flex;
                justify-content: center;

                img {
                    width: 55%;
                }
            }
        }

        &__section--5 {
            padding-top: 32rem;

            .header__prime-main {
                width: 23rem;
            }

            .subheader__prime {
                width: 34.3rem;
            }

            div.col-sm-6:first-child {
                align-items: flex-end;
                order: 2;
            }

            img.img-fluid:first-child {
                top: -22rem;
                width: 60%;
            }

            img.img-fluid:nth-child(2) {
                width: 18%;
                top: -25rem;
                right: -1rem;
            }

            img.img-fluid:nth-child(3) {
                top: -35rem;
                width: 45%;
            }

            img.img-fluid:nth-child(4) {
                width: 55%;
                bottom: 6rem;
                left: 10.5rem;
            }

            img.img-fluid:nth-child(5) {
                top: -30.2rem;
                left: 21.5rem;
                width: 16%;
            }
        }
    }
}

@media (max-width: 414px) {
    .why-qudos {
        .image-box-container {
            justify-content: space-evenly;

            .image-box-shaper {
                height: 10rem;
                width: 10rem;
            }
        }

        &__section--2 {
            .my-5 {
                margin-top: 1rem !important;
            }

            .subheader__prime {
                margin-left: 2rem;
            }

            div.col-sm-6:first-child {
                img {
                    width: 50%;
                }
            }

            div.col-sm-6:last-child {
                .header__prime-main {
                    margin-top: 8rem;
                    margin-left: 2rem;
                }
            }
        }

        &__section--3 {
            .my-5 {
                margin-top: 1rem !important;
            }

            .subheader__prime {
                margin-left: 2rem;
            }

            div.col-sm-6:first-child {
                .header__prime-main {
                    margin-left: 2rem;
                }
            }

            div.col-sm-6:last-child {
                img {
                    width: 40%;
                }
            }
        }

        &__section--4 {
            div.col-sm-6:first-child {
                img {
                    width: 50%;
                }
            }
        }

        &__section--5 {
            img.img-fluid:nth-child(2) {
                right: 1rem;
            }

            img.img-fluid:nth-child(3) {
                right: 2.2rem;
            }

            img.img-fluid:nth-child(5) {
                left: 20.5rem;
            }
        }
    }
}

@media (max-width: 412px) {
    .why-qudos {
        .image-box-container {
            .image-box-shaper {
                height: 7rem;
                width: 7rem;
            }
        }

        &__section--1 {
            img.img-fluid:first-child {
                top: 1.5rem;
            }

            img.img-fluid:nth-child(3) {
                top: 3.5rem;
                left: 93.6%;
            }
        }

        &__section--2 {
            margin-top: 7vh;

            .platform__btn {
                top: 8rem;
            }

            .subheader__prime {
                margin-left: 4rem;
            }

            div.col-sm-6:last-child {
                .header__prime-main {
                    margin-left: 4rem;
                }
            }
        }

        &__section--3 {
            .header__prime-main.text-right {
                margin-top: 3rem;
            }

            .subheader__prime {
                margin-left: 4rem;
            }

            div.col-sm-6:first-child {
                .header__prime-main {
                    margin-left: 4rem;
                }
            }
        }

        &__section--4 {
            div.col-sm-6:first-child {
                img {
                    width: 45%;
                }
            }
        }
    }
}

@media (max-width: 411px) {
    .why-qudos {
        &__section--2 {
            margin-top: 0;

            .platform__btn {
                top: 10rem;
            }
        }

        &__section--3 {
            .container {
                top: 18vh;
            }
        }

        &__section--5 {
            div.col-sm-6:last-child {
                left: -1rem;
            }
        }
    }
}

@media (max-width: 384px) {
    .why-qudos {
        &__section--2 {
            .platform__btn {
                top: 8rem;
            }
        }

        &__section--3 {
            .container {
                top: 11vh;
            }
        }

        &__section--5 {
            img.img-fluid:nth-child(4) {
                bottom: 7rem;
                width: 50%;
                left: 11rem;
            }

            img.img-fluid:nth-child(5) {
                left: 18.5rem;
            }
        }
    }
}

@media (max-width: 360px) {
    .why-qudos {
        .image-box-shaper {
            p {
                width: 12rem;
                font-size: 1rem;
                bottom: -4.7rem;
            }
        }

        &__section--2 {
            .subheader__prime {
                margin-left: 3rem;
            }

            div.col-sm-6:last-child {
                .header__prime-main {
                    margin-left: 3rem;
                }
            }
        }

        &__section--5 {
            img.img-fluid:nth-child(4) {
                bottom: 8rem;
                width: 46%;
            }

            img.img-fluid:nth-child(5) {
                left: 17.5rem;
            }
        }
    }
}

@media (max-width: 320px) {
    .why-qudos {
        &__section--1 {
            .svg-gradient-circle--1 {
                right: 50vw;
            }

            div.col-sm-4 {
                top: 0;
            }

            img.img-fluid:first-child {
                left: 100%;
            }

            img.img-fluid:nth-child(2) {
                left: 65%;
                top: 13rem;
            }

            img.img-fluid:nth-child(3) {
                top: 3rem;
                left: 113.6%;
            }

            img.img-fluid:nth-child(4) {
                right: -35%;
            }

            img.img-fluid:nth-child(5) {
                right: -7.5rem;
            }
        }

        &__section--2 {
            div.col-sm-6:last-child {
                .header__prime-main {
                    margin-top: 7rem;
                    width: 25rem;
                }
            }

            .platform__btn {
                transform: scale(.75);
            }
        }

        &__section--4 {
            .subheader__prime {
                width: 30rem;
            }
        }

        &__section--5 {
            .mt-5 {
                margin-top: 2rem !important;
            }

            .subheader__prime {
                width: 30rem;
            }

            img.img-fluid:nth-child(2) {
                right: 3rem;
            }

            img.img-fluid:nth-child(3) {
                top: -32rem;
                width: 45%;
            }

            img.img-fluid:nth-child(4) {
                bottom: 9.5rem;
                left: 10rem;
            }

            img.img-fluid:nth-child(5) {
                top: -28rem;
                left: 15.5rem;
            }

            div.col-sm-6:first-child {
                top: -3rem;
            }
        }
    }
}