.speech-bubble {
	align-items: center;
    display: flex;
    justify-content: center;
	background: white;
	position: relative;
	max-width: 65rem;
	height: 16rem;
	border-radius: 20px;
	box-shadow: $speech-bubble-dropshadow;
	&:after {
		content: '';
		position: absolute;
		display: block;
		top: 82%;
		left: 100%;
		margin-top: -1rem;
		width: 0;
		height: 0;
		width: 0;
		height: 0;
		border: 2.9rem solid transparent;
		border-color: transparent transparent #fff #fff;
		transform-origin: 0 0;
		transform: rotate(-135deg);
		box-shadow: $speech-bubble__tri-dropshadow;
	}
}