.modal-full {
    min-width: 80%;
    margin: 0 auto;
}

.modal-full .modal-content {
    min-height: 50vh;
    border: none;
}

.modal {
    top: 15vh;
}

button.close {
    position: absolute;
    right: 15px;
    top: 30px;
    background: #308dc6;
    border-radius: 5px;
    z-index: 1;
}

.close {
    color: #ffff;
    opacity: 10;
}

.close:hover {
    color: #ffff;
}

.modal-header .close {
    padding: 5px 10px;
    margin: -1rem -1rem -1rem auto;
    border-radius: 20px;
}

.qudos-blue {
    color: #228ec8;
}

.header__prime:before {
    bottom: -2.5rem;
}

h2.header__prime {
    font-size: 3.65rem;
}

h1.header__prime:before {
    content: none !important;

}


h1.header__prime {
    margin-bottom: 1rem !important;
}


#driver-phone {
    top: 100px;
    margin-left: -50px;
    width: 25%;
}

#qudos-sign-1 {
    left: 230px;
    top: -70px;
    width: 22%;
}

#qudos-sign-5 {
    width: 20%;
}

#car-1 {
    top: 0px;
    width: 80%;
}

#car-5 {
    width: 60%;
    left: 200px;
}

#driver-with-rider {
    margin-top: -100px;
    margin-left: 200px;
}

#sec-2-img {
    /* margin-left: -100px; */
    margin-top: -60px;
}

#sec-4-img {
    width: 50%;
}

#sec-5-img {
    width: 60%;
}

#share-icon {
    width: 25%;
}

#sec-3-img {
    margin-left: 10px;
    margin-top: -50px;
    width: 75%;
}

.why-qudos__section--2 {
    margin-top: 5vh;
    height: 55vh;
}

.why-qudos__section--2-2 {
    /* margin-top: 15vh; */
    height: 55vh;
    clip-path: none;
    padding: 12vh 0;
    background: rgb(160, 222, 255);
    background: -o-linear-gradient(45deg, rgba(160, 222, 255, 1) 0%, rgba(228, 242, 240, 1) 100%);
    background: linear-gradient(45deg, rgba(160, 222, 255, 1) 0%, rgba(228, 242, 240, 1) 100%);
}

.why-qudos__section--2-3 {
    height: 55vh;
    clip-path: none;
    padding: 12vh 0vh;
}

#share-icon {
    margin-bottom: 150px;
}

.why-qudos__section--5 {
    background: #228ec9;
    height: 80vh;
}

.why-qudos__section--5 p,
.why-qudos__section--5 h2,
.why-qudos__section--5 strong {
    color: #fff;
}

#car-5 {
    top: 120px;
}

.section-top-curve {
    height: 10vh;
    background: url("../../__assets/img/start/top-curve.svg") top no-repeat;
    margin-bottom: -10px;
}

.nu-footer {
    background-color: #0d111c;
}

.nu-footer p {
    color: #fff !important;
}

#like-icon {
    margin-left: 30px;
    animation: none;
}

.why-qudos__section--1 img.img-fluid:nth-child(2) {
    animation: none;
}

.why-qudos__section--2-2 .subheader__prime {
    width: 100%;
}

.why-qudos__section--2 .platform__btn {
    top: 0px;
}

.nu-footer p {
    color: #fff !important;
}

@media (max-width:1366px) {
    #car-5 {
        width: 60%;
        left: 200px;
    }

    #qudos-sign-5 {
        width: 20%;
    }

    #like-icon {
        left: 180px;
    }

    .why-qudos__section--2 {
        height: 90vh;
    }

    .why-qudos__section--2-2 {
        height: 60vh;
    }

    .why-qudos__section--2-3 {
        height: 50vh;
    }

    .why-qudos__section--5 {
        height: 80vh;
    }
}

@media (max-width:1024px) {
    .why-qudos__section--2 .platform__btn {
        top: 20px;
    }

    #car-5 {
        width: 80%;
        top: 120px;
        left: 120px;
    }

    #sec-2-img {
        margin-left: 0;
    }

    #sec-3-img {
        margin-left: 60px;
    }

    #sec-5-img {
        top: 100px;
        left: 190px;
    }

    #driver-phone {
        width: 20%;
    }

    #like-icon {
        top: 36px;
        left: 106px;
    }

    .why-qudos__section--2 {
        margin-top: 0vh;
        height: 90vh;
    }

    .why-qudos__section--2-2 {
        margin-top: 10vh;
        height: 65vh;
    }

    .why-qudos__section--2-3 {
        height: 60vh;
    }

    .why-qudos__section--5 {
        height: 100vh;
    }
}

@media(max-width:768px) {

    #qudos-sign-1 {
        top: 0px;
        left: 180px;
    }

    #car-5 {
        left: 90px;
    }

    #sec-5-img {
        left: 130px;
    }

    #like-icon {
        margin-left: -20px;
    }
}

@media (max-width:480px) {
    .why-qudos__section--1 .header__prime {
        width: 100%;
    }

    .svg-gradient-circle--1 {
        left: -60%;
        margin-top: -20%;
    }

    #header-title {
        margin-top: 0px;
        margin-bottom: 100px;
    }

    .subheader__prime #header-title {
        font-size: 3rem;
    }

    .why-qudos__section--2 .platform__btn {
        top: 50px;
    }

    #qudos-sign-1 {
        left: 90%;
        top: 1%;
        width: 17%;
    }

    #qudos-sign-5 {
        right: 30px;
        width: 17%;
    }

    #car-1 {
        left: 110%;
        top: -21px;
        width: 85%;
    }

    #car-5 {
        width: 50%;
        top: -146px;
        left: 110px;
    }

    #driver-phone {
        margin-top: -3%;
        left: 135%;
        width: 18%;
    }

    .why-qudos__section--1 .col-sm-4 {
        top: -20px !important;
    }

    #sec-2-img {
        /* margin-top:5rem; */
        margin-left: 0;
        width: 310px;
        height: 275px;
    }

    #sec-3-img {
        width: 60%;
        margin-left: 10vh;
        margin-top: 0px;
        margin-bottom: 4rem;
    }

    #sec-4-img {
        width: 50%;
        margin-top: 8rem;
        margin-bottom: 4rem;
    }

    #sec-5-img {
        top: -150px;
        width: 40%;
        left: 160px;
    }

    #like-icon {
        margin-left: 20px;
        top: -190px;
    }

    #share-icon {
        width: 20%;
        margin-left: 30px;
    }

    .why-qudos__section--2-2 .d-flex {
        order: 2;
    }

    .why-qudos__section--2 .subheader__prime,
    .why-qudos__section--3 .subheader__prime,
    .why-qudos__section--2 div.col-sm-6:last-child .header__prime-main {
        margin-left: 0;
    }

    .why-qudos__section--2 .platform__btn {
        top: 4rem;
    }

    .why-qudos .subheader__prime {
        width: 100%;
    }

    .why-qudos__section--2 {
        height: 100vh;
        padding-bottom: 200px;
    }

    .why-qudos__section--2-2 {
        height: 70vh;
    }

    .why-qudos__section--2-3 {
        height: 80vh;
    }

    .why-qudos__section--5 {
        height: 90vh;
    }

    .why-qudos__section--5 div.col-sm-6:first-child {
        margin-top: 4rem;
    }

}

@media (max-width:375px) {
    .svg-gradient-circle--1 {
        left: -60%;
        margin-top: -25%;
    }

    .why-qudos__section--2 {
        margin-top: 5vh;
        height: 100vh;
    }

    .why-qudos__section--2-2 {
        margin-top: 0vh;
    }

    #driver-phone {
        top: 80px;
    }
}

@media (max-width:320px) {
    #header-title .header__prime {
        font-size: 3rem;
        line-height: 4.3rem;
    }

    .svg-gradient-circle--1 {
        left: -70%;
        margin-top: -40%;
    }

    #qudos-sign-1 {
        left: 98%;
        top: 4%;
    }

    #car-1 {
        left: 90%;
        top: 120px;
    }

    #driver-phone {
        margin-top: 3%;
        left: 145%;
        width: 18%;
    }

    #sec-2-img {
        width: 250px;
        height: 250px;
        margin-top: 150px;
    }

    #car-5 {
        left: 90px;
    }

    .why-qudos__section--2-2 {
        height: 80vh;
    }

    .why-qudos__section--2-3 {
        height: 90vh;
    }

    .why-qudos__section--5 {
        height: 90vh;
    }
}


/*==============================
  Experience
==============================*/

.experience {
    padding-top: 415px;
    background: url("../img/experience/pattern--mobile.png") repeat top center #fff;
}

.experience__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.experience__wrap:before {
    content: '';
    position: absolute;
    display: block;
    height: 450px;
    left: -15px;
    right: -15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-image: -moz-linear-gradient(180deg, #f2f3f5 0%, #e5effa 35%, #d8eafe 100%);
    background-image: -webkit-linear-gradient(180deg, #f2f3f5 0%, #e5effa 35%, #d8eafe 100%);
    background-image: -ms-linear-gradient(180deg, #f2f3f5 0%, #e5effa 35%, #d8eafe 100%);
    background-image: linear-gradient(180deg, #f2f3f5 0%, #e5effa 35%, #d8eafe 100%);
    z-index: 1;
}

.experience__box {
    padding: 25px 0 35px;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-image: -moz-linear-gradient(180deg, #3d414d 0%, #232331 36%, #080514 100%);
    background-image: -webkit-linear-gradient(180deg, #3d414d 0%, #232331 36%, #080514 100%);
    background-image: -ms-linear-gradient(180deg, #3d414d 0%, #232331 36%, #080514 100%);
    background-image: linear-gradient(180deg, #3d414d 0%, #232331 36%, #080514 100%);
    position: relative;
    z-index: 2;
    max-width: 380px;
}

.experience__box img {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.experience__box h3 {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    display: block;
    text-align: center;
    padding: 0 30px;
    margin: 0;
}

.experience__box a {
    width: 240px;
    height: 50px;
    line-height: 50px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
    background-color: #1f8dc6;
    text-align: center;
    margin-top: 20px;
}



@media (max-width: 375px) {
    #sec-2-img {
        margin-left: 0;
        width: 310px;
        height: 250px;
    }

    #sec-3-img {
        width: 60%;
        margin-left: 10vh;
        margin-top: 0px;
        margin-bottom: 4rem;
    }

    .why-qudos__section--2-2 {
        height: 100vh;
    }

    .why-qudos__section--2-3 {
        height: 100vh;
        margin-top: -10vh;
    }
}



@media (min-width: 480px) {
    .experience__wrap:before {
        left: -30px;
        right: -30px;
    }
}

@media (min-width: 768px) {
    .experience {
        padding-top: 65px;
        background: url(../img/experience/pattern.png) repeat top center #fff;
    }

    .experience__wrap:before {
        left: 120px;
        right: 120px;
    }
}

@media (min-width: 992px) {
    .experience__wrap {
        flex-direction: row;
    }

    .experience__wrap:before {
        height: 410px;
        left: 20px;
        right: 20px;
        top: 110px;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    .experience__box {
        margin: 30px 40px 60px;
        max-width: 360px;
        width: 360px;
    }
}

@media (min-width: 1200px) {
    .experience {
        padding-top: 100px;
    }

    .experience__box {
        margin: 35px 60px 60px;
    }

    .experience__wrap:before {
        left: 40px;
        right: 40px;
    }
}

.qudos_expbutton {
    outline: none;
    border: none;
    /* padding: 20px; */
    display: block;
    margin: 50px auto 0px;
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    position: relative;
    border-radius: 10px;
    background: #1f8dc6;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.effect {
    overflow: hidden;
}

.effect span {
    color: #fff;
    display: inline-block;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}


.effect .icon {
    position: absolute;
    left: -60px;
    /* top: -20px; */
    color: #fff;
    padding: 25px;
    background-color: #1f8dc6;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    background: url('../img/qudos_driver.png') center center;
    background-size: 55px;
    background-repeat: no-repeat;
}

.effect:hover .icon {
    left: 0px;
}

.effect .icon2 {
    position: absolute;
    left: -60px;
    /* top: -20px; */
    color: #fff;
    padding: 25px;
    background-color: #1f8dc6;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    background: url('../img/qudos_rider.png') center center;
    background-size: 55px;
    background-repeat: no-repeat;
}

.effect:hover .icon2 {
    left: 0px;
}

.effect:hover span {
    color: #fff;
    margin-left: 50px;
}

section#experience {
    padding: 0px !important;
}

.modal-content {
    background: transparent;
}


.modal-header {
    border-bottom: none !important;

}


@media (max-width:414px) {
    .why-qudos__section--1 .header__prime {
        width: 100%;
    }

    .svg-gradient-circle--1 {
        left: -25%;
        margin-top: 0%;
    }

    #header-title {
        margin-top: 0px;
        margin-bottom: 100px;
    }

    .subheader__prime #header-title {
        font-size: 3rem;
    }

    .why-qudos__section--2 .platform__btn {
        top: 50px;
    }

    #qudos-sign-1 {
        left: 90%;
        top: 1%;
        width: 17%;
    }

    #qudos-sign-5 {
        right: 30px;
        width: 17%;
    }

    #car-1 {
        left: 75%;
        top: -30px;
        width: 65%;
    }

    #car-5 {
        width: 50%;
        top: -146px;
        left: 110px;
    }

    #driver-phone {
        margin-top: -3%;
        left: 135%;
        width: 18%;
    }

    .why-qudos__section--1 .col-sm-4 {
        top: -20px !important;
    }

    #sec-2-img {
        /* margin-top:5rem; */
        margin-left: 0;
        width: 310px;
        height: 230px;
    }

    #sec-3-img {
        width: 60%;
        margin-left: 10vh;
        margin-top: 0px;
        margin-bottom: 4rem;
    }

    #sec-4-img {
        width: 50%;
        margin-top: 8rem;
        margin-bottom: 4rem;
    }

    #sec-5-img {
        top: -150px;
        width: 40%;
        left: 160px;
    }

    #like-icon {
        margin-left: 20px;
        top: -190px;
    }

    #share-icon {
        width: 20%;
        margin-left: 30px;
    }

    .why-qudos__section--2-2 .d-flex {
        order: 2;
    }

    .why-qudos__section--2 .subheader__prime,
    .why-qudos__section--3 .subheader__prime,
    .why-qudos__section--2 div.col-sm-6:last-child .header__prime-main {
        margin-left: 0;
    }

    .why-qudos__section--2 .platform__btn {
        top: 4rem;
    }

    .why-qudos .subheader__prime {
        width: 100%;
    }

    .why-qudos__section--2 {
        height: 100vh;
        padding-bottom: 50px;
    }

    .why-qudos__section--2-2 {
        height: 90vh;
    }

    .why-qudos__section--2-3 {
        height: 90vh;
    }

    .why-qudos__section--5 {
        height: 90vh;
    }

    .why-qudos__section--5 div.col-sm-6:first-child {
        margin-top: 4rem;
    }

    .why-qudos__section--2-2 .platform__btn {
        margin-left: auto;
        margin-right: auto;

    }

    .why-qudos__section--2-3 .platform__btn {
        margin-left: auto;
        margin-right: auto;
    }

    .why-qudos__section--2-3 {
       
        clip-path: none;
        padding: inherit;
    }

}



@media (max-width:375px) {
    .why-qudos__section--1 .header__prime {
        width: 100%;
    }

    .svg-gradient-circle--1 {
        left: -40%;
        margin-top: -7%;
    }

    #header-title {
        margin-top: 0px;
        margin-bottom: 100px;
    }

    .subheader__prime #header-title {
        font-size: 3rem;
    }

    .why-qudos__section--2 .platform__btn {
        top: 50px;
    }

    #qudos-sign-1 {
        left: 90%;
        top: 1%;
        width: 17%;
    }

    #qudos-sign-5 {
        right: 30px;
        width: 17%;
    }

    #car-1 {
        left: 90%;
        top: -55px;
        width: 65%;
    }

    #car-5 {
        width: 50%;
        top: -146px;
        left: 110px;
    }

    #driver-phone {
        margin-top: -3%;
        left: 135%;
        width: 18%;
    }

    .why-qudos__section--1 .col-sm-4 {
        top: -20px !important;
    }

    #sec-2-img {
        /* margin-top:5rem; */
        margin-left: 0;
        width: 310px;
        height: 230px;
    }

    #sec-3-img {
        width: 60%;
        margin-left: 10vh;
        margin-top: 0px;
        margin-bottom: 4rem;
    }

    #sec-4-img {
        width: 50%;
        margin-top: 8rem;
        margin-bottom: 4rem;
    }

    #sec-5-img {
        top: -150px;
        width: 40%;
        left: 160px;
    }

    #like-icon {
        margin-left: 20px;
        top: -190px;
    }

    #share-icon {
        width: 20%;
        margin-left: 30px;
    }

    .why-qudos__section--2-2 .d-flex {
        order: 2;
    }

    .why-qudos__section--2 .subheader__prime,
    .why-qudos__section--3 .subheader__prime,
    .why-qudos__section--2 div.col-sm-6:last-child .header__prime-main {
        margin-left: 0;
    }

    .why-qudos__section--2 .platform__btn {
        top: 4rem;
    }

    .why-qudos .subheader__prime {
        width: 100%;
    }

    .why-qudos__section--2 {
        height: 100vh;
        padding-bottom: 50px;
    }

    .why-qudos__section--2-2 {
        height: 90vh;
    }

    .why-qudos__section--2-3 {
        height: 90vh;margin-top: 0vh;
    }

    .why-qudos__section--5 {
        height: 90vh;
    }

    .why-qudos__section--5 div.col-sm-6:first-child {
        margin-top: 4rem;
    }

    .why-qudos__section--2-2 .platform__btn {
        margin-left: auto;
        margin-right: auto;

    }

    .why-qudos__section--2-3 .platform__btn {
        margin-left: auto;
        margin-right: auto;
    }

    .why-qudos__section--2-3 {
       
        clip-path: none;
        padding: inherit;
    }

}