.footer {
    display: block;
    position: relative;
    background-color: $qudos-milk;
    color: $qudos-darkmilk;

    &__copyright {
        position: relative;
        display: block;
        padding: 3.5rem 0;
        margin-top: 5rem;

        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 1px;
            opacity: 0.05;
            top: 0;
            left: 0;
            background-image: linear-gradient(-35deg, #000000 0%, #000000 100%);
        }
    }

    &__link {
        display: inline-block;
        float: right;
        font-size: 12px;
        color: $qudos-darkmilk;
        line-height: 18px;
        opacity: 0.52;

        &:hover {
            color: black;
        }
    }

    &__list {
        margin-bottom: 3.5rem;
        text-align: left;
        a {
            display: inline-block;
            margin-top: 1.5rem;
            font-size: 1.2rem;
            color: $qudos-darkmilk;
            text-decoration: none;

            &:hover {
                color: $qudos-darkmilk;
            }
        }

        li {
            display: block;
        }
    }

    &__logo {
        display: inline-block;
        position: absolute;
        bottom: 100%;
        margin-bottom: 4rem;

        object {
            width: 12.6rem;
        }
    }

    &__rights {
        display: none;
    }

    &__small {
        font-size: 1.2rem;
        display: inline-block;
        text-align: left;
        color: $qudos-darkmilk;
        line-height: 1.8rem;
        opacity: 0.52;
    }

    &__social {

        a {
            color: $qudos-dark;
            opacity: 0.52;
            font-size: 3rem;

            &:hover {
                opacity: 1;
            }
        }

        li {
            margin-top: 3rem;
        }
    }

    &__text {
        font-size: 1.2rem;
        line-height: 2.6rem;
        color: $qudos-darkmilk;
        margin-top: .5rem;
        text-align: left;
        a {
            text-decoration: none;
            color: $qudos-darkmilk;

            &:hover {
                color: $qudos-darkmilk;
            }
        }
    }

    &__title {
        display: block;
        font-size: 1.6rem;
        font-weight: 500;
        text-align: left;
        &--connect {
            text-align: center;
        }
    }


}



