.section {
    height: 70rem;
    max-height: 70rem;
    align-items: center;
    display: flex;
    justify-content: center;

    p,
    li {
        font-size: 2.4rem;
    }

    ul {
        color: $qudos-blue;
        padding-left: 2rem;
    }

    li {
        a {
            font-weight: 500;
            color: $qudos-blue;
        }
    }

    h1 {
        font-size: 3.6rem;
        margin-bottom: 5rem;
    }

    strong {
        font-weight: 500;
    }
}

.higher-index {
    z-index: 2;
    position: relative;
}

.image-after,
.image-before {
    position: absolute;
}

.section-wrapper {
    position: relative;
}

.section-two {
    p {
        margin-bottom: 6rem;
    }

    .image-before {
        right: 2rem;
        transition: all;
        z-index: 3;
        animation: fadeIn 2s ease 2s 2 backwards;
    }

    .image-after {
        bottom: -5.5rem;
        right: -10rem;
        z-index: 2;
        animation: fadeIn 2s ease-in 1s backwards;
    }
}

.section-three {
    background-color: $qudos-darkblue;
    background-image: url(../../img/section-three__main-image-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 18.5rem;

    .image-before {
        left: -10rem;
        bottom: 6rem;
        z-index: 1;
    }

    h1,
    p {
        color: white;
    }

    p {
        margin-bottom: 2rem;
    }
}

.section-four {
    background-image: url(../../img/section-four__main-image-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-position-x: 117rem;

    .image-before {
        z-index: 2;
        right: 100px;
    }
}

.section-five {
    background-image: $qudos-gradient--dark;

    h1,
    p {
        color: white;
    }

    p {
        margin-bottom: 2rem;
    }

    .image-before {
        left: -194px;
        bottom: 100px;
        z-index: 1;
    }
}

.section-six {
    p {
        margin-bottom: 2rem;
    }
    .image-before {
        bottom: 0;
        right: 0;
    }
}

.section-seven {
    background-color: $qudos-dark;
    background-image: url(../../img/section-three__main-image-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 18.5rem;

    h1,
    p {
        color: white;
    }

    p {
        margin-bottom: 2rem;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}