.h3{
    font-size:2.5rem !important;
}
#guy-1{
    width:35%;
    left:270px;
    top:0px;
}
#phone-1{
    width:10%;
}
#calendar-1{
    top:250px;
    left:420px;
    width:20%;
}
#car-1{
    width:25%;
    top:290px;
    left:200px;
}
#like-1{
    width:15%;
    top:140px;
    left:600px;
}
.subheader__prime{
    width: 100%;
}
#sec-2-img{
    width:70%;
    margin-left:20%;
}
#sec-2-free{
    position: absolute;
    left:70px;
    top:80px;
    width:30%;
}
#sec-3-img{
    width: 70%;
    margin-left:20%;
}
#sec-6-img{
    width: 80%;
    margin-left:20%;
}
#sec-7-img{
    width: 70%;
    margin-top:-50px;
    margin-left:10%;
}
#sec-8-img{
    width: 60%;
    margin-top:50px;
    margin-left:20%;
}
#sec-9-img{
    width: 50%;
    margin-top:10px;
    margin-left:30%;
}
#sec-10-img{
    width: 70%;
    margin-top:10px;
    margin-left:20%;
}
#laptop-sec-12{
    top:10px;
    left:100%;
}
#sec-12-img{
    top:-20px;
    width:25%;
    left:200px;
}
#tablet-sec-12{
    top:-70px;
    width:70%;
}
.why-qudos__section--2{
    height:60vh !important;
}
.why-qudos__section--2-2{
    height:40vh !important;
}
.why-qudos__section--2-3{
    height:40vh !important;
}
.why-qudos__section--2-3 ol li{
    list-style: disc;
}
.why-qudos__section--2-4{
    height: 80vh !important;
    background: #228ec8;
}
.why-qudos__section--2-5{
    height: 35vh !important;
}
.why-qudos__section--2-6{
    height: 30vh !important;
}
.why-qudos__section--2-7{
    height: 35vh !important;
}
.why-qudos__section--2-8{
    height: 25vh !important;
}
.why-qudos__section--2-9{
    height: 40vh !important;
}
.why-qudos__section--2-10{
    height: 40vh !important;
}
.why-qudos__section--5{
    background: #030d19;
    height:70vh !important;
}
#sec-4-img-1{
    margin-left:7%;
    //margin-bottom:50px !important;
    width:22%;
}
#sec-4-img-2{
    top:100px !important;
    width:17%;
    margin-left:11%;
}
#sec-4-img-3{
    //margin-bottom:50px !important;
    width:20%;
    margin-left:14%;
}
#sec-11-img-1{
    top:50px;
    width:100%;
}
#sec-11-img-2{
    left:250px;
    top:20px;
    width:25%;
}

.section-top-curve{
    height:130px;
    background: url("../../__assets/img/start/top-curve.svg") top no-repeat;
    margin-bottom:-10px;
}
.section-top-curve-dark{
    height:80px;
    background: url("../../__assets/img/corporate/top-curve-dark.svg") top no-repeat;
    margin-bottom:-10px;
}
.section-bottom-curve{
    height:120px;
    background: url("../../__assets/img/corporate/bottom-curve.svg") no-repeat;
    background-position: center;
    margin-top:-10px;
}
#road-marker{
    top:25px;
}
.image-box-shaper{
    margin-left:30%;
    height:13rem;
    width: 13rem;
}
.card-dark{
    background: #233041;
    padding:15px 30px;
    border-radius:1em;
}
.why-qudos__section--2-10 img{
    position: absolute;
}
.text-dark li a:first-child,.text-dark span, .text-dark p, .text-dark a
,.text-dark li i:first-child
{
    color: #000 !important;
}
.text-small{
    font-size:2rem;
    line-height: 1.2;
}
.footer{
    background: #fff;
}
.circle-gradient{
    position: absolute;
    left:30%;
    height:70vh;
    width: 70%;
    background-image: radial-gradient(circle , #06254d 5%,#030d19 40% ,#030d19 95%);
}
.watermark{
    width:50%;
}
#schedule-watermark{
    position: absolute;
    height:40vh;
    width:100%;
    background: url("../../__assets/img/corporate/schedule-watermark.png");
}